@import '../../styles/variables';

$cell-padding: 8px;
$table-border-color: #eee;

.ngx-datatable-wrapper {
  background: $white-color;
  padding: 15px 8px;
}

.ngx-datatable {
  overflow: visible !important;
  color: $grey-color;
  font-size: 13px;

  .checkbox {
    margin-top: 5px;
    margin-bottom: 0;
  }

  .datatable-header {
    border-bottom-color: $table-row-active;
    color: $table-header;
    border-bottom: 2px solid $table-border-color;
    text-align: center;

    .datatable-header-cell {
      padding: $cell-padding;
    }
  }

  .datatable-body-row {
    border: 1px solid transparent;
    border-bottom-color: $table-border-color;
    &:nth-last-child {
      border-bottom-color: transparent;
    }

    &:hover {
      border-color: $table-row-hover-border;
      background-color: $table-row-hover;
    }
  }

  .datatable-body-cell {
    padding: $cell-padding;
    text-align: center;
  }

  .datatable-footer {
    .datatable-pager {
      a {
        padding: 0;
        border-color: transparent;
      }
    }
  }
}
