<section style="padding: 40px;">
  <header>
    <div class="" style="height: initial; text-transform:none; font-size: 1em; text-align: left; display: flex;padding: 10px;">
        <div style="width: 50px;"><i class="fa fa-server" aria-hidden="true" style="font-size: 1.2em;"></i></div>
        <div style="flex-grow: 1;">
          <div style="text-transform: uppercase; font-size: 1.2em; font-weight: bold;">Add datalakes</div>
          <p>desc.</p>
        </div>
      </div>
  </header>
  <div>
    <div class="dp-input">
      <label for="location" style="display: block;">Name</label>
      <input class="" type="text" placeholder="Name" name="name" id="name" [(ngModel)]="lake.name" required/>
    </div>
    <div class="dp-input dp-input--typeahead">
      <label for="location" style="display: block;">Location</label>
      <input ngui-auto-complete
        [min-chars]=3
        [(ngModel)]="location" 
        [source]="getLocations.bind(this)"
        [value-formatter]="locationFormatter"
        [list-formatter]="locationFormatter"
        [no-match-found-text]="'No locations found'"
        placeholder="Location"
        (valueChanged)="onSelectLocation(location)"/>
    </div>
    <div class="dp-input">
      <label for="description" style="display: block;">Description</label>
      <input class="" type="text" placeholder="Description" name="description" id="description" [(ngModel)]="lake.description" required/>
    </div>
    <div class="dp-input">
      <label for="uri">Cluster URI</label>
      <span for="uri" style="float:right;cursor:pointer;text-decoration:underline;color:#5bc0de" (click)="doVerifyCluster($event)">Test Connection</span>
      <input class="" type="text" placeholder="URI" name="uri" id="uri" [(ngModel)]="lake.ambariUrl" (focusout)="doVerifyCluster($event)" required/>
      <i class="fa fa-times dp-input__icon" style="color:red" aria-hidden="true" *ngIf="_isClusterValidateSuccessful === false && _isClusterValidateInProgress === false"></i>
      <i class="fa fa-check dp-input__icon" style="color:green" aria-hidden="true" *ngIf="_isClusterValidateSuccessful && _isClusterValidateInProgress === false"></i>
      <i class="fa fa-spinner dp-input__icon" aria-hidden="true" *ngIf="_isClusterValidateInProgress"></i>
    </div>
  </div>
  <footer class="" style="">
    <button type="button" class="mdl-button mdl-button--colored mdl-color--green mdl-color-text--white mdl-js-button mdl-js-ripple-effect" (click)="onCreate()">
      Add
    </button>
    <button type="button" class="mdl-button mdl-button--colored mdl-color--grey-500 mdl-color-text--white mdl-js-button mdl-js-ripple-effect" (click)="onCancel()">
      Cancel
    </button>
  </footer>
</section>
