.dataplane-logo-image {
    margin: 0 auto;
}
button {
    width: 300px;
}
.mdl-card__title {
    height: 135px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.mdl-card {
    top: 20vh;
    width: 445px;
    height: 400px;
}
input {
    border: 1px solid rgba(0,0,0,.12);
}
.mdl-card__actions {
    border: none;
}