<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col mdl-cell--4-offset">
    <div class="mdl-typography--text-center mdl-card mdl-shadow--6dp">
      <div class="mdl-card__title mdl-color--grey-200">
        <img class="dataplane-logo-image" src="../../assets/images/ui_logo.svg">
      </div>
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="mdl-card__supporting-text">

          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" placeholder="Username" name="username" id="username" [(ngModel)]="model.name" #username="ngModel" required/>
          </div>
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="password" placeholder="Password" name="userpass" id="userpass" [(ngModel)]="model.password" #userpass="ngModel" required/>
          </div>

        </div>
        <div class="mdl-card__actions mdl-card--border">
          <button type="submit" class="mdl-button mdl-button--colored mdl-color--green mdl-color-text--white mdl-js-button mdl-js-ripple-effect">
            Log in
          </button>
          <div *ngIf="statusMessage === 'SESSIONEXPIRED'" class="mdl-mega-footer__bottom-section mdl-color-text--red">Session expired please login again</div>
        </div>
      </form>
    </div>
  </div>
</div>
