<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <bread-crumb></bread-crumb>
        <div class="mdl-typography--headline mdl-typography--font-light mdl-color-text--green">Add Data Set</div>
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col">
                <div class="mdl-typography--body-1"> Name </div>
                <input type="text" [(ngModel)]="dataSet.name">
                <div class="mdl-typography--body-1"> Pemissions </div>
                <input type="text" [(ngModel)]="dataSet.permissions">
                <div class="mdl-typography--body-1"> Category </div>
                <input type="text" [(ngModel)]="dataSet.category">
            </div>
            <div class="mdl-cell mdl-cell--5-col">
                <div class="mdl-typography--body-1"> Description </div>
                <textarea rows="6" style="width:100%;" [(ngModel)]="dataSet.description"> </textarea>
            </div>
            <div class="mdl-layout-spacer"></div>
        </div>

        <br>

        <div class="mdl-grid config-bgcolor">
            <div class="mdl-cell mdl-cell--4-col">
                <div class="mdl-typography--body-2">Data Lake</div>
                <span class="select-wrap">
                    <drop-down>
                        <select  #dataCeneterName (change)="onDataCenterChange(dataCeneterName.value)" [(ngModel)]="dataSet.dataCenter">
                            <option value="" selected [value]="'new'">Select</option>
                            <option *ngFor="let dataCenter of dataCenters" [value]="dataCenter.name"> {{ dataCenter.name }} </option>
                        </select>
                    </drop-down>
                </span>
                <div class="mdl-typography--body-2"> Cluster IP Address/URL </div>
                <drop-down>
                    <select [(ngModel)]="dataSet.ambariHost">
                        <option value="" selected [value]="'new'">Select</option>
                        <option *ngFor="let ambari of ambarisInDatacenter" [value]="ambari.host">
                            {{ getAmbariHostName(ambari) }}
                        </option>
                    </select>
                </drop-down>
            </div>
            <div class="mdl-cell mdl-cell--4-col">
                <div id="map" class="map"> </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col help-text">

                <i class="fa fa-lightbulb-o" aria-hidden="true"></i><span class="mdl-typography--body-2 mdl-color-text--green"> Help </span>
                <p> {{ dataCenterHelp2 }}</p>

            </div>
        </div>

        <div class="mdl-grid mdl-grid--no-spacing vertical-tab-pane">
            <div class="mdl-cell mdl-cell--2-col vertical-tab-navigation">
                <div class="mdl-vertical-tabs__tab-bar">
                    <ul class="demo-list-item mdl-list">
                        <li class="mdl-list__item" [ngClass]="{'is-active': activeTab === tab.HIVE}" (click)="activeTab = tab.HIVE">
                            <span class="mdl-list__item-primary-content">HIVE</span>
                            <a class="btn-default" href="#" (click)="addFilter($event, 'hive')"><i class="fa fa-filter"></i> ADD </a>
                        </li>
                        <li class="mdl-list__item" [ngClass]="{'is-active': activeTab === tab.HBASE}" (click)="activeTab = tab.HBASE">
                            <span class="mdl-list__item-primary-content">HBASE</span>
                            <a class="btn-default" href="#" (click)="addFilter($event, 'hbase')"><i class="fa fa-filter"></i> ADD </a>
                        </li>
                        <li class="mdl-list__item" [ngClass]="{'is-active': activeTab === tab.HDFS}" (click)="activeTab = tab.HDFS">
                            <span class="mdl-list__item-primary-content">Files</span>
                            <a class="btn-default" href="#" (click)="addFilter($event, 'hdfs')"><i class="fa fa-filter"></i> ADD </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--10-col vertical-tab-content">
                <div class="mdl-vertical-tabs__content-bar">
                    <div *ngIf="activeTab === tab.HIVE">
                        <div *ngFor="let hiveFilterWrapper of hiveFiltersWrapper" style="margin-bottom: 15px;">
                            <data-plane-search [searchParamWrappers]="hiveSearchParamWrappers" (searchFilters)="addFilterAndSearch($event, hiveFilterWrapper, 'hive')" [dataSource]="'hive'"> </data-plane-search>
                            <table style="width: 100%" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" *ngIf="hiveFilterWrapper.data.length > 0">
                                <thead>
                                <tr>
                                    <th class="mdl-data-table__cell--non-numeric">NAME</th>
                                    <th class="mdl-data-table__cell--non-numeric">OWNER</th>
                                    <th class="mdl-data-table__cell--non-numeric">CREATE TIME</th>
                                    <th class="mdl-data-table__cell--non-numeric">NUM OF ROWS</th>
                                    <th class="mdl-data-table__cell--non-numeric">TABLE TYPE</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let hiveTable of hiveFilterWrapper.data">
                                    <td class="mdl-data-table__cell--non-numeric">{{ hiveTable.name }}</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{ hiveTable.owner }}</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{ hiveTable.createTime }}</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{ hiveTable.parameters.numRows }}</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{ hiveTable.tableType }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div *ngIf="activeTab === tab.HBASE">
                        <div *ngFor="let hbaseFilterWrapper of hbaseFiltersWrapper">
                            <data-plane-search [searchParamWrappers]="hbaseSearchParamWrappers" (searchFilters)="addFilterAndSearch($event, hbaseFilterWrapper, 'hbase')" [dataSource]="'hbase'"> </data-plane-search>
                            <table style="width: 100%" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" *ngIf="hbaseFilterWrapper.data.length > 0">
                                <thead>
                                <tr>
                                    <th class="mdl-data-table__cell--non-numeric">NAME</th>
                                    <th class="mdl-data-table__cell--non-numeric">OWNER</th>
                                    <th class="mdl-data-table__cell--non-numeric">CREATE TIME</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let hbaseTable of hbaseFilterWrapper.data">
                                    <td class="mdl-data-table__cell--non-numeric">{{ hbaseTable.name }}</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{ hbaseTable.owner }}</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{ hbaseTable.$systemAttributes$.createdTime }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div *ngIf="activeTab === tab.HDFS">
                        <div *ngFor="let hdfsFilterWrapper of hdfsFiltersWrapper">
                            <data-plane-search [searchParamWrappers]="hdfsSearchParamWrappers"  (searchFilters)="addFilterAndSearch($event, hdfsFilterWrapper, 'hdfs')" [dataSource]="'hdfs'"> </data-plane-search>
                            <table style="width: 100%" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" *ngIf="hdfsFilterWrapper.data.length > 0">
                                <thead>
                                <tr>
                                    <th class="mdl-data-table__cell--non-numeric">NAME</th>
                                    <th class="mdl-data-table__cell--non-numeric">OWNER</th>
                                    <th class="mdl-data-table__cell--non-numeric">SIZE</th>
                                    <th class="mdl-data-table__cell--non-numeric">URI</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let hdfsTable of hdfsFilterWrapper.data">
                                    <td class="mdl-data-table__cell--non-numeric">{{ hdfsTable.name }}</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{ hdfsTable.owner }}</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{ hdfsTable.size }}</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{ hdfsTable.uri }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="mt-1">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-color--green" (click)="onSave()">
                Save
            </button>

            <button class="mdl-button mdl-js-button mdl-button--raised mdl-color--grey-300" (click)="back()">
                Cancel
            </button>
        </div>
    </div>
</div>
