@import "../../../../../../styles/variables";

.hwx-title {
  margin-bottom: 15px;
}

.dp-input__icon {
  position: absolute;
  right: 0px;
  bottom: 10px;
}
.dp-input__option {
  cursor: pointer;

  &:hover {
    background-color: rgb(221, 221, 221);
  }
}

textarea {height:100px;}
select {background-color: white}

input,
select,
textarea {
  width: 350px;
}

footer {
  margin-top: 15px;
}

.markMandatory{
  color: $burnt-sienna;
}
