<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: inherit; width: 0; height: 0;">
    <defs>
        <linearGradient id="horizontal-stripe" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" style="stop-color:#B6DFD1;stop-opacity:1" />
            <stop offset="50%" style="stop-color:#ADE4F3;stop-opacity:1" />
            <stop offset="100%" style="stop-color:#B6DFD1;stop-opacity:1" />
        </linearGradient>
    </defs>
</svg>

<div id="mapcontainer" class="dataplane-be-together-section mdl-typography--text-center dotted">
</div>
<div class="dataplane-screen-section mdl-typography--text-center">
    <table style="width: 100%" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
        <thead>
        <tr>
            <th class="" style="width:5px" ></th>
            <th class="mdl-data-table__cell--non-numeric">DATA CENTER</th>
            <th class="mdl-data-table__cell--non-numeric">NODES</th>
            <th class="mdl-data-table__cell--non-numeric">CAPACITY UTILIZATION</th>
            <th class="mdl-data-table__cell--non-numeric"># OF JOBS</th>
            <th class="mdl-data-table__cell--non-numeric">DATA SIZE</th>
            <th class="mdl-data-table__cell--non-numeric">COST</th>
        </tr>
        <tr style="background-color: lightgray">
            <th class="" style="width:5px"></th>
            <th class="mdl-data-table__cell--non-numeric">Location</th>
            <th class="mdl-data-table__cell--non-numeric">Total</th>
            <th class="mdl-data-table__cell--non-numeric">Average</th>
            <th class="mdl-data-table__cell--non-numeric">Average per day</th>
            <th class="mdl-data-table__cell--non-numeric">TB</th>
            <th class="mdl-data-table__cell--non-numeric">USD per day</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let dataCenter of dataCenters" (click)="onDataCenterSelect(dataCenter)">
            <td class="">
                <i class="fa fa-circle" aria-hidden="true" [ngClass]="{'green-text': dataCenter.status === 'UP', 'red-text' : dataCenter.status === 'DOWN'}"></i>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
                <div class="data-center-name"> {{ dataCenter.name }} </div>
                <div class="data-center-location"> {{ dataCenter.location}} </div>
            </td>
            <td class="mdl-data-table__cell--non-numeric">{{ dataCenter.nodes }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ dataCenter.capacityUtilization }}%</td>
            <td class="mdl-data-table__cell--non-numeric">{{ dataCenter.averageJobsPerDay }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ dataCenter.dataSize }}GB</td>
            <td class="mdl-data-table__cell--non-numeric">${{ dataCenter.cost }}</td>
        </tr>


        </tbody>
    </table>
</div>

