<div class="navbar mdl-grid mdl-grid--no-spacing">
    <div class="mdl-cell--10-col">
        <div class="dp-header-logo borderBox" [ngClass]="{'minimised': viewPaneState === viewPaneStates.MINIMISE}">
            <i #sideNavIcon class="fa fa-bars" aria-hidden="true" (click)="openNav()"></i>
            <img src="../../../assets/images/hw.logo.png">
        </div>

        <div class="mdl-navigation breadcrumb">
          <span class="mdl-navigation__link home">Data Plane</span>
          <!--<span class="mdl-navigation__link" *ngFor="let crumbName of crumbNames"> {{ crumbName }} </span>-->
        </div>

    </div>

    <div class="mdl-layout-spacer"></div>

    <div class="actions">
        <button id="logout" class="mdl-button mdl-js-button">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            <span class="user-name"> {{user?.display}} </span>
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="logout">
            <li class="mdl-menu__item" (click)="logout()">Sign out</li>
        </ul>
    </div>
</div>

<div #sidenav class="sidenav" style="z-index: 3;">
    <div class="dp-header-logo">
        <img src="../../../assets/images/hw.logo.png">
    </div>

  <span class="sidenav-item" [ngClass]="{'active': activePersonaName === persona.name}"
        *ngFor="let persona of headerData.personas; let i = index" (click)="navigateToPersona(persona, layout)">
    <span class="sidenav-item-name">  {{ persona.name }} </span>
  </span>
</div>