<nav class="navbar">
    <div class="mdl-grid mdl-grid--no-spacing">
        <div class="mdl-cell--5-col">
            <div class="breadcrumb">
              <span class="mdl-navigation__link home">Dataplane</span>
              <!--<span class="mdl-navigation__link" *ngFor="let crumbName of crumbNames"> {{ crumbName }} </span>-->
            </div>
        </div>

        <div class="mdl-layout-spacer"></div>

        <div class="actions">
            <button id="logout" class="mdl-button mdl-js-button">
                <i class="fa fa-user-circle" aria-hidden="true"></i>
                <span class="user-name"> {{user?.display}} </span>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="logout">
              <li class="mdl-menu__item"><a href="{{signoutURL}}">Sign out</a></li>
            </ul>
        </div>
    </div>
</nav>
