@import "../../../styles/variables";
@import "../../../styles/side-nav";

:host{
  height: $header-height;
  min-height: $header-height;
  display: block;
  z-index: 1;
}

.mdl-navigation  {
  @extend .borderBox;
  border-bottom: 1px solid $concrete;
}

.navbar {
  @extend .borderBox;

  top: 0;
  z-index: 1;
  width: 100%;
  overflow: hidden;
  position: fixed;
  background: $white;
  height: $header-height;
  max-height: $header-height;
  line-height: $header-height;
}

.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.mdl-cell--10-col {
  div {
    display: inline-block;
  }
}

.mdl-navigation__link {
  cursor: pointer;
  padding: 0px 9px;
  margin-right: 10px;
  position: relative;
  height: 39px;
  display: inline-block;
}

.is_active:after {
  height: 2px;
  width: 100%;
  display: block;
  content: " ";
  bottom: 0px;
  left: 0;
  position: absolute;
  background: $fruit-salad;
}

.mdl-navigation__link {
  color: $dove-gray !important;

  &.is_active {
    color: $mine-shaft !important;
  }
}

.mdl-navigation {
  padding: 0px 20px;
}

:host /deep/ .mdl-menu__container{
  position: fixed;
}

.mdl-button {
  color: $dove-gray;
  font-size: 13px;
}

