@import "../../../styles/variables";

:host{
  height: $header-height;
  min-height: $header-height;
  z-index: 1;
  width: inherit;
  position: fixed;
  top: 0;
  right: 0;
}

.navbar {
  @extend .borderBox;

  z-index: 10;
  overflow: hidden;
  background: $white;
  height: $header-height;
  max-height: $header-height;
  line-height: $header-height;
}

.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


:host /deep/ .mdl-menu__container{
  position: fixed;
}

.mdl-button {
  color: $dove-gray;
  font-size: 13px;
}

.breadcrumb {
  padding-left: 20px;

  .mdl-navigation__link {
    cursor: pointer;
    position: relative;
    height: 39px;
    font-size: 16px;
    color: $eastern-blue !important;
    padding-right: 25px;

    &:after {
      font-family: FontAwesome;
      content: "/\A0";
      margin-left: 8px;
      font-size: 23px;
      position: absolute;
      margin-top: 15px;
      color: $dove-gray;
    }
  }

  .mdl-navigation__link:last-of-type {
    &:after {
      content: "";
    }
  }
}