<dlm-cluster-card>
  <div class="row pairing-card">
    <div class="col-md-5 col-sm-5 col-lg-5 col-xs-5 col">
      <div class="cluster-name">{{ pairing.firstCluster.clusterDetails.name }}</div>
      <div>{{ pairing.firstCluster.clusterDetails.dataCenter }}</div>
    </div>
    <div class="col-md-1 col-sm-1 col-lg-1 col-xs-1 col pairing-icon">
      <i class="glyphicon glyphicon-resize-horizontal"></i>
    </div>
    <div class="col-md-5 col-sm-5 col-lg-5 col-xs-5 col text-right">
      <div class="cluster-name">{{ pairing.secondCluster.clusterDetails.name }}</div>
      <div>{{ pairing.secondCluster.clusterDetails.dataCenter }}</div>
    </div>
    <div class="col-md-1 col-sm-1 col-lg-1 col-xs-1 col cross text-right">
      <button type="button" class="close" aria-label="Unpair" (click)="onClickUnpair(pairing.id)"><span aria-hidden="true">&times;</span></button>
    </div>
  </div>
</dlm-cluster-card>
