<div class="container-fluid">
  <dlm-progress-container [progressState]="overallProgress$ | async">
    <div class="row">
      <div class="col-md-12">
        <h4>{{'page.overview.issues.recent' | translate}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <dlm-issues-list [events]="events$ | async">
        </dlm-issues-list>
      </div>
      <div class="col-md-8">
        <h4></h4>
        <dlm-resource-charts [resourceData]="resourceChartData$ | async">
        </dlm-resource-charts>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <h4>{{'page.overview.issues.updates' | translate}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <dp-jobs-table [jobs]="jobs$ | async"></dp-jobs-table>
      </div>
    </div>
  </dlm-progress-container>
</div>
