.dlm-progress-container {
  .progress-container-waiting {
    margin-top: 20px;
  }
}

.job-status-filter {
  margin: 10px 0;

  .label.label-default a {
    color: #fff;
  }
}

.overview-map-legend {
  width: 200px;
}
