<dlm-page-header
  title="page.overview.issues.recent">
</dlm-page-header>
<dlm-progress-container [progressState]="overallProgress$ | async">
  <div class="page-section">
    <div class="row">
      <div class="col-md-4">
        <dlm-issues-list [events]="events$ | async">
        </dlm-issues-list>
      </div>
      <div class="col-md-8">
        <h4></h4>
        <dlm-resource-charts [resourceData]="resourceChartData$ | async">
        </dlm-resource-charts>
      </div>
    </div>
  </div>
  <div class="page-section">
    <div class="row">
      <div class="col-md-3">
        <h4>{{'page.overview.issues.updates' | translate}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <dlm-jobs-overview-table [jobs]="tableData$ | async"></dlm-jobs-overview-table>
      </div>
    </div>
  </div>
</dlm-progress-container>
