.navigation-bar-container {
  ul.nav.side-nav-header {
    li.navigation-header {
      padding: 10px;
      height: 70px;
      #header_icon {
        padding-top:15px;
        font-size: 28px;
        .ambari-logo {
          color: #b8bec4;
        }
      }
      #header_content {
        padding: 5px;
      }
    }
  }
}
.navigation-bar-fit-height {
  left: 0;
  .side-nav-menu {
    top: 70px;
  }
}
