.info-panel {
    padding: 0px;
    height: 6rem;
}

.info-panel div {
    padding: 1rem;
    border-top: 1px solid #EEEEEE;
    border-right:  1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.info-panel div:first-child {
    border-left:  1px solid #EEEEEE;
}

.thin {
    font-weight: 200;
}

button {
    margin-left: 5px;
}

.actions-button:before {
    content: "\f013";
    font-family: "FontAwesome";
    padding-right: 5px;
}

.actions-button:after {
    content: "\f107";
    padding-left: 5px;
    font-family: "FontAwesome";
}

.create-cluster:before {
    content: "\f019";
    padding-right: 5px;
    font-family: "FontAwesome";
}

.mdl-typography--text-right {
    line-height: 5;
}

.legend i {
    padding-right: 2px;
}

.data-lake {
    background: #EEEEEE;
    height: 175px;
}

.mdl-card {
    width: 200px;
    min-height: 150px;
    margin: 10px;
}

.mdl-card__actions{
    padding: 0;
    min-height: 50px;
}

.mdl-card__actions .mdl-cell {
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    border-right: 1px solid #E4E4E3;
}

.mdl-card__actions .mdl-cell:last-child {
    border-right: none;
}

.chip {
    background: #676966;
    display: inline;
    padding: 2px 6px;
    line-height: 2;
    border-radius: 4px;
}

.card-data-plane.mdl-card {
    background: #42A7C9;
}

.card-data-plane > .mdl-card__title {
    background: #42A7C9;
}

.card-data-plane > .mdl-card__actions{
    background: #FFFFFF;
}

.clusters {
    height: 200px;
    margin-top: 2rem;
}

.card-clusters > .mdl-card__title {
    background: #FFFFFF;
}

.card-clusters > .mdl-card__actions{
    border-top: 4px solid #FFBC0B;
    background: #FAFAFA;
}

@media (min-width: 840px) {
    .clusters .mdl-cell--2-col {
        width: 20%;
    }
}
