<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--10-col">
        <bread-crumb [crumbMap]="breadCrumbMap"> </bread-crumb>

        <div class="mdl-grid mdl-grid--no-spacing legend">
            <div class="mdl-cell mdl-cell--2-col"><h4 class="thin"> {{ dataCenterName }} </h4></div>

            <div class="mdl-layout-spacer"></div>

            <div class="mdl-cell mdl-cell--1-col mdl-typography--text-right"> <i class="fa fa-square" aria-hidden="true" style="color:#42A7C9"></i> Data Plane </div>
            <div class="mdl-cell mdl-cell--2-col mdl-typography--text-right"> <i class="fa fa-square" aria-hidden="true" style="color:#FFBC0B"></i> Compute and Storage </div>
            <div class="mdl-cell mdl-cell--1-col mdl-typography--text-right"> <i class="fa fa-square" aria-hidden="true" style="color:#676966"></i> Compute </div>
        </div>

        <div class="mdl-grid mdl-grid--no-spacing cluster-title">
            <div class="mdl-cell mdl-cell--2-col"><h4 class="thin"> Clusters | {{ dataCenterDetails.hosts.length }} </h4></div>

            <div class="mdl-layout-spacer"></div>

            <div class="mdl-cell mdl-cell--5-col mdl-typography--text-right">
                <button class="mdl-button mdl-js-button mdl-button--raised actions-button">Action</button>
                <button class="mdl-button mdl-js-button mdl-button--raised create-cluster">Create Cluster</button>
            </div>
        </div>

        <div class="mdl-grid mdl-grid--no-spacing data-title">
            <div class="mdl-cell mdl-cell--3-col mdl-typography--text-left"> DATA PLANE <br> GOVERNANACE & SECURITY</div>
            <div class="mdl-cell mdl-cell--9-col mdl-typography--text-left"> DATA LAKE <br> STORAGE </div>
        </div>

        <div class="mdl-grid mdl-grid--no-spacing table">
            <div class="mdl-cell mdl-cell--12-col">
                <table style="width: 100%" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">CLUSTER NAME</th>
                        <th class="mdl-data-table__cell--non-numeric">AMBARI</th>
                        <th class="mdl-data-table__cell--non-numeric">CLUSTER TYPE</th>
                        <th class="mdl-data-table__cell--non-numeric">STORAGE</th>
                        <th class="mdl-data-table__cell--non-numeric">JOBS</th>
                        <th class="mdl-data-table__cell--non-numeric">NODES</th>
                        <th class="mdl-data-table__cell--non-numeric">UP TIME</th>
                        <th class="mdl-data-table__cell--non-numeric">COST</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let nameNodeInfo of dataCenterDetails.nameNodeInfo" (click)="onHostSelect(nameNodeInfo)">
                            <td class="mdl-data-table__cell--non-numeric">{{ nameNodeInfo.clusterName }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ nameNodeInfo.ambariHost }}</td>
                            <td class="mdl-data-table__cell--non-numeric">ON-PREM</td>
                            <td class="mdl-data-table__cell--non-numeric"> {{ getStorage(nameNodeInfo.ambariHost) }} </td>
                            <td class="mdl-data-table__cell--non-numeric"> - </td>
                            <td class="mdl-data-table__cell--non-numeric"> {{ getNodes(nameNodeInfo.ambariHost) }} </td>
                            <td class="mdl-data-table__cell--non-numeric"> {{ getUpTime(nameNodeInfo) }} </td>
                            <td class="mdl-data-table__cell--non-numeric"> - </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <backup-policy-list [dataCenterId]="dataCenterName"></backup-policy-list>

    </div>
    <div class="mdl-layout-spacer"></div>
</div>

