<div class="load-right-to-left-slider dialog1x">
  <div class="title-container">
    <div class="hwx-subtitle">
      <span *ngIf="mode === modes.ADD">{{"pages.infra.labels.addGroup" | translate}}</span>
      <span *ngIf="mode === modes.EDIT">{{group? group.groupName: ''}}</span>
      <i class="fa fa-remove close-icon" id="back" (click)="back()"></i>
    </div>
  </div>
  <div class="slider-container">
    <div class="error-notification-bar" *ngIf="showError">
      <i class="fa fa-times-circle pull-left"></i>
      <div class="error-title">{{"common.failed" | translate}}</div>
      <div *ngFor="let msg of errorMessages" class="error-text">{{msg}}</div>
    </div>
    <form #addGroupForm="ngForm">
      <div *ngIf="mode === modes.ADD">
        <div class="form-group dp-input">
          <label class="required">{{"pages.infra.labels.groupName" | translate}}</label>
          <tagging-widget #userTags id="group-tags" class="user-tags"
          [tags]="groups"
          [availableTags]="availableGroups"
          [clearOnSearch]="true"
          [theme]="tagTheme.DARK"
          [restrictFreeText]="true"
          (textChange)="onGroupSearchChange($event)"
          (onNewSearch)="onNewGroupAddition($event)"></tagging-widget>
        </div>
        <div class="form-group dp-input">
        <label class="required">{{"pages.infra.labels.roles" | translate}}</label>
          <tagging-widget #roleTags class="role-tags" id="role-tags"
          [tags]="roles"
          [availableTags]="availableRoles"
          [clearOnSearch]="true"
          [theme]="tagTheme.DARK"
          [restrictFreeText]="true"
          (textChange)="onRoleSearchChange($event)"
          (onNewSearch)="onNewRoleAddition($event)"></tagging-widget>
          <i id="roles-dropdown" class="fa fa-caret-down drop-down-icon" (click)="showRoleOptions()"></i>
          <div *ngIf="showRoles" id="roles-option-list" class="option-list">
            <div *ngFor="let roleOption of allRoles" id="role-{{roleOption.data}}" (click)="onNewRoleAddition(roleOption)">{{roleOption.display}}</div>
          </div>
        </div>
      </div>
    </form>
    <form #editGroupForm="ngForm">
      <div *ngIf="mode === modes.EDIT">
        <div class="mdl-grid mdl-grid--no-spacing padding-top15">
          <div class="mdl-cell mdl-cell--2-col">{{"pages.infra.labels.username" | translate}}</div>
          <div class="mdl-cell mdl-cell--1-col">  &nbsp;: </div>
          <div class="mdl-cell mdl-cell--9-col">{{group? group.groupName: ''}} </div>
        </div>
        <div class="mdl-grid mdl-grid--no-spacing padding-top15">
          <div class="mdl-cell mdl-cell--2-col">{{"common.status" | translate}}</div>
          <div class="mdl-cell mdl-cell--1-col"> &nbsp;: </div>
          <div class="mdl-cell mdl-cell--9-col">
            <label class="mdl-switch mdl-js-switch" [ngClass]="{'is-checked': group.active}" for="status-switch">
            <input name="group-status" type="checkbox" id="status-switch" class="mdl-switch__input" [(ngModel)] = "group.active"/>
            <span class="mdl-switch__label">{{group && group.active? ("pages.infra.labels.active" | translate) : ("pages.infra.labels.inactive" | translate)}}</span>
            </label>
          </div>
        </div>
        <div class="mdl-grid mdl-grid--no-spacing padding-top15">
          <div class="form-group mdl-cell mdl-cell--2-col">
            <label class="required">{{"pages.infra.labels.roles" | translate}}</label>
          </div>
          <div class="mdl-cell mdl-cell--1-col">  : </div>
          <div class="mdl-cell mdl-cell--9-col">
            <tagging-widget #roleTags class="role-edit-tags" id="role-tags"
              [tags]="groupRoles"
              [availableTags]="availableRoles"
              [clearOnSearch]="true"
              [theme]="tagTheme.DARK"
              [restrictFreeText]="true"
              (textChange)="onRoleSearchChange($event)"
              (onNewSearch)="onRolesEdit($event)"></tagging-widget>
            <i class="fa fa-caret-down drop-down-icon" id="roles-dropdown" (click)="showRoleOptions()"></i>
            <div *ngIf="showRoles" class="option-list" id="roles-option-list">
              <div *ngFor="let roleOption of allRoles" id="role-{{roleOption.data}}" (click)="onRolesEdit(roleOption)">{{roleOption.display}}</div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="margin-top-20">
      <button id="save-btn" class="mdl-button btn-hwx-primary margin-right-10" (click)="save()">{{"common.save" | translate}}</button>
      <button id="cancel-btn" class="mdl-button btn-hwx-default" (click)="back()">{{"common.cancel" | translate}}</button>
    </div>
  </div>
</div>
