<div class="page-header">
  <div class="pull-left">
    <p>
      <i class="glyphicon glyphicon-resize-horizontal"></i>
      <span class="h2">{{ "page.pairings.create.header" | translate }}</span>
    </p>
    <div>
      <span class="text-muted">{{ "page.pairings.create.header_note" | translate }}</span>
    </div>
  </div>
  <div class="pull-right">
  </div>
  <div class="clearfix"></div>
</div>
<div class="content">
  <div class="content-row header">
    <div class="col-md-3 col">
      <div class="h6 border-bottom">STEP 1: SELECT FIRST CLUSTER</div>
    </div>
    <div class="col-md-3 col">
      <div class="h6 border-bottom">STEP 2: SELECT CLUSTER TO BE PAIRED</div>
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4 col">
      <div class="h6 border-bottom">IN PROGRESS</div>
    </div>
  </div>
  <div class="form-container">
    <form class="basic-form" [formGroup]="createPairingForm" (ngSubmit)="handleSubmit(createPairingForm)">
      <div class="content-row">
        <div class="col-md-3 col">
          <pairing-card-list [clusters]="firstSetClusters$ | async" formControlName="firstCluster" [selectedClusterId]="selectedFirstClusterId" (change)="selectFirstCluster($event)"></pairing-card-list>
        </div>
        <div class="col-md-3 col">
          <pairing-card-list [clusters]="secondSetClusters$ | async" formControlName="secondCluster" [selectedClusterId]="selectedSecondClusterId" (change)="selectSecondCluster($event)"></pairing-card-list>
        </div>
        <div class="col-md-2 col pairing-icon-col">
          <button type="submit" class="clear">
            <div class="hex-wrap">
              <div class="hex-icon">
                <i class="glyphicon glyphicon-resize-horizontal"></i>
              </div>
            </div>
          </button>
        </div>
        <div class="col-md-4 col pairing-col">
          <div *ngIf="isButtonClicked">
            <pairing-progress-card [firstCluster]="selectedFirstCluster" [secondCluster]="selectedSecondCluster"></pairing-progress-card>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
