<div class="row">
  <div class="col-lg-2 col-md-3 summary">
    <div class="hidden">
      <h6>{{"page.policies.data_summary" | translate}}</h6>
      <div class="row">
        <div class="col-md-6 text-left">{{"common.folders" | translate}}</div>
        <div class="col-md-6 text-right">23</div>
      </div>
      <div class="row">
        <div class="col-md-6 text-left">{{"common.files" | translate}}</div>
        <div class="col-md-6 text-right">456</div>
      </div>
    </div>
    <br>
    <h6>{{"common.description" | translate}}</h6>
    <p *ngIf="policy?.description; else noDescription" class="description">{{policy?.description}}</p>
    <ng-template #noDescription>
      <span class="no-description">No description</span>
    </ng-template>
    <p *ngIf="policy?.frequency" class="policy-details">Running {{policy?.frequency | frequency}} <span *ngIf="policy?.startTime">from {{policy?.startTime | date:'MMM dd, y HH:mm'}}</span> <span *ngIf="policy?.endTime">to {{policy?.endTime | date:'MMM dd, y HH:mm'}}</span></p>
  </div>
  <div class="col-lg-10 col-md-9">
    <dp-jobs-table
      class="clearfix"
      *ngIf="contentType===policyContent.Jobs"
      [sorts]="jobsSort"
      [page]="jobsPage"
      [visibleActionMap]="jobsActiveActions"
      [showPageSizeMenu]="false"
      [jobs]="jobs"
      [policy]="policy"
      (onSort)="handleOnSort($event)"
      (onSelectAction)="handleOnSelectAction($event)"
      (onPageChange)="handleOnPageChange($event)"
      (abortJobAction)="handleAbortJobAction($event)"
    >
    </dp-jobs-table>
    <div *ngIf="contentType===policyContent.Files">
      <dlm-hdfs-browser *ngIf="fileBasedPolicy()" [rootPath]="hdfsRootPath" [clusterId]="sourceCluster"></dlm-hdfs-browser>
      <dlm-hive-browser *ngIf="databaseBasedPolicy()" [databases]="[policyDatabase]"></dlm-hive-browser>
    </div>
  </div>
</div>
