<div class="container line-height-1-5">
  <div class="margin-top-bottom-20">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
  <div class="pull-right action-bar">
    <div  class="search-input">
      <input  id="search" name="name" type="text" placeholder="Search">
      <i aria-hidden="true" class="fa fa-search dp-input__icon"></i>
    </div>
    <button class="mdl-button btn-hwx-secondary"> ACTION </button>
    <button class="mdl-button btn-hwx-primary"> ADD USER </button>
  </div>
  <div style="clear: both"></div>
  <div class="table-container">
    <table class="mdl-data-table mdl-js-data-table" dp-config-table>
      <thead>
      <th>Username</th>
      <th>Role</th>
      <th>Status</th>
      <th></th>
      </thead>
    </table>
  </div>

</div>

