<div class="container line-height-1-5">
  <div class="action-bar mdl-grid mdl-grid--no-spacing">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-button-group">
      <button (click)="onViewChange(views.USERS)" [ngClass]="{'button-color--dark-grey': currentView === views.USERS }" class="mdl-button">
       <i class="fa fa-user"></i> Users
      </button>
      <button (click)="onViewChange(views.GROUPS)" [ngClass]="{'button-color--dark-grey': currentView === views.GROUPS }" class="mdl-button">
        <i class="fa fa-users"></i> Groups
      </button>
    </div>
  </div>
  <div class="margin-top-bottom-20">
    {{"pages.infra.description.userManagement" | translate}}
  </div>
  <div *ngIf="currentView === views.USERS">
    <dp-users></dp-users>
  </div>
  <div *ngIf="currentView === views.GROUPS">
    <dp-groups></dp-groups>
  </div>
</div>
