<div class="container line-height-1-5">
  <div class="margin-top-bottom-20">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
  <router-outlet name="sidebar"></router-outlet>
  <div class="pull-right action-bar">
    <div  class="search-input">
      <input  id="search" name="name" type="text" placeholder="Search">
      <i aria-hidden="true" class="fa fa-search dp-input__icon"></i>
    </div>
    <dp-dropdown></dp-dropdown>
    <button class="mdl-button btn-hwx-primary" (click)="addUser()"> ADD USER </button>
  </div>
  <div style="clear: both"></div>
  <div class="table-container">
    <table class="mdl-data-table mdl-js-data-table" dp-config-table>
      <thead>
        <th class="mdl-data-table__cell--non-numeric mdl-data-table__cell--placeholder"></th>
        <th class="mdl-data-table__cell--non-numeric">Username</th>
        <th class="mdl-data-table__cell--non-numeric">Role</th>
        <th class="mdl-data-table__cell--non-numeric">Status</th>
        <th class="mdl-data-table__cell--non-numeric"></th>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td class="mdl-data-table__cell--non-numeric"><input name={{user.id}} type="checkbox"/></td>
          <td class="mdl-data-table__cell--non-numeric key-column"(click)="editUser(user.id)">{{user.userName}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{user.roles.join(', ')}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{user.active? 'Active' : 'Inactive'}}</td>
          <td>
            <button [attr.id]="'dropDown_'+user.id" class="mdl-button mdl-js-button mdl-button--icon hwx-button-icon">
            <i class="fa fa-ellipsis-v fa__fa-ellipsis-h--icon"></i></button>
            <ul mdl class="mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect" [attr.for]="'dropDown_'+user.id">
              <li class="mdl-menu__item">Edit</li>
              <li class="mdl-menu__item">Delete</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

