@mixin summary-pane($class-name, $width) {
  .#{$class-name} {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      overflow: hidden;
      color: $dove-gray;
      border: 1px solid $alto;
    }

    li {
      float: left;
      width: calc(#{$width} - 1px);
      border-right: 1px solid $alto;
      padding: 10px 20px;
    }

    li:last-child {
      border-right: 0px;
    }

    li div {
      display: block;
      text-align: left;
      text-decoration: none;
      line-height: 1;
    }

    .title {
      font-size: 12px;
      margin-bottom: 5px;
    }

    .value {
      font-size: 14px;
      font-weight: 500;
    }
  }
}
