<div class="dlm-content container-fluid" id="dlm_main_content">
  <navbar [menuItems]="menuItems" [header]="header" [personas]="headerData.personas" [mainContentSelector]="mainContentSelector" [fitHeight]="fitHeight"></navbar>
  <header class="row">
    <div class="navbar-header navbar-nav">
      <breadcrumb></breadcrumb>
    </div>
    <div class="navbar-user navbar-footer navbar-nav navbar-right">
      <user-dropdown [user]="user" (timezoneChanged)="saveUserTimezone($event)" (logout)="logout()"></user-dropdown>
    </div>
    <div class="notifications navbar-nav navbar-right">
      <dlm-notifications [events]="events$ | async" [newEventsCount]="newEventsCount$ | async"></dlm-notifications>
    </div>
  </header>
  <div id="dlm_content">
    <router-outlet></router-outlet>
  </div>
</div>
<simple-notifications [options]="notificationOptions"></simple-notifications>
<dlm-log-modal-dialog #logModalDialog>
</dlm-log-modal-dialog>
