@import './styles/ngx-table-theme.scss';
@import './styles/forms.scss';
@import './styles/variables.scss';
@import './styles/utils.scss';
@import './styles/bs.scss';

html, body {
  height: 100%;
  background-color: $body-background;
}

.caret {
  &.caret-up {
    transform: rotate(180deg);
  }
}

header {
  background-color: #fff;
  height: 55px;
  .navbar-nav {
    margin-top: 12px;
    color: #999999;
    line-height: 40px;
    .fa, .glyphicon {
      font-size: 20px;
    }
  }
  .navbar-right {
    margin: 8px 15px;
  }
  .navbar-footer {
    margin-right: 40px;
  }
  .notifications-group.open {
    color: $link-color;
  }
}

#dlm_content {
  // overwrites container-fluid defaults 15px
  // required by design
  padding: 0 20px;
}

.page-section {
  margin-top: 15px;
}
