@import './styles/ngx-table-theme.scss';
@import './styles/forms.scss';
@import './styles/variables.scss';
@import './styles/utils.scss';

html, body {
  height: 100%;
  background-color: $body-background;
}

.caret {
  &.caret-up {
    transform: rotate(180deg);
  }
}

header {
  background-color: #fff;
  height: 55px;
}