<dp-card>
  <div class="row flex-center cluster-row">
    <div class="hex-wrap">
      <div class="hex-icon">
        <i class="glyphicon glyphicon-cog"></i>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row flex-center">
        <div class="col-md-5 cluster-cell">
          <p class="h2">
            {{cluster.name}}
          </p>
          <p>
            {{cluster.type}} {{ cluster.location.city }}, {{ cluster.location.country }}
          </p>
        </div>
        <div class="col-md-7 cluster-cell">
          <p class="cell-title">{{ "page.clusters.card.registered" | translate}}</p>
          <p>{{cluster.createdAt | date:'medium'}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row flex-center">
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-4 cluster-cell">
              <p class="cell-title">{{ "page.clusters.card.volume" | translate}}</p>
              <p>{{cluster.volumeGB}} GB</p>
            </div>
            <div class="col-md-4 cluster-cell">
              <p class="cell-title">{{ "page.clusters.card.nodes" | translate}}</p>
              <p>{{cluster.nodesCount}}</p>
            </div>
            <div class="col-md-4 cluster-cell">
              <p class="cell-title">{{ "page.clusters.card.pairs" | translate}} <a>+add</a></p>
              <p>-</p>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="row flex-center">
            <div class="col-md-9 cluster-cell">
              <div class="add-actions">
                <i class="glyphicon glyphicon-plus text-success"></i>
              </div>
            </div>
            <div class="col-md-3 cluster-cell">
              <div class="more">
                <p><i class="fa fa-ellipsis-v text-primary"></i></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</dp-card>
