@import '../../../styles/utils';
@import '../../../styles/mixins';

$title-color: #999999;
$title-size: 10px;
$hex-size: 24px;
$hex-color: #41a9f7;

.cluster-row {
  padding-left: 40px;
}

.cluster-cell {
  p {
    margin: 0;
  }

  padding: 15px 0;

  .cell-title {
    font-size: $title-size;
    color: $title-color;
    text-transform: uppercase;
    margin-bottom: 5px;
    a {
      text-transform: none;
    }
  }

  .cell-content {
    font-size: 18px;
  }
}

.hex-wrap {
  position: absolute;
  height: $hex-size;
  width: $hex-size;
  left: 3px;
}

.hex-icon {
  @include hexagon($hex-size, $hex-color);
  text-align: center;
  font-size: $hex-size * 0.6;
  color: white;
}

.add-actions {
  text-align: center;
}

.mode {
  text-align: center;
}

:host /deep/ .dlm-card {
  margin: 20px 0;
}

:host /deep/ .unit {
  font-size: 12px;
}