<div #sideNav class="sidenav"  [ngClass]="{'collpased': collapseSideNav}">

  <div #personaNavSrc class="dp-header-logo borderBox" [ngClass]="{'dp-header-logo--active': personaTabs && personaTabs.length > 1}">
    <img  *ngIf="activePersonaImageName" [attr.src]="'../../../assets/images/' + activePersonaImageName" alt="Hortonworks Dataplane"/>
    <span class="persona-drop-down-small" *ngIf="personaTabs && personaTabs.length > 1"></span>
    <span class="persona-name">{{ activePersonaName }}</span>
  </div>

  <span class="sidenav-item" *ngFor="let tabEntry of personaTabs; let i = index" [ngClass]="{'active': activeTabName === tabEntry.tabName}" (click)="navigateToURL(tabEntry)">
    <i *ngIf="tabEntry.iconClassName != ''" [ngClass]="'fa ' +  tabEntry.iconClassName" aria-hidden="true"></i>  <span class="sidenav-item-name"> {{ tabEntry.tabName }} </span>
  </span>

  <div class="expander" (click)="toggleNav()">
    <i *ngIf="!collapseSideNav" class="fa fa-angle-double-left"></i>
    <i *ngIf="collapseSideNav" class="fa fa-angle-double-right"></i>
  </div>

</div>

<dp-persona-popup [personas]="headerData.personas" [activePersona]="activePersonaName" [personaNavSrc]="personaNavSrc" (personaChange)="navigateToPersona($event)"> </dp-persona-popup>
