@import "../../../../../styles/variables";

.page-container {
  padding-top: 35px;
}
.feature-intro {
  & .hwx-title {
    color: $forest-green-1;
    font-size: 30px;
    margin-top: 5px;
  }
  & .intro-list {
    margin: 20px 0 0;
    padding: 0;
    list-style: none;
    line-height: 1;
    & > li {
      background: $white;
      margin: 2px 0;
      padding: 20px 20px 10px;

      & > i.fa {
        font-size: 20px;
        color: $forest-green-1;

        & + div {
          margin-left: 40px;
          & .hwx-subtitle {
            font-weight: 500;
          }
        }
      }
    }
  }
}
