<div class="page-container">
  <section class="feature-intro">

    <div class="hwx-subtitle">Welcome to</div>
    <div class="hwx-title">Hortonworks Dataplane</div>
    <div class="hwx-desc">Welcome to dataplane, your one-stop solution to data management. To start, you need to help us find your data lakes. Please proceed by adding data lakes below.</div>

    <ul class="intro-list">
      <li>
        <i class="fa fa-server pull-left"></i>
        <div>
          <div class="hwx-subtitle">Add Cluster</div>
          <div class="hwx-desc">Description TBD</div>
        </div>
      </li>
      <li>
        <i class="fa fa-cubes pull-left"></i>
        <div>
          <div class="hwx-subtitle">Add Dataset</div>
          <div class="hwx-desc">Description TBD</div>
        </div>
      </li>
    </ul>

    <div class="button-container">
      <a [routerLink]="['/infra/add']"><button class="mdl-button btn-hwx-primary">Get Started</button></a>
    </div>
  </section>
</div>
