# IntelliJ
*.iml
**/.idea

# Visual Studio Code
**/.vscode/

# Eclipse
.classpath
.project
.settings

# NPM
**/node_modules
**/npm-debug.log

# Build
**/build/*
**/target/*
**/logs/*

# Typesafe Activator
**/project/*-shim.sbt
**/project/project/

# Binaries
**/bin/
**/libexec/
*.jar
*.gz

# Generated
**/RUNNING_PID

