<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--10-col">

        <div class="mdl-grid mdl-grid--no-spacing">
            <div class="mdl-cell mdl-cell--8-col">
                <div class="mdl-color-text--green title">
                    <span class="fa-stack fa-lg" aria-hidden="true">
                        <i class="fa fa-database fa-stack-1x fa-2x" style="margin-left: 20px;margin-top: -26px;"></i>
                        <i class="fa fa-database fa-stack-1x fa-2x"></i>
                        <i class="fa fa-database fa-stack-1x fa-2x" style="margin-left: 34px;"></i>
                    </span>
                    <span class="mdl-typography--headline mdl-typography--font-light text mdl-color-text--black">Data Sets</span>
                </div>
            </div>
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-cell mdl-cell--1-col">
                <button class="mdl-button mdl-js-button mdl-button--raised pull-right add-button" (click)="onAddDataSet()">Add&nbsp;Data&nbsp;Set</button>
            </div>
        </div>


        <div class="search">
            <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon2">
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>


        <div class="card-pane" *ngFor="let category of getDataSetCategorys()">
            <h2 class="mdl-typography--title mdl-typography--font-light mdl-color-text--green"> {{ category }} | {{ dataSetsMap[category].length }} </h2>
            <div *ngFor="let dataSet of dataSetsMap[category]"  class="mdl-card mdl-shadow--4dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text"> {{ dataSet.name }}</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    Object Count:   <b> <span class="chip-grey"> {{ getObjectCount(dataSet) }} </span> </b> <br>
                    Data Sources:   {{ getDataSources(dataSet) }} <br>
                    Last Updated:   {{ getLastUpdated(dataSet) }} <br> <br>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <div> <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="viewDataSet(dataSet)"></i> </div>
                    <div> <i class="fa fa-trash-o" aria-hidden="true"></i> </div>
                    <div> <i class="fa fa-files-o" aria-hidden="true"></i> </div>
                    <div> <i class="fa fa-cog" aria-hidden="true"></i> </div>

                </div>
            </div>
        </div>

    </div>
    <div class="mdl-layout-spacer"></div>
</div>