@import "../../../../styles/variables";

.lastRunTime{
  font-size:10px;
  margin:7px 0 0 8px;  
}

.dp-view-pane {
  height: 100%;

  & .mdl-typography--headline {
    text-transform: uppercase;
  }
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
  & .row.header {
    flex: 0 1 auto;
  }
  & .row.content {
    flex: 1 1 auto;
  }
  & .row.footer {
    flex: 0 1 40px;
  }
}

.summary-pane-3 ul {
  background: $white;

  & li {
    padding: 10px 20px;
    line-height: 1;

    & > div {
      padding: 0;

      &.title {
        font-size: 12px;
        margin-bottom: 5px;
      }
      &.value {
        font-size: 16px;
      }

    }
  }
}
