<div class="dp-view-pane">
    <div class="mdl-grid mdl-grid--no-spacing">
        <div class="mdl-cell--10-col">
            <div class="mdl-typography--headline">{{this.tableName}}</div>
            <span class="mdl-chip hive-table-chip">
                <span class="mdl-chip__text">HIVE</span>
            </span>
        </div>
        <div class="mdl-cell--2-col">
            <dp-dropdown class="pull-right" [list]="['abc', 'def']"></dp-dropdown>
        </div>
    </div>

    <div class="spacer-34"> </div>

    <div class="summary-pane-3">
        <ul>
            <li *ngFor="let property of summary">
                <div> <span class="title">{{property.key}}</span> <br> <span class="value"> {{property.value}} </span></div>
            </li>
        </ul>
    </div>

    <div class="spacer-34"> </div>

    <dp-tabs [tabEnum]="topLevelTabs" [tabType]="tabType.UNDERLINE" (selected)="selectedTopLevelTabs=$event"> </dp-tabs>

    <div class="spacer-34"> </div>

    <section *ngIf="selectedTopLevelTabs === topLevelTabs.DETAILS">
      <dp-asset-details-view [assetDetails]="assetDetails" [clusterId]="clusterId" [guid]="guid"> </dp-asset-details-view>
    </section>

    <section *ngIf="selectedTopLevelTabs === topLevelTabs.LINEAGE">
     <dp-lineage [clusterId]="clusterId" [guid]="guid"> </dp-lineage>
    </section>

</div>
