@import "../../../../variables";

.summary {
  //width: 100%;

  //.cell {
  //  width: 19.95%;
  //  display: inline-block;
  //  float: left;
  //  border-right: 1px solid red;
  //  border-top: 1px solid red;
  //  border-bottom: 1px solid red;
  //}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    border: 1px solid $alto;
  }

  li {
    float: left;
    width: 19.91%;
    border-right: 1px solid $alto;
  }

  li:last-child {
    border-right: 0px;
  }

  li div {
    display: block;
    text-align: center;
    text-decoration: none;
  }
}