<div>
  <div class="title-pane" style="padding: 25px">
    <span class="hwx-title">Verify</span>
  </div>
  <div class="content-pane" style="margin:0px 25px;padding: 25px;background-color: white; height: 570px">
    <div class="hwx-inline-desc">Welcome to the Data Lifecyle Manager Enablement Wizard. Please begin by verifying your Smartsense ID.</div>
    <div class="spacer-15"></div>
    <div class="hwx-subtitle">Verify SmartSense ID</div>
    <div class="spacer-15"></div>
    <form #smartSenseForm="ngForm">
      <div class="form-group" [ngClass]="{'error':isInvalid}">
        <label class="required">SMARTSENSE ID</label>
        <div class="hwx-inline-desc">{{"pages.infra.description.tags" | translate}}</div>
        <div class="mdl-grid mdl-grid--no-spacing">
          <div class="input-group">
            <input required class="dp-input" name="smartsense-id" type="text" [(ngModel)]="smartSenseId"/>
            <div *ngIf="isInvalid" class="validation-error"><i class="fa fa-times"></i></div>
          </div>
          <div class="padding-left-12">
            <button *ngIf="!verified" type="button" (click)="verifySmartSenseId()" class="btn btn-hwx-primary width-90">
              <span *ngIf="verificationInProgress"><i class="fa fa-spinner fa-spin"></i></span>
              <span *ngIf="!verificationInProgress">VERIFY</span>
            </button>
            <button *ngIf="verified" type="button" class="btn btn-hwx-secondary">
              <span>VERIFIED</span>
            </button>
          </div>
        </div>
      </div>
    </form>
    <div class="spacer-15"></div>
    <div class="button-container">
      <button class="btn btn-hwx-primary" (click)="next()">NEXT</button>
      <button class="btn btn-hwx-default" (click)="cancel()">CANCEL</button>
    </div>
  </div>
</div>
