@import '../../../../styles/variables';

.dlm-radio-group {
  .dlm-radio-item {
    float: left;

    &:not(:first-child) {
      padding-left: 15px;
    }
  }
}

.schedule-group {
  .new-row {
    padding-top: 20px;
  }
}

.date-time-group {
  .time-control {
    display: flex;
    justify-content: center;
  }

  .clock-icon {
    font-size: 20px;
    align-self: center;
    margin-right: 15px;
  }
}

.hdfs-browser-container {
  padding: 35px;
  background-color: #EEE;
}

.fa {
  &.text-primary:hover {
    cursor: pointer;
  }
}

.policy-form {
  label {
    font-weight: normal;
    &.btn-primary {
      color: #FFF;
    }
  }
  .form-section-title {
    color: $link-color;
  }
}

fieldset {
  margin: 15px 10px 15px 20px;
}