@import '../../../../styles/variables';

.dlm-radio-group {
  .dlm-radio-item {
    float: left;

    &:not(:first-child) {
      padding-left: 15px;
    }
  }
}

.schedule-group {
  padding: 10px;
  border: 1px solid $light-grey;
}

.date-time-group {
  .time-control {
    display: flex;
    justify-content: center;
  }

  .clock-icon {
    font-size: 20px;
    align-self: center;
    margin-right: 15px;
  }
}

.hdfs-browser-container {
  padding: 35px;
  background-color: #EEE;
}
