<div class="form-container">
  <form class="basic-form" [formGroup]="policyForm" (ngSubmit)="handleSubmit(policyForm)">
    <div class="container-fluid">
      <div class="row">
        <div class="form-section col-md-12">
          <div class="form-section-title">
            {{'page.policies.form.sections.general' | translate}}
            <div class="pull-right">
              <i class="fa text-primary"
                [ngClass]="{'fa-chevron-down': sectionCollapsedMap.general, 'fa-chevron-up': !sectionCollapsedMap.general}"
                (click)="toggleSection('general')"></i>
            </div>
            <div class="clearfix"></div>
          </div>
          <fieldset formGroupName="general" [collapse]="sectionCollapsedMap.general">
            <div class="form-group">
              <div class="row">
                <label class="col-md-6">
                  {{'page.policies.form.fields.policy_name' | translate}}
                </label>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" class="form-control" formControlName="name"/>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <label class="col-md-6">
                  {{'page.policies.form.fields.service' | translate}}
                </label>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <dlm-radio-button [items]="storageTypes" formControlName="type"></dlm-radio-button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <label class="col-md-6">
                  {{'page.policies.form.fields.pairs' | translate}}
                </label>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <select class="form-control" formControlName="pair">
                    <option *ngFor="let pair of pairs" [value]="pair.value">{{pair.label}}</option>
                  </select>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="row" *ngIf="isHDFSPolicy()">
        <div class="form-section col-md-6">
          <div class="form-section-title">
            {{'page.policies.form.sections.directories' | translate}}
            <div class="pull-right">
              <i class="fa text-primary"
                [ngClass]="{'fa-chevron-down': sectionCollapsedMap.directories, 'fa-chevron-up': !sectionCollapsedMap.directories}"
                (click)="toggleSection('directories')"></i>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="row" [collapse]="sectionCollapsedMap.directories">
            <div class="col-md-6">
              <input type="text" class="form-control" formControlName="directories"/>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="isHivePolicy()">
        <div class="form-section col-md-6">
          <div class="form-section-title">
            {{'page.policies.form.sections.database' | translate}}
            <div class="pull-right">
              <i class="fa text-primary"
                [ngClass]="{'fa-chevron-down': sectionCollapsedMap.database, 'fa-chevron-up': !sectionCollapsedMap.database}"
                (click)="toggleSection('database')"></i>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="form-group" [collapse]="sectionCollapsedMap.database">
            <div class="row flex-center">
              <div class="col-md-8">
                <span class="text-muted">
                  {{'page.policies.form.selected' | translate}}: {{policyForm.value.databases?.length}}
                </span>
              </div>
              <div class="col-md-4">
                <dlm-search-input (change)="handleSearchChange($event)"></dlm-search-input>
              </div>
            </div>
            <dlm-checkbox-list [items]="visibleDbList" formControlName="databases"></dlm-checkbox-list>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-section col-md-6">
          <div class="form-section-title">
            {{'page.policies.form.sections.job' | translate}}
            <div class="pull-right">
              <i class="fa text-primary"
                [ngClass]="{'fa-chevron-down': sectionCollapsedMap.job, 'fa-chevron-up': !sectionCollapsedMap.job}"
                (click)="toggleSection('job')"></i>
            </div>
            <div class="clearfix"></div>
          </div>
          <div [collapse]="sectionCollapsedMap.job" formGroupName="job">
            <dlm-radio-button
              formControlName="schedule"
              [items]="jobTypes"
              [selectedValue]="selectedJobType"
              (change)="handleJobChange($event)">
            </dlm-radio-button>
            <div class="clearfix"></div>
            <div class="form-group" *ngIf="isScheduled()">
              <div class="schedule-group">
                <tabset>
                  <tab *ngFor="let tab of scheduleTabs" (select)="updateFrequency(tab.value)" [heading]="tab.title | translate">
                    <div class="row">
                      <div class="col-md-5 col-md-offset-1">
                        <my-date-picker
                          [placeholder]="'page.policies.form.fields.start_time' | translate"
                          [options]="datePickerOptions"
                          (dateChanged)="handleDateChange($event, 'startTime')">
                        </my-date-picker>
                      </div>
                      <div class="col-md-5">
                        <my-date-picker
                          [placeholder]="'page.policies.form.fields.end_time' | translate"
                          (dateChanged)="handleDateChange($event, 'endTime')"
                          [options]="datePickerOptions">
                        </my-date-picker>
                      </div>
                    </div>
                  </tab>
                </tabset>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-footer col-md-12">
          <div class="footer-controls pull-right">
            <button type="button" class="btn btn-default">{{'common.cancel' | translate}}</button>
            <button class="btn btn-success" type="submit">{{'common.review' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
