<div class="form-container">
  <form class="basic-form policy-form" [formGroup]="policyForm" (ngSubmit)="handleSubmit(policyForm)">
    <div class="container-fluid">
      <div class="row">
        <div class="form-section col-md-12">
          <div class="form-section-title">
            {{'page.policies.form.sections.general' | translate}}
            <div class="pull-right">
              <i class="fa text-primary"
                [ngClass]="{'fa-chevron-down': sectionCollapsedMap.general, 'fa-chevron-up': !sectionCollapsedMap.general}"
                (click)="toggleSection('general')"></i>
            </div>
            <div class="clearfix"></div>
          </div>
          <fieldset formGroupName="general" [collapse]="sectionCollapsedMap.general">
            <dlm-form-field
              [label]="'page.policies.form.fields.policy_name' | translate">
              <input type="text" class="form-control" formField formControlName="name" />
            </dlm-form-field>
            <dlm-form-field
              [label]="'page.policies.form.fields.policy_description' | translate">
              <textarea rows="4" class="form-control" formField formControlName="description"></textarea>
            </dlm-form-field>
            <div class="form-group">
              <div class="row">
                <label class="col-md-6">
                  {{'page.policies.form.fields.service' | translate}}
                </label>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <dlm-radio-button [items]="storageTypes" formControlName="type" (change)="handlePolicyTypeChange($event)"></dlm-radio-button>
                </div>
              </div>
            </div>
            <dlm-form-field [label]="'page.policies.form.fields.sourceCluster.self' | translate">
              <dlm-select-field formField formControlName="sourceCluster" [options]="sourceClusters" [value]="sourceCluster" (onSelect)="handleSourceClusterChange($event)">
              </dlm-select-field>
            </dlm-form-field>
            <dlm-form-field [label]="'page.policies.form.fields.destinationCluster.self' | translate">
              <dlm-select-field formField formControlName="destinationCluster" [options]="destinationClusters" [value]="destinationCluster">
              </dlm-select-field>
            </dlm-form-field>
          </fieldset>
        </div>
      </div>

      <div class="row" *ngIf="isHDFSPolicy() && sourceCluster">
        <div class="form-section col-md-12">
          <div class="form-section-title">
            {{'page.policies.form.sections.directories' | translate}}
            <div class="pull-right">
              <i class="fa text-primary"
                [ngClass]="{'fa-chevron-down': sectionCollapsedMap.directories, 'fa-chevron-up': !sectionCollapsedMap.directories}"
                (click)="toggleSection('directories')"></i>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="row" [collapse]="sectionCollapsedMap.directories">
            <div class="col-md-12">
              <dlm-form-field [label]="'page.policies.form.fields.directories' | translate">
                <input type="text" formField class="form-control" formControlName="directories" [(ngModel)]="selectedHdfsPath"/>
              </dlm-form-field>
              <div class="hdfs-browser-container">
                <dlm-hdfs-browser [rootPath]="hdfsRootPath" [clusterId]="sourceCluster" (select)="handleHdfsPathChange($event)"></dlm-hdfs-browser>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="isHivePolicy() && sourceCluster">
        <div class="form-section col-md-12">
          <div class="form-section-title">
            {{'page.policies.form.sections.database' | translate}}
            <div class="pull-right">
              <i class="fa text-primary"
                [ngClass]="{'fa-chevron-down': sectionCollapsedMap.database, 'fa-chevron-up': !sectionCollapsedMap.database}"
                (click)="toggleSection('database')"></i>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="form-group" [collapse]="sectionCollapsedMap.database">
            <div class="row flex-center">
              <div class="col-md-8">
                <span class="text-muted">
                  <span>
                    {{'page.policies.form.selected' | translate}}: {{policyForm.value.databases}}
                  </span>
                </span>
              </div>
              <div class="col-md-4">
                <dlm-search-input (valueChange)="handleSearchChange($event)" [value]="databaseSearch$ | async"></dlm-search-input>
              </div>
            </div>
            <dlm-hive-browser
              formControlName="databases"
              [databases]="sourceDatabases$ | async"
              [readonly]="false"
              ></dlm-hive-browser>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-section col-md-12">
          <div class="form-section-title">
            {{'page.policies.form.sections.job' | translate}}
            <div class="pull-right">
              <i class="fa text-primary"
                [ngClass]="{'fa-chevron-down': sectionCollapsedMap.job, 'fa-chevron-up': !sectionCollapsedMap.job}"
                (click)="toggleSection('job')"></i>
            </div>
            <div class="clearfix"></div>
          </div>
          <div [collapse]="sectionCollapsedMap.job" formGroupName="job">
            <div class="schedule-group">
              <div class="row new-row">
                <div class="col col-md-12">
                  <div class="row">
                    <div class="col col-md-12">
                      <label>{{'page.policies.form.fields.repeat' | translate}}</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col col-md-2">
                      <dlm-select-field formField formControlName="repeatMode" [options]="repeatOptions" [value]="repeatOption">
                      </dlm-select-field>
                    </div>
                    <div *ngIf="repeatOption === policyRepeatModes.EVERY" class="col col-md-1" [class.has-error]="policyForm.get('job').get('frequency').touched && policyForm.get('job').get('frequency').invalid">
                      <input type="text" class="form-control" placeholder="Freq" formField formControlName="frequency" />
                    </div>
                    <div *ngIf="repeatOption === policyRepeatModes.EVERY" class="col col-md-2">
                      <dlm-select-field formField formControlName="unit" [options]="units" [value]="unit">
                      </dlm-select-field>
                    </div>
                    <div *ngIf="repeatOption === policyRepeatModes.EVERY && unit === policyTimeUnits.WEEKS" class="col col-md-7">
                      <div class="row">
                        <div class="col col-md-1 text-center" style="margin-top: 10px">
                          <span>&nbsp;on&nbsp;</span>
                        </div>
                        <div class="col col-md-11">
                          <dlm-radio-button [items]="dayOptions" formControlName="day" [selectedValue]="selectedDay"
                                            [type]="'buttons'" (change)="handleDayChange($event)"></dlm-radio-button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col col-md-5 col-md-offset-2">
                      <dlm-field-error *ngIf="policyForm.get('job').get('frequency').touched && policyForm.get('job').get('frequency').hasError('required')">
                        {{'forms.validation_errors.required' | translate:freqRequired}}
                      </dlm-field-error>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row new-row">
                <div class="col-md-3" formGroupName="startTime">
                  <div class="date-time-group">
                    <div class="date-control">
                      <label>{{'page.policies.form.fields.start_date' | translate}}</label>
                      <my-date-picker
                        selectionTxtFontSize="12"
                        [selDate]="policyForm.value.job.startTime.date"
                        [placeholder]="'page.policies.form.fields.date_format' | translate"
                        [options]="datePickerOptions"
                        (dateChanged)="handleDateChange($event, 'startTime')">
                      </my-date-picker>
                    </div>
                    <div class="new-row">
                      <dlm-form-field fieldClass="col-md-12" errorClass="col-md-12">
                        <label>{{'page.policies.form.fields.start_time' | translate}}</label>
                        <timepicker formField formControlName="time" [showMeridian]="false" [showSpinners]="false"></timepicker>
                        <dlm-field-error *ngIf="policyForm.get('job').get('startTime').get('time').hasError('lessThanCurrent')">
                          {{'forms.validation_errors.time_less_than_current' | translate}}
                        </dlm-field-error>
                      </dlm-form-field>
                    </div>
                  </div>
                </div>
                <div class="col-md-3" formGroupName="endTime">
                  <div class="date-time-group">
                    <div class="date-control">
                      <label>{{'page.policies.form.fields.end_date' | translate}}</label>
                      <my-date-picker
                        [selDate]="policyForm.value.job.endTime.date"
                        [placeholder]="'page.policies.form.fields.date_format' | translate"
                        (dateChanged)="handleDateChange($event, 'endTime')"
                        [options]="datePickerOptions">
                      </my-date-picker>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-section col-md-12">
          <div class="form-section-title">
            {{'page.policies.form.sections.advanced' | translate}}
            <div class="pull-right">
              <i class="fa text-primary"
                 [ngClass]="{'fa-chevron-down': sectionCollapsedMap.advanced, 'fa-chevron-up': !sectionCollapsedMap.advanced}"
                 (click)="toggleSection('advanced')"></i>
            </div>
            <div class="clearfix"></div>
          </div>
          <div [collapse]="sectionCollapsedMap.advanced" formGroupName="advanced">
            <dlm-form-field
              [label]="'page.policies.form.fields.queue_name' | translate">
              <input type="text" class="form-control" formField formControlName="queue_name"/>
            </dlm-form-field>
            <dlm-form-field
              [label]="'page.policies.form.fields.max_bandwidth' | translate">
              <div class="input-group">
                <input type="text" class="form-control" formField formControlName="max_bandwidth"/>
                <span class="input-group-addon">{{'page.policies.form.fields.bandwidth_unit' | translate}}</span>
              </div>
            </dlm-form-field>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-footer col-md-12">
          <div class="footer-controls pull-right">
            <button type="button" class="btn btn-default" (click)="cancel()">
              {{'common.cancel' | translate}}
            </button>
            <button class="btn btn-success" type="submit">
              {{'common.review' | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
