<div class="row page-section">
  <div class="col-md-12">
    <dlm-page-header [title]="'common.clusters'"></dlm-page-header>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <dp-map *ngIf="(clustersMapData$ | async).length" [mapSize]="mapSize" [mapData]="clustersMapData$ | async"></dp-map>
  </div>
</div>
<dlm-progress-container [progressState]="overallProgress$ | async">
  <div class="row page-section">
    <div class="col-md-12">
      <div class="pull-right">
        <dlm-add-entity-button
          [canAddPolicy]="(resourceAvailability$ | async)?.canAddPolicy"
          [canAddPairing]="(resourceAvailability$ | async)?.canAddPairing">
        </dlm-add-entity-button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div *ngIf="(tableData$ | async)?.length > 0; else noClusters">
        <dlm-cluster-list [clusters]="tableData$ | async"></dlm-cluster-list>
      </div>
      <ng-template #noClusters>
        <div qe-attr="no-clusters-alert">
          <div class="alert alert-warning" role="alert">
            {{"page.pairings.create.content.no_clusters" | translate}}
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</dlm-progress-container>