<dlm-page-header [title]="'common.clusters'"></dlm-page-header>
<div class="row page-section">
  <div class="col-md-12">
    <dp-map [mapSize]="mapSize" [mapData]="mapData$ | async"></dp-map>
  </div>
</div>
<div class="row page-section">
  <div class="col-md-12">
    <div class="pull-right">
      <dlm-add-entity-button [canAddPolicy]="canAddPolicy" [canAddPairing]="canAddPairing">
      </dlm-add-entity-button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <dlm-cluster-list [clusters]="tableData$ | async"></dlm-cluster-list>
  </div>
</div>
