<cluster-card>
  <div class="row">
    <div class="col-md-5 col">
      <div class="cluster-name">{{firstCluster.clusterDetails.name}}</div>
      <div>{{firstCluster.clusterDetails.dataCenter}}</div>
    </div>
    <div class="col-md-2 spinner col">
      <i class="fa fa-spin fa-spinner"></i>
    </div>
    <div class="col-md-5 col right">
      <div class="cluster-name">{{secondCluster.clusterDetails.name}}</div>
      <div>{{secondCluster.clusterDetails.dataCenter}}</div>
    </div>
  </div>
</cluster-card>
