<section class="dp-container dp-route dp-route--first-run" style="position: fixed;top:0;left:0;height: 100%; width: 100%; background-color: rgb(247, 247, 247);">
  <div style="height:100%; display: flex;" >
    <aside class="dp-aside"></aside>
    <div>
      <header>

        Add lake
        </header>
      <div>
        Lake Name
        Description
        Location

        Cluster
        URL
        Credential

        Test Ping
        Test Credentials
      </div>
    </div>
  </div>
</section>
