<section style="padding: 40px;">
  <header>
    <div [routerLink]="['/lake-add']" class="" style="height: initial; text-transform:none; font-size: 1em; text-align: left; display: flex;padding: 10px;">
        <div style="width: 50px;"><i class="fa fa-server" aria-hidden="true" style="font-size: 1.2em;"></i></div>
        <div style="flex-grow: 1;">
          <div style="text-transform: uppercase; font-size: 1.2em; font-weight: bold;">Add datalakes</div>
          <p>desc.</p>
        </div>
      </div>
  </header>
  <div>
    <div class="dp-input">
      <label for="location" style="display: block;">Name</label>
      <input class="" type="text" placeholder="Name" name="name" id="name" [(ngModel)]="lake.name" required/>
    </div>
    <div class="dp-input dp-input--typeahead">
      <label for="location" style="display: block;">Location</label>
      <input class="" type="text" placeholder="Location" name="location" id="location" required [value]="locationQueryString" (focus)="onFocusLocation($event)" (blur)="onBlurLocation($event)" (input)="onUpdateLocation($event)"/>
      <ul class="dp-input__options" *ngIf="_isLocationInFocus === true">
        <li *ngIf="locationQueryString.length < 3 && _isLocationFetchInProgress === false">Continue typing for options.</li>
        <li *ngIf="_isLocationFetchInProgress">Fetching options...</li>
        <li *ngIf="locationQueryString.length >= 3 && _isLocationFetchInProgress === false && locationOptions.length === 0">No locations found.</li>
        <li *ngFor="let cLocation of locationOptions" (mousedown)="onSelectLocation(cLocation)" class="dp-input__option">{{cLocation.city}}, {{cLocation.country}}</li>
      </ul>
    </div>
    <div class="dp-input">
      <label for="description" style="display: block;">Description</label>
      <input class="" type="text" placeholder="Description" name="description" id="description" [(ngModel)]="lake.description" required/>
    </div>
    <div class="dp-input">
      <label for="uri" style="display: block;">Cluster URI</label>
      <input class="" type="text" placeholder="URI" name="uri" id="uri" [(ngModel)]="cluster.ambariurl" required (input)="onUpdateCluster($event)"/>
      <i class="fa fa-times dp-input__icon" aria-hidden="true" *ngIf="_isClusterValidateSuccessful === false && _isClusterValidateInProgress === false"></i>
      <i class="fa fa-check dp-input__icon" aria-hidden="true" *ngIf="_isClusterValidateSuccessful && _isClusterValidateInProgress === false"></i>
      <i class="fa fa-spinner dp-input__icon" aria-hidden="true" *ngIf="_isClusterValidateInProgress"></i>
    </div>
  </div>
  <footer class="" style="">
    <button type="button" class="mdl-button mdl-button--colored mdl-color--green mdl-color-text--white mdl-js-button mdl-js-ripple-effect" (click)="onCreate()">
      Add
    </button>
    <button type="button" class="mdl-button mdl-button--colored mdl-color-text--white mdl-js-button mdl-js-ripple-effect" (click)="onCancel()">
      Cancel
    </button>
  </footer>
</section>
