<dlm-table [columns]="columns"
           [rows]="jobs"
           (selectAction)="handleSelectedAction($event)"
           selectionType="checkbox">
</dlm-table>

<ng-template #statusCellTemplate let-row="row">
  <dlm-job-status [job]="row"></dlm-job-status>
</ng-template>

<ng-template #iconCellTemplate>
  <span class="fa fa-arrow-right" aria-hidden="true"></span>
</ng-template>

<ng-template #prevRunsTemplate let-row="row" let-column="column">
  <dlm-job-status *ngFor="let job of row.previousRuns" [job]="job">&nbsp;</dlm-job-status>
</ng-template>

<ng-template #agoTemplate let-value="value">
  <span *ngIf="value > 0">{{value | amTimeAgo}}</span>
  <span *ngIf="value <= 0">In Progress</span>
</ng-template>

<ng-template #nextRunTemplate let-row="row">
  {{row.nextRun | amDateFormat:'MMM DD, YYYY'}}
</ng-template>

<ng-template #runTimeTemplate let-value="value" let-row="row">
  <span *ngIf="row.runTime > 0">{{value | amDateFormat: 'hh:mm:ss'}}</span>
  <span *ngIf="row.runTime <= 0">Running</span>
</ng-template>

<ng-template #transferredTemplate let-value="value" let-row="row">
  <div *ngIf="!row.isCompleted" class="progress">
    <div
      class="progress-bar progress-bar-info progress-bar-striped active"
      aria-valuemin="0"
      aria-valuemax="100"
      [style.width]="row.progress + '%'">
      {{row.progress}}%
    </div>
  </div>
  <div *ngIf="row.isCompleted" class="graph-wrapper">
    <job-transferred-graph [job]="row"></job-transferred-graph>
  </div>
</ng-template>

<ng-template #transferredFormattedTemplate let-value="value">
  {{value | bytesSize}}
</ng-template>