<dlm-table
  #jobsTable
  [showPageSizeMenu]="showPageSizeMenu"
  [columns]="columns"
  [rows]="jobs"
  [selectionType]="selectionType"
  (selectColumnAction)="handleSelectedAction($event)"
  selectionType="checkbox">
</dlm-table>

<dlm-icon-column [showHexagon]="false" [showValue]="true"></dlm-icon-column>

<ng-template #statusCellTemplate let-row="row">
  <dlm-job-status [job]="row"></dlm-job-status>
</ng-template>

<ng-template #agoTemplate let-value="value">
  <span *ngIf="policy.lastJobResource">
    <span *ngIf="value; else" [tooltip]="value | fmtTz | amDateFormat:'YYYY-MMM-DD, HH:mm:ss'">
      {{value | fmtTz | amTimeAgo}}
    </span>
    <ng-template #inProgress>
      In Progress
    </ng-template>
  </span>
</ng-template>

<ng-template #nextRunTemplate let-row="row">
  <span [tooltip]="row.nextRun | fmtTz | amDateFormat:'YYYY-MMM-DD, HH:mm:ss'">
    {{row.nextRun | fmtTz | amDateFormat:'MMM DD, YYYY'}}
  </span>
</ng-template>

<ng-template #runTimeTemplate let-value="value" let-row="row">
  <span *ngIf="row.duration > 0">{{value | amUtc | amDateFormat:'HH:mm:ss'}}</span>
  <span *ngIf="row.duration <= 0">{{'jobs.duration.running' | translate}}</span>
</ng-template>

<ng-template #transferredFormattedTemplate let-value="value">
  <span [innerHTML]="value | bytesSize"></span>
</ng-template>
