<div class="row">
  <div
    [ngClass]="{'navigation-bar': true, 'navigation-bar-fit-height': 'fitHeight'}">
    <div class="navigation-bar-container">
      <ul class="side-nav-header nav nav-pills nav-stacked">
        <li class="navigation-header">
          <div class="row">
            <div id="header_icon" class="col-sm-3">
              <a *ngIf="header.iconHtml != ''" [routerLink]="header.linkURL" class="ambari-logo"><span [innerHTML]="header.iconHtml"></span></a>
            </div>
            <div id="header_content" class="col-sm-9">
              <div class="btn-group">
              <div *ngIf="hasSubMenu(header);else no_sub_menu" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="ambari-header" style="font-size: 15px; padding: 0px;">{{header.label}}</span>
                <span class="toggle-icon glyphicon glyphicon-menu-down"></span>
              </div>
              <ng-template #no_sub_menu>
                <div>
                  <span class="ambari-header" style="font-size: 15px; padding: 0px;">{{header.label}}</span>
                </div>
              </ng-template>
              <ul class="dropdown-menu" [hidden]="!hasSubMenu(header)">
                <li *ngFor="let item of header.subMenu">
                  <a [routerLink]="item.linkURL">{{item.label}}</a>
                </li>
              </ul>
            </div>
            </div>
          </div>
        </li>
      </ul>
      <ul class="side-nav-menu nav nav-pills nav-stacked">
        <li *ngFor="let item of menuItems"
          [ngClass]="{'mainmenu-li': true, 'active': false, 'has-sub-menu': hasSubMenu(item)}"
            routerLinkActive="active">

          <a [routerLink]="item.linkURL" *ngIf="!hasSubMenu(item);else has_sub_menu">
            <span [innerHTML]="item.iconHtml"></span>
            <span class="navigation-menu-item">{{item.label}}</span>
          </a>

          <ng-template #has_sub_menu>
            <a href="#" data-toggle="collapse-sub-menu">
              <span [innerHTML]="item.iconHtml"></span>
              <span class="navigation-menu-item">{{item.label}}</span>
              <span class="toggle-icon glyphicon glyphicon-menu-down pull-right"></span>
            </a>
            <ul class="sub-menu nav nav-pills nav-stacked">
              <li *ngFor="let subItem of item.subMenu"
                  [ngClass]="{'submenu-li': true, 'active': false}"
                  routerLinkActive="active">
                <a [routerLink]="subItem.linkURL">
                  <span [innerHTML]="subItem.iconHtml"></span>
                  <span class="submenu-item">{{subItem.label}}</span>
                </a>
              </li>
            </ul>
          </ng-template>
        </li>
      </ul>
      <ul class="side-nav-footer nav nav-pills nav-stacked">
        <li class="navigation-footer">
          <a href="#" data-toggle="collapse-side-nav" (click)="toggleNavbar()">
            <span class="navigation-icon fa fa-angle-double-left"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
