.mdl-button--icon{
    font-size: 14px;
    height: 14px;
    width: 14px;
    min-width: 14px;
}
.fa__fa-ellipsis--h-icon {
    font-size: 14px;
}

.fa__fa-star--icon {
    padding: 0 8px;
}

.fa__fa-star--favourite-icon {
    padding: 0 8px;
    color:  #E98A40;
}

.fa__fa-edit--icon {
    padding: 0 8px;
}

.fa__fa-close--icon {
   padding: 0 8px;
}

.action-container {
    height: 14px;
    width: 14px;
}

