.page-header {
  border-bottom-color: transparent;
}

.filters-block {
  display: flex;
  align-items: center;

  .filter-item {
    margin-right: 10px;
  }
}

.service-legend {
  .hexagon {
    line-height: 14px;
  }
  min-width: 75px;
  .service-name {
    line-height: 28px;
    font-size: small;
    padding-left: 5px;
  }
}