<div class="page-header">
  <div class="pull-left">
    <p>
      <i class="glyphicon glyphicon-list-alt"></i>
      <span class="h2">{{ "page.policies.header" | translate }}</span>
    </p>
  </div>
  <div class="pull-right filters-block">

    <div class="filter-item">
      <dlm-table-filter
        [filterBy]="filterBy"
        [data]="filteredPolicies$ | async"
        (onFilter)="onFilter($event)"></dlm-table-filter>
    </div>

    <div class="pull-left filter-item">
      <policy-service-filter (onFilter)="filterPoliciesByService($event)"></policy-service-filter>
    </div>

    <dlm-dropdown
      buttonClass="btn-secondary"
      [text]="'common.add' | translate"
      [items]="addOptions"
      [alignRight]="true"
      (onSelectItem)="handleAddSelected($event)">
    </dlm-dropdown>
  </div>
  <div class="clearfix"></div>
</div>

<dp-policy-table [policies]="filteredPolicies$ | async"></dp-policy-table>
