<div class="page-header">
  <div class="pull-left">
    <p>
      <i class="glyphicon glyphicon-list-alt"></i>
      <span class="h2">{{ "page.policies.header" | translate }}</span>
    </p>
  </div>
  <div class="pull-right filters-block">

    <div class="service-legend">
      <div class="hexagon hexagon-warning pull-left">
        <i class="fa fa-file-o"></i>
      </div>
      <div class="service-name pull-left">HDFS</div>
    </div>

    <div class="service-legend">
      <div class="hexagon hexagon-success pull-left">
        <i class="fa fa-database"></i>
      </div>
      <div class="service-name pull-left">Hive</div>
    </div>

    <div class="pull-left filter-item">
      <span class="text-muted">{{'page.policies.groups' | translate}}:</span>
      <dlm-dropdown
        selectable="true"
        type="link"
        [alignRight]="true"
        [items]="groupItems"
      ></dlm-dropdown>
    </div>
    <div class="pull-left filter-item">
      <span class="text-muted">{{'page.policies.tags' | translate}}:</span>
      <dlm-dropdown
        selectable="true"
        type="link"
        [items]="tagItems"
        [alignRight]="true"
        (onSelectItem)="handleSelectFilter('tags', $event)"
      ></dlm-dropdown>
    </div>
    <dlm-dropdown
      buttonClass="btn-secondary"
      [text]="'common.add' | translate"
      [items]="addOptions"
      [alignRight]="true"
      (onSelectItem)="handleAddSelected($event)">
    </dlm-dropdown>
  </div>
  <div class="clearfix"></div>
</div>

<dp-policy-table [policies]="filteredPolicies$ | async"></dp-policy-table>
