/* MDL overrides */
$layout-header-desktop-row-height: 55px;
$layout-drawer-narrow: 175px;
$layout-drawer-width: 175px;
$layout-header-desktop-baseline: 0px;
$layout-header-bg-color: #FFFFFF;
$layout-text-color: #848484 !important;
$layout-header-desktop-indent: 10px;

/* DP Variables */
$concrete: #F2F2F2;
$oxford-blue: #333F54;
$mine-shaft: #333333;
$fruit-salad: #4AAB52;

$header-height: $layout-header-desktop-row-height;
$logo-background: $oxford-blue;
