/* You can add global styles to this file, and also import other style files */
@import "fonts";
@import "styles/variables";
@import "styles/mdl-extend";
@import "styles/buttons";
@import "styles/table";
@import "styles/mixins";
@import "styles/html-controls";

body {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  background: $gallery;
  color: $dove-gray;
  line-height: 1;
}

.dp-view-pane {
  padding: 20px 20px;
  border: 1px solid $concrete;
  min-height: calc(100vh - 85px);
}

div.spacer-34 {
  height: 34px;
}

div.spacer-15 {
  height: 15px;
}

.visibility-visible {
  visibility: visible;
}

.visibility-hidden {
  visibility: hidden;
}

.hwx-title {
  font-size: 20px;
  color: $mine-shaft;
}

.hwx-desc {
  font-size: 12px;
  color: $dusty-gray;
  line-height: 1.5;
  margin-bottom: 3px;
}

.hwx-body {
  font-size: inherit;
  color: inherit;
}

.page-container {
  padding: 30px 20px 20px 20px;
}

.icon-container {
  padding-left: 30px;

  &:before {
    font-family: "FontAwesome";
    font-style: normal;
    font-size: 20px;
    content: '\f233';
    position: absolute;
    margin-left: -30px;
    display: inline-block;
    color: $fruit-salad;
  }
}

.breadcrumb-container {
  padding-left: 25px;
  height:45px;
  background-color: $albaster-gray;
    span {
      color : $shuttle-gray;
      padding: 15px 0px;
      display: inline-block;
    }
}

.button-container{
  padding-top: 30px;
  .mdl-button {
    margin-right: 10px;
  }
}

@include summary-pane("summary-pane-5", "20%");

.overFlowEllipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap

}
