.breadcrumb a {
    color: #54B0CF;
    text-decoration: none;
}

.breadcrumb {
    padding: 0rem;
    margin-bottom: 1rem;
    list-style: none;
    border-radius: 0.25rem;
}

.breadcrumb:before {
    content: "\f0a8";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 18px;
    padding-right: 0.5em;
    float: left;
    color: #676966;
}

.breadcrumb::after {
    content: "";
    display: table;
    clear: both;
}

.breadcrumb-item {
    float: left;
}

.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: #54B0CF;
    content: "/";
}

.breadcrumb-item + .breadcrumb-item:hover::before {
    text-decoration: underline;
}

.breadcrumb-item + .breadcrumb-item:hover::before {
    text-decoration: none;
}

.breadcrumb-item.active {
    color: #ABACAA;
}
