<div class="btn-group" dropdown [ngSwitch]="type" placement="bottom right" [attr.placement.right]="alignRight">
  <div dropdownToggle>
    <div #content>
      <ng-content></ng-content>
    </div>
    <div *ngIf="!content.children.length" class="pull-left">
      <span class="text-primary actionable" *ngSwitchCase="'link'">
        {{text}} <span *ngIf="showChevron" class="glyphicon glyphicon-chevron-down"></span>
      </span>
      <button *ngSwitchDefault type="button" class="btn dropdown-toggle" [ngClass]="buttonClass">
        <span class="pull-left">{{text}}&nbsp;</span>
        <span *ngIf="showChevron" class="glyphicon glyphicon-chevron-down pull-right"></span>
      </button>
    </div>
    <div class="clearfix"></div>
  </div>
  <ul *dropdownMenu class="dropdown-menu" [class.dropdown-menu-right]="alignRight">
    <li *ngFor="let item of items" (click)="selectItem(item)" [class.disabled]="item.disabled">
      <a href="javascript:void(0);" class="dropdown-item">{{item.label}}</a>
    </li>
  </ul>
</div>
