@import '../../../../styles/variables';
@import '../../../../styles/utils';
@import '../../../../styles/mixins';

$hex-size: 50px;
$hex-color: $primary-color;

#create_pairing {
  background: white;
  height: 80vh;
  margin-right: 20px;
  .content-row {
    margin: 0 15px;
    display: table;
    table-layout: fixed;
    width: 98%;
    &.header {
      margin: 15px 15px 0;
    }
    .col, .col-header {
      padding: 0 15px;
      float: none;
      display: table-cell;
      vertical-align: top;
      &.pairing-icon-col {
        vertical-align: middle;
        text-align: center;
      }
      &.pairing-col {
        vertical-align: top;
      }
      .border-bottom {
        border-bottom: 1px solid $graph-color;
        padding-bottom: 10px;
      }
      button.clear {
        border: none;
        background: $white-color;
        text-decoration: none;
        &:active {
          border: none;
          outline: none;
        }
        &:focus {
          outline: none;
        }
        &.disabled {
          .hex-wrap {
            .hex-icon {
              opacity: 0.6;
            }
          }
        }
      }
    }
    .col-header {
      padding: 15px;
    }
  }
}

.hex-wrap {
  position: relative;
  height: $hex-size;
  width: $hex-size;
  margin: 0 auto;
}

.hex-icon {
  @include hexagon($hex-size, $hex-color);
  text-align: center;
  font-size: $hex-size * 0.6;
  color: white;
}

.basic-form {
  padding: 0;
}