@import "../../../../../styles/variables";

.mdl-dialog {
  top: 20%;
  width: 360px;
  padding: 0px;
  color: $dove-gray;
}

.dialog-container{
  padding: 0 15px 15px;
}
.dialog-title{
  padding: 10px 15px;
  border-bottom: 1px solid $silver;
}
.actions {
  float: right;
  margin: 15px 0px;
}

.error-notification-bar {
  padding: 15px;
  background: $concrete;
  height: 34px;
  margin-bottom: 20px;
  .fa-times-circle {
    font-size: 24px;
    color: $roman-red;
  }
  .fa-remove {
    color: $dusty-gray;
    cursor: pointer;
  }
  .text-medium {
    font-weight: 500;
    color: $roman-red;
  }
}
