.cluster-name {
  font-weight: 500;
  font-size: 20px;
}

.datacenter-name {
  font-weight: 500;
  font-size: 16px;
}

.slash {
  font-size: 18px;
  font-weight: 500;
  color: #666;
}

.cell-content {
  font-size: 16px;
  font-weight: 500;
}

.datatable-body-cell {
  span.unit {
    font-size: 0.8em;
  }
  &.add-actions-cell {
    justify-content: flex-end !important;

    .datatable-body-cell-label {
      padding-right: 20px;
      height: 100%;
      display: flex;
      flex-basis: 90px;
      border-left: 1px solid #ccc;
      justify-content: center;
      &:hover {
        flex-grow: 1;
        .add-actions-buttons {
          display: flex;
        }
        .add-actions-icon {
          display: none;
        }
        width: 100%;
      }
    }
  }
  &.status {
    .datatable-body-cell-label {
      padding-left: 20px;
    }
  }
}

.add-actions-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;

  .add-actions-buttons {
    display: none;
    justify-content: space-around;
    flex-grow: 1;
  }
  .add-actions-icon {
    font-size: 20px;
  }
}

.datatable-row-detail {
  padding: 25px;
  background-color: #EEE;
}

.datatable-scroll {
  width: 100% !important;
}

.datatable-header-cell {
  text-align: center !important;
}

.text-center {
  .datatable-body-cell-label {
    width: 100%;
  }
}