@import "../../../../../styles/variables";

.leaflet-container{
    background: $spindle-blue;
}

.map-container {
    outline: none;
    margin: 0 auto;
}

:host /deep/ .leaflet-control {
  padding: 0 20px;
  text-align: right;
  a {
      color: #8fbfeb;
      text-decoration: none;
  }
}
