body {
    font-family: "Roboto";
}
.m-0 {
    margin: 0px;
}
.mt-1 {
    margin-top: 24px;
}
select,input{
    min-width: 300px;
    height: 24px;
}
input {
    border: 1px solid #cccccc;
    border-radius: 4px;
}

/* Action Buttons */
.actions-button:before {
    content: "\f013";
    font-family: "FontAwesome";
    padding-right: 5px;
}
.actions-button:after {
    content: "\f107";
    padding-left: 5px;
    font-family: "FontAwesome";
}
.create-cluster:before {
    content: "\f019";
    padding-right: 5px;
    font-family: "FontAwesome";
}

/* Info Panel */
.info-panel {
    padding: 0px;
    height: 6rem;
    margin-top: 1em;
}
.info-panel div {
    padding: 1rem;
    border-top: 1px solid #EEEEEE;
    border-right:  1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.info-panel div:first-child {
    border-left:  1px solid #EEEEEE;
}

/* Fonts */
.thin {
    font-weight: 200;
}

/* Maps */
.dotted {
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    -webkit-background-size: 15px 15px;
    -moz-background-size: 15px 15px;
    background-size: 15px 15px;
}


.logged-in-user:before {
    content: "\f2bd";
    font-family: FontAwesome;
}

/* Switch Button */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #4caf50;
}

input:focus + .slider {
    box-shadow: 0 0 1px #4caf50;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Configure View */
.config-bgcolor {
    background: #F7F7F7;
}
