<div class="dashboard-title">
  <span>{{"common.dashboard" | translate}}</span>
</div>
<div class="page-container">
  <div *ngIf="showNotification">
    <div class="notification-bar">
      <i class="fa fa-check-circle pull-left"></i>
      <i class="fa fa-remove pull-right" (click)="closeNotification()"></i>
      <span class="text-medium">{{"pages.infra.labels.clusterAddSuccess" | translate}}</span>
      <span class="text-small-1">{{"pages.infra.description.clusterAddSuccess" | translate}} </span>
    </div>
  </div>

  <div class="page-title">
    <i class="fa fa-server"></i>
    <div class="segment-left-30">
      <span class="text-large">{{"pages.infra.labels.addCluster" | translate}}</span>
      <span class="text-small-1">{{"pages.infra.description.addCluster" | translate}} </span>
    </div>
  </div>

  <div class="segment-left-30" #ambariInput>
    <span class="text-dark-small-1">{{"pages.infra.labels.ambariUrl" | translate}} <sup><i class="fa fa-asterisk mandatory-field"></i></sup></span>
    <input class="dp-input-url pull-left" placeholder="eg. http://10.10.10.10:8080" name="url" type="text" [(ngModel)]="cluster.ambariurl" (keypress)="onKeyPress($event)"/>
    <button class="mdl-button btn-hwx-primary pull-left" (click)="getClusterInfo($event)">
      <span *ngIf="_isClusterValidateInProgress"><i class="fa fa-spinner fa-spin"></i></span>
      <span *ngIf="!_isClusterValidateInProgress">{{"common.go" | translate}}</span>
    </button>
  </div>

  <div class="placeholder"></div>

  <div *ngIf="_isClusterValidateSuccessful && !_isClusterValid" class="error-section validation-error segment-left-30">
    <i class="fa fa-times-circle"></i>
    <div class="">
      <span class="text-medium">{{"pages.infra.labels.connectionFailed" | translate}}</span>
      <span class="text-small-1">{{"pages.infra.description.connectionFailed" | translate}}</span>
      <ul>
        <li *ngFor="let reason of reasons">{{reason}}</li>
      </ul>
    </div>
  </div>

  <div *ngIf="showClusterDetails" class="segment-left-30">
    <div class="cluster-details">
      <div class="segment-left-20">
        <span class="text-dark-small-1">{{"pages.infra.labels.clusterName" | translate}}</span>
        <span class="text-small-2">{{cluster.name}}</span>
      </div>
      <div class="segment-left-20">
        <span class="text-dark-small-1">{{"pages.infra.labels.ipAddress" | translate}}</span>
        <span class="text-small-2">{{cluster.ipAddress}}</span>
      </div>
      <div class="segment-left-20">
        <span class="text-dark-small-1">{{"pages.infra.labels.services" | translate}}</span>
        <span *ngFor="let service of cluster.services" class="text-small-2"><i class="fa fa-check-circle"></i> {{service}}</span>
      </div>
    </div>

    <div *ngIf="isDataLake" class="datalake-indicator segment-left-30">
      <i class="fa fa-info-circle"></i>
      <div class="segment-left-30 datalake-notification">
        <span class="text-dark-small-1">{{"common.datalake" | translate}}</span>
        <span class="text-small-2"> {{ dLFoundMessage }}</span>
        <span class="text-small-2"><a target="_blank" href="https://en.wikipedia.org/wiki/Data_lake">{{"common.moreLink" | translate}}</a> </span>
      </div>
    </div>

    <div class="mdl-grid mdl-grid--no-spacing">
      <div class="mdl-cell mdl-cell--12-col datalake-input">
        <div class="left-panel">
          <div class="segment-left-30">
            <span class="text-dark-small-1">{{"pages.infra.labels.clusterLocation" | translate}} <sup><i class="fa fa-asterisk mandatory-field"></i></sup></span>
            <span class="text-small-2">{{"pages.infra.description.clusterLocation" | translate}}</span>
            <input class="dp-input" name="url" type="text" ngui-auto-complete
            (keyup)="checkLocation()"
            [min-chars]=3
            [(ngModel)]="location"
            [source]="getLocations.bind(this)"
            [value-formatter]="locationFormatter"
            [list-formatter]="locationFormatter"
            [no-match-found-text]="'No locations found'"
            placeholder="Location"
            (valueChanged)="onSelectLocation(location)" [(ngModel)]="searchTerm" />
          </div>
          <div class="segment-left-30">
            <span class="text-dark-small-1">{{"common.tags" | translate}}<sup><i class="fa fa-asterisk mandatory-field"></i></sup></span>
            <span class="text-small-2">{{"pages.infra.description.tags" | translate}}</span>
            <tagging-widget id="tags" [tags]="cluster.tags"
            [clearOnSearch]="true"
            (onNewSearch)="onNewTagAddition($event)"></tagging-widget>
          </div>
          <div class="segment-left-30">
            <span class="text-dark-small-1">{{"common.description" | translate}}<sup><i class="fa fa-asterisk mandatory-field"></i></sup></span>
            <span class="text-small-2">{{"pages.infra.description.description" | translate}}</span>
            <textarea class="dp-textarea" [(ngModel)]="cluster.description"></textarea>
          </div>
        </div>
        <div class="right-panel">
          <dp-map [mapData]="mapData" class="pull-right"  style="padding: 0px;margin-top:0px;margin-right: 0px" [mapSize]="1"></dp-map>
        </div>
      </div>
    </div>

    <div class="button-container">
      <button class="mdl-button btn-hwx-primary" (click)="onCreate($event)">{{"common.add" | translate}}</button>
      <button class="mdl-button btn-hwx-primary" (click)="onCreateAndAdd($event)">{{"common.addAndNew" | translate}}</button>
      <button class="mdl-button btn-hwx-secondary" (click)="onCancel($event)">{{"common.cancel" | translate}}</button>
    </div>
  </div>
</div>

