.pagination {
    position: relative;
    padding-top: 20px;
    padding-right: 20px;
    span {
        font-weight: bold;
    }
    .page-size-button {
        color: #2192bf;
        min-width: 30px;
        padding-left: 2px;
    }
    .fa{
        color: black;
    }
    .mdl-menu__container div{
        width : 75px !important;
    }
    .button-disabled {
        opacity: 0.4;
    }
    .button-previous {
        padding-right:4px;
        min-width: 20px;
        .fa {
            font-size: 18px;
        }
    }
    .button-next {
        padding-left:4px;
        min-width: 20px;
         .fa {
            font-size: 18px;
        }
    }
}
