@import '../../../styles/variables';

$status-circle-size: 12px;
$status-circle-margin: 5px;

.status-failed {
  color: $alert-color;
  position: relative;
  margin-left: $status-circle-size + $status-circle-margin;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: $status-circle-size;
    height: $status-circle-size;
    background: $alert-color;
    border-radius: $status-circle-size;
    top: 3px;
    left: -$status-circle-size - $status-circle-margin;
  }
}
