<div class="page-header">
  <div class="pull-left">
    <p>
      <i class="glyphicon glyphicon-list-alt"></i>
      <span class="h2">{{ "page.policies.header" | translate }}</span>
    </p>
    <div>
      <span class="text-muted">{{ "page.policies.header_note" | translate }}</span>
    </div>
  </div>
  <div class="pull-right">
    <dlm-dropdown
      [text]="'Add'"
      [items]="addOptions"
      (onSelectItem)="handleAddSelected($event)">
    </dlm-dropdown>
  </div>
  <div class="clearfix"></div>
</div>

<dp-policy-table [policies]="policies$ | async"></dp-policy-table>
