
.innerListScrollable .listCont {
  border: 0px solid #d0d3d7;
}

.listCont .list {
	padding:0px;
}

.componentCont .justList {
	margin-bottom: 0px;
	border-bottom: 1px solid #cfd3d7;
}

.starExplanation {
	margin-left:10px;
}