$white: #fff;
$color_celeste_approx: #ccc;
$steel_blue: steelblue;
$color_mountain_mist_approx: #999;
$color_suva_gray_approx: #868686;
$color_bright_turquoise_approx: #00ffd0;

$black_80: rgba(0, 0, 0, 0.8);

$font_1: sans-serif;
