@import "../../../../../styles/variables";

.dss-container {
  background: $white;
  margin: 15px 30px;
  padding: 15px 20px;
}

.green {
  color: $fruit-salad;
}

.tabs-container {
  display: block;
  padding-top: 10px;
}

