<div style="padding-left: 25px">
  <div class="title-pane">
    <span class="hwx-title">Enabled Services</span>
  </div>
  <div class="services-table">
    <div class="row" *ngFor="let service of enabledServices">
      <span class="logo"><img class="logo-img" [attr.src]="'../../../assets/images/' + service.imageName" alt=""/></span>
      <span class="hwx-subtitle name">{{ service.name }}</span>
      <span class="divider hwx-inline-desc"> | </span>
      <span class="hwx-inline-desc">SMARTSENSE ID - </span>
      <span class="hwx-desc smart-sense">1212121212</span>
      <span class="hwx-inline-desc">ENABLED</span>
      <!--<span class="hwx-desc action pull-right"><i class="fa fa-chevron-down"></i></span>-->
    </div>
  </div>
  <div class="title-pane">
    <span class="hwx-title">Available Services</span>
  </div>
  <div class="content-pane">
    <div class="services-list">
      <div *ngFor="let service of services; let i = index" class="service-item pull-left">
        <div class="logo-wrapper borderBox" title="{{ service.name }}">
          <img  class="logo-img" [attr.src]="'../../../assets/images/' + service.imageName" alt=""/>
          <button type="button" class="btn-hwx-primary action-btn" (click)="enableService(service)">Enable</button>
        </div>
        <div class="service-name hwx-desc"> {{ service.name }}</div>
        <div class="version hwx-inline-desc">v{{i}}.0.3</div>
     </div>
   </div>
  </div>
</div>

