<div class="container">
  <div class="" *ngIf="enabledServices.length > 0">
    <div class="title-pane">
      <span class="hwx-title">{{"pages.services.labels.enabledServices" | translate}}</span>
    </div>
    <div class="services-table">
      <div class="row" *ngFor="let service of enabledServices">
        <span class="logo"><img class="logo-img" [attr.src]="'../../../assets/images/' + + service.skuName +'-logo-blue.png'" alt=""/></span>
        <span class="hwx-subtitle name">{{ service.sku.description }}</span>
        <span class="divider hwx-inline-desc"> | </span>
        <span class="hwx-inline-desc">{{"pages.services.labels.smartSenseId" | translate}} - </span>
        <span class="hwx-desc smart-sense">{{service.enabledSku.smartSenseId}}</span>
        <span class="hwx-inline-desc">{{"pages.services.labels.enabled" | translate}}</span>
        <!--<span class="hwx-desc action pull-right"><i class="fa fa-chevron-down"></i></span>-->
      </div>
    </div>
  </div>
  <div class="" *ngIf="availableServices.length > 0">
    <div class="title-pane">
      <span class="hwx-title">{{"pages.services.labels.availableServices" | translate}}</span>
    </div>
    <div class="content-pane">
      <div class="services-list">
        <div *ngFor="let service of availableServices; let i = index" class="service-item pull-left">
          <div class="logo-wrapper borderBox" title="{{ service.skuName }}">
            <img  class="logo-img" [attr.src]="'../../../assets/images/' + service.skuName +'-logo-blue.png'" alt=""/>
            <button type="button" class="btn-hwx-primary action-btn" (click)="enableService(service)">{{"pages.services.labels.enable" | translate}}</button>
          </div>
          <div class="service-name hwx-desc"> {{ service.sku.description }}</div>
          <div class="version hwx-inline-desc">v1.0.0</div>
       </div>
     </div>
    </div>
  </div>
</div>

