@import "../../../styles/variables";

.breadcrumb {
  padding-left: 20px;

  .mdl-navigation__link {
    cursor: pointer;
    position: relative;
    height: 39px;
    font-size: 16px;
    color: $eastern-blue !important;
    padding-right: 18px;

    &:after {
      font-family: FontAwesome;
      content: "/\A0";
      margin-left: 5px;
      font-size: 23px;
      position: absolute;
      margin-top: 15px;
      color: $dove-gray;
    }
  }

  .mdl-navigation__link:last-of-type {
    color: $dove-gray !important;

    &:after {
      content: "";
    }
  }
}