@import "../../../styles/variables";

.breadcrumb {
  padding-left: 25px;

  .mdl-navigation__link {
    cursor: pointer;
    position: relative;
    font-size: 20px;
    color: $shuttle-gray-1 !important;
    line-height: 60px !important;
    padding-right: 5px;

    .slash {
      font-size: 20px;
      color: $iron;
      padding-right: 5px;
    }
  }

  .mdl-navigation__link:last-of-type {
    color: $tuna-1 !important;
  }
}
