<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--10-col">
        <div class="mdl-typography--headline mdl-typography--font-light mdl-color-text--green"> {{ dataSetName }} </div>
        <p> This page displays data related to dataset <strong>{{dataSetName}}</strong>.</p>

        <div class="mdl-grid mdl-grid--no-spacing info-panel">
            <div class="mdl-cell mdl-cell--3-col m-0 ">
                <label class="mdl-typography--caption"> Data Sources </label>
                <p class="mdl-typography--body-2 "> {{ getDataSources() }} </p>
            </div>
            <div class="mdl-cell mdl-cell--3-col m-0">
                <label class="mdl-typography--caption"> Category </label>
                <p class="mdl-typography--body-2 "> {{ dataSet.category }} </p>
            </div>
            <div class="mdl-cell mdl-cell--3-col m-0">
                <label class="mdl-typography--caption"> Last Updated </label>
                <p class="mdl-typography--body-2 "> - </p>
            </div>
            <div class="mdl-cell mdl-cell--3-col m-0">
                <label class="mdl-typography--caption"> NO OF Objects </label>
                <p class="mdl-typography--body-2 "> - </p>
            </div>
        </div>

        <br>

        <div class="mdl-grid mdl-grid--no-spacing hive-pane">
            <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-layout mdl-js-layout">
                    <header class="mdl-layout__header mdl-layout__header--scroll">
                        <div class="mdl-layout__header-row">
                            <nav class="mdl-navigation">
                                <a class="mdl-navigation__link" (click)="setActiveTab($event, tab.HIVE)" [ngClass]="{'is-active': (activeTab===tab.HIVE)}">HIVE</a>
                                <a class="mdl-navigation__link" (click)="setActiveTab($event, tab.HBASE)" [ngClass]="{'is-active': (activeTab===tab.HBASE)}">HBASE</a>
                                <a class="mdl-navigation__link" (click)="setActiveTab($event, tab.HDFS)" [ngClass]="{'is-active': (activeTab===tab.HDFS)}">HDFS</a>
                            </nav>
                        </div>
                    </header>
                    <main class="mdl-layout__content">
                        <section *ngIf="(activeTab===tab.HIVE)" class="mdl-layout__tab-panel is-active">
                            <div *ngFor="let hiveFilterWrapper of hiveFiltersWrapper" style="margin-top: 15px;">
                                <data-plane-search [searchParamWrappers]="hiveSearchParamWrappers" (searchFilters)="addFilterAndSearch($event, hiveFilterWrapper, 'hive')" [dataSource]="'hive'"> </data-plane-search>
                                <table style="width: 100%" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" *ngIf="hiveFilterWrapper.data.length > 0">
                                    <thead>
                                    <tr>
                                        <th class="mdl-data-table__cell--non-numeric">NAME</th>
                                        <th class="mdl-data-table__cell--non-numeric">OWNER</th>
                                        <th class="mdl-data-table__cell--non-numeric">CREATE TIME</th>
                                        <th class="mdl-data-table__cell--non-numeric">NUM OF ROWS</th>
                                        <th class="mdl-data-table__cell--non-numeric">TABLE TYPE</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let hiveTable of hiveFilterWrapper.data" (click)="doNavigateToDetails(hiveTable.name, 'hive')" style="cursor:pointer">
                                        <td class="mdl-data-table__cell--non-numeric">{{ hiveTable.name }}</td>
                                        <td class="mdl-data-table__cell--non-numeric">{{ hiveTable.owner }}</td>
                                        <td class="mdl-data-table__cell--non-numeric">{{ hiveTable.createTime }}</td>
                                        <td class="mdl-data-table__cell--non-numeric">{{ hiveTable.parameters.numRows }}</td>
                                        <td class="mdl-data-table__cell--non-numeric">{{ hiveTable.tableType }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div *ngIf="hiveFilterWrapper.data.length === 0" style="padding:15px;">
                                  No results available yet.
                                </div>
                            </div>
                            <div *ngIf="hiveFiltersWrapper.length === 0" style="padding:15px;">
                              No results available yet.
                            </div>
                        </section>
                        <section *ngIf="(activeTab===tab.HBASE)" class="mdl-layout__tab-panel is-active">
                            <div *ngFor="let hbaseFilterWrapper of hbaseFiltersWrapper" style="margin-top: 15px;">
                                <data-plane-search [searchParamWrappers]="hbaseSearchParamWrappers" (searchFilters)="addFilterAndSearch($event, hbaseFilterWrapper, 'hbase')" [dataSource]="'hbase'"> </data-plane-search>
                                <table style="width: 100%" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" *ngIf="hbaseFilterWrapper.data.length > 0">
                                    <thead>
                                    <tr>
                                        <th class="mdl-data-table__cell--non-numeric">NAME</th>
                                        <th class="mdl-data-table__cell--non-numeric">OWNER</th>
                                        <th class="mdl-data-table__cell--non-numeric">CREATE TIME</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let hbaseTable of hbaseFilterWrapper.data">
                                        <td class="mdl-data-table__cell--non-numeric">{{ hbaseTable.name }}</td>
                                        <td class="mdl-data-table__cell--non-numeric">{{ hbaseTable.owner }}</td>
                                        <td class="mdl-data-table__cell--non-numeric">{{ hbaseTable.$systemAttributes$.createdTime }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div *ngIf="hbaseFilterWrapper.data.length === 0" style="padding:15px;">
                                  No results available yet.
                                </div>
                            </div>
                            <div *ngIf="hbaseFiltersWrapper.length === 0" style="padding:15px;">
                              No results available yet.
                            </div>
                        </section>
                        <section *ngIf="(activeTab===tab.HDFS)" class="mdl-layout__tab-panel is-active">
                            <div *ngFor="let hdfsFilterWrapper of hdfsFiltersWrapper" style="margin-top: 15px;">
                                <data-plane-search [searchParamWrappers]="hdfsSearchParamWrappers" (searchFilters)="addFilterAndSearch($event, hdfsFilterWrapper, 'hdfs')" [dataSource]="'hdfs'"> </data-plane-search>
                                <table style="width: 100%" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" *ngIf="hdfsFilterWrapper.data.length > 0">
                                    <thead>
                                    <tr>
                                        <th class="mdl-data-table__cell--non-numeric">NAME</th>
                                        <th class="mdl-data-table__cell--non-numeric">OWNER</th>
                                        <th class="mdl-data-table__cell--non-numeric">SIZE</th>
                                        <th class="mdl-data-table__cell--non-numeric">URI</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let hdfsTable of hdfsFilterWrapper.data">
                                        <td class="mdl-data-table__cell--non-numeric">{{ hdfsTable.name }}</td>
                                        <td class="mdl-data-table__cell--non-numeric">{{ hdfsTable.owner }}</td>
                                        <td class="mdl-data-table__cell--non-numeric">{{ hdfsTable.size }}</td>
                                        <td class="mdl-data-table__cell--non-numeric">{{ hdfsTable.uri }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div *ngIf="hdfsFilterWrapper.data.length === 0" style="padding:15px;">
                                  No results available yet.
                                </div>
                            </div>
                            <div *ngIf="hdfsFiltersWrapper.length === 0" style="padding:15px;">
                              No results available yet.
                            </div>
                        </section>
                    </main>
                </div>
            </div>
        </div>

    </div>
    <div class="mdl-layout-spacer"></div>
</div>
