<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--10-col">
        <div class="mdl-typography--headline mdl-typography--font-light mdl-color-text--green"> {{ dataSetName }} </div>
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

        <div class="mdl-grid mdl-grid--no-spacing info-panel">
            <div class="mdl-cell mdl-cell--3-col m-0 ">
                <label class="mdl-typography--caption"> Data Sources </label>
                <p class="mdl-typography--body-2 "> {{ dataSet.dataSources }} </p>
            </div>
            <div class="mdl-cell mdl-cell--3-col m-0">
                <label class="mdl-typography--caption"> Category </label>
                <p class="mdl-typography--body-2 "> {{ dataSet.dataSetCategory }} </p>
            </div>
            <div class="mdl-cell mdl-cell--3-col m-0">
                <label class="mdl-typography--caption"> Last Updated </label>
                <p class="mdl-typography--body-2 "> {{ dataSet.lastUpdated }} </p>
            </div>
            <div class="mdl-cell mdl-cell--3-col m-0">
                <label class="mdl-typography--caption"> NO OF Objects </label>
                <p class="mdl-typography--body-2 "> {{ dataSet.objectCount }} </p>
            </div>
        </div>

        <br>

        <div class="mdl-grid mdl-grid--no-spacing hive-pane">
            <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-layout mdl-js-layout">
                    <header class="mdl-layout__header mdl-layout__header--scroll">
                        <div class="mdl-layout__header-row">
                            <nav class="mdl-navigation">
                                <a class="mdl-navigation__link" (click)="setActiveTab($event, tab.HIVE)" [ngClass]="{'is-active': (activeTab===tab.HIVE)}">HIVE</a>
                                <a class="mdl-navigation__link" (click)="setActiveTab($event, tab.HBASE)" [ngClass]="{'is-active': (activeTab===tab.HBASE)}">HBASE</a>
                                <a class="mdl-navigation__link" (click)="setActiveTab($event, tab.HDFS)" [ngClass]="{'is-active': (activeTab===tab.HDFS)}">HDFS</a>
                            </nav>
                        </div>
                    </header>
                    <main class="mdl-layout__content">
                        <section *ngIf="(activeTab===tab.HIVE)" class="mdl-layout__tab-panel is-active">
                            <div class="page-content">
                                HIVE
                                <data-plane-search> </data-plane-search>
                            </div>
                        </section>
                        <section *ngIf="(activeTab===tab.HBASE)" class="mdl-layout__tab-panel is-active">
                            <div class="page-content">
                                HBASE
                                <data-plane-search> </data-plane-search>
                            </div>
                        </section>
                        <section *ngIf="(activeTab===tab.HDFS)" class="mdl-layout__tab-panel is-active">
                            <div class="page-content">
                                 HDFS
                                <data-plane-search> </data-plane-search>
                            </div>
                        </section>
                    </main>
                </div>
            </div>
        </div>

    </div>
    <div class="mdl-layout-spacer"></div>
</div>