<div class="mdl-layout__header">
    <div class="mdl-layout__header-row">
        <div  *ngFor="let chip of appliedSearchParams; let isLast = last;">
            <span class="mdl-chip mdl-chip--deletable">
            <span class="mdl-chip__text"> {{ chip }} </span>
                <button type="button" class="mdl-chip__action" (click)="onRemove(chip)"></button>
            </span>
            <span *ngIf="!isLast" class="or-condition">
                <span> OR </span>
            </span>
        </div>
    </div>
</div>