.infoNotAvailable, .loading{
	text-align : center;
}

.infoTable{
	width:100%;
	background-color:white;
	border: 1px solid #D3D3D3;
	padding: 10px;
}

.tableRow {
	height:45px;
	padding:18px 0px;
}

.tableRow.tableHeader{
	color:#999999;	
	border-bottom: 1px solid #D0D0D0;
}

.tableRow.normalRow {
	border-bottom: 1px solid #F0F0F0;
	font-size:12px;
}

.tableCell {
	width:13%;
	float:left;
}

.tableCell.eventTime {
	width:18%;
}