@import "../../../../../styles/variables";

.filterCont{
	text-align:right;
	margin-top:-56px;
	margin-bottom:26px;
}


.infoNotAvailable, .loading{
	text-align : center;
}

.infoTable{
	width:100%;
	background-color: $white;
	border: 1px solid $iron;
	padding: 10px;
}
