.navigation-bar-container {
  ul.nav.side-nav-header {
    li.navigation-header {
      padding: 10px;
      height: 70px;
    }
  }
}
.navigation-bar-fit-height {
  left: 0;
  .side-nav-menu {
    top: 70px;
  }
}
.dlm-content {
  margin-left: 190px;
}

.vcenter {
  display: flex;
  align-items: center;
}
