<div layout="vertical">
  <div class="row">
    <div class="navigation-bar navigation-bar-fit-height">
      <div class="navigation-bar-container">
        <ul class="side-nav-header nav nav-pills nav-stacked">
          <li class="navigation-header">
            <div class="btn-group">
              <div>
                <span class="ambari-header" style="font-size: 15px; padding: 0px;">DATA LIFECYCLE MANAGER</span>
              </div>
            </div>
          </li>
        </ul>
        <ul class="side-nav-menu nav nav-pills nav-stacked">
          <li class="mainmenu-li active">
            <a routerLink="./overview" routerLinkActive="active">
              <span class="navigation-icon glyphicon glyphicon-home"></span>
              <span class="navigation-menu-item">Overview</span>
            </a>
          </li>
          <li class="mainmenu-li has-sub-menu">
            <a routerLink="./clusters" routerLinkActive="active">
              <span class="navigation-icon glyphicon glyphicon-globe"></span>
              <span class="navigation-menu-item">My Clusters</span>
            </a>
          </li>
          <li class="mainmenu-li">
            <a routerLink="./pairings" routerLinkActive="active">
              <span class="navigation-icon glyphicon glyphicon-resize-horizontal"></span>
              <span class="navigation-menu-item">Pairings</span>
            </a>
          </li>
          <li class="mainmenu-li">
            <a routerLink="./policies" routerLinkActive="active">
              <span class="navigation-icon glyphicon glyphicon-list-alt"></span>
              <span class="navigation-menu-item">Policies</span>
            </a>
          </li>
          <li class="mainmenu-li has-sub-menu active">
            <a routerLink="./jobs" routerLinkActive="active">
              <span class="navigation-icon glyphicon glyphicon-hourglass"></span>
              <span class="navigation-menu-item">Jobs</span>
            </a>
          </li>
          <li class="mainmenu-li has-sub-menu active">
            <a routerLink="./help" routerLinkActive="active">
              <span class="navigation-icon glyphicon glyphicon-info-sign"></span>
              <span class="navigation-menu-item">Help</span>
            </a>
          </li>
        </ul>
        <ul class="side-nav-footer nav nav-pills nav-stacked">
          <li class="navigation-footer">
            <a href="#" data-toggle="collapse-side-nav">
              <span class="navigation-icon fa fa-angle-double-left"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="dlm-content">
  <router-outlet style=""></router-outlet>
</div>


