.dlm-page-header {
  height: 70px;
  margin-top: 15px;
  padding-top: 15px;
  display: block;
}

.page-title {
  font-size: 20px;
  font-weight: 500;
}

.page-description {
  color: #777;
  margin-top: 5px;
}

.help-note {
  margin-left: 2px;
  font-size: 16px;
  color: #1491c1;
}
