<h2>
  {{'page.policies.header_create' | translate}}
</h2>
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="review-description">
        <p>{{'page.policies.subpage.review.description.title' | translate:descriptionTranslateParam}}</p>
        <br>
        <p class="h4">{{'page.policies.subpage.review.details.title' | translate}}:</p>
        <p *ngFor="let detail of detailsInfo">
          <span class="text-muted">{{detail.label}}:&nbsp;</span>
          <span [innerHTML]="detail.value"></span>
        </p>
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-warning alert-small inline-block">
              <i class="fa fa-warning text-warning"></i>
              <span class="text-warning">{{'page.policies.subpage.review.details.warning' | translate}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-footer-wrap">
        <div class="form-footer">
          <div class="pull-left" *ngIf="creationState?.error">
            <div class="alert alert-danger alert-small">
              <i class="fa fa-exclamation-circle"></i>
              <span>{{'page.policies.subpage.review.error.create_policy' | translate}}.</span>
              <span class="text-primary actionable" (click)="showErrorDetails()">{{ "page.policies.subpage.review.error.check_error_details" | translate}}</span>
            </div>
          </div>
          <div class="footer-controls pull-right">
            <button (click)="cancelReview()" class="btn btn-default">{{'common.cancel' | translate}}</button>
            <button (click)="submitReview()" class="btn btn-success" [disabled]="creationState?.isInProgress">
              {{'common.submit' | translate}}
              <i class="fa fa-spinner fa-spin" *ngIf="creationState?.isInProgress"></i>
            </button>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<dlm-modal-dialog #errorDetailsDialog
  [title]="'page.policies.subpage.review.error.create_policy'"
  [showCancel]="false">
  <dlm-modal-dialog-body>
    <code class="inline-block">
      {{creationState?.errorMessage?.message}}
    </code>
  </dlm-modal-dialog-body>
</dlm-modal-dialog>
