@import "../../../../../../styles/variables";


.dsAssetsHolder {
 color: $color_text_gray;
}
.dsAssetsHolder .title {
  font-size: $font_size_title;
}
.description{
  line-height:1.3;
}
.popup {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, 0.5);
  padding:30px;
  overflow: auto;
  z-index: 10;
}

.popup > .opaque {
  background-color: white;
  border-radius: 3px;
  position: relative;
  height:100%;
  width:100%;
  overflow-y: hidden;
}

