//Colors
$primary-color: #3FAE2A;
$success-color: #1EB475;
$warning-color: #E98A40;
$alert-color: #EF6162;
$link-color: #1491C1;
$black-color: #333;
$grey-color: #666;
$light-grey: #CFD3D7;
$white-color: #FFF;
$number-color: #CCC;
$background-color: #53646A;
$graph-color: #E5E7E6;
$default-table-border: #DDD;
$table-row-hover: #E7F6FC;
$table-row-hover-border: #A7DFF2;
$table-row-active: #EEE;
$table-header: #999;
$modal-backdrop: #808080;
//Fonts
$roboto-font: 'Roboto', sans-serif;
//Sizes
$modal-padding: 20px;
$row-padding: 15px; // padding size used by bootstrap for .row

$body-background: #f8f8f8;
