.dlm-progress-container {
  display: block;
  width: 100%;
}

.progress-container-waiting {
  width: 100%;
  text-align: center;
  font-size: 24px;
}

.nameLink {
  &:hover {
    cursor: pointer;
  }
}

.breadcrumbs {
  margin-bottom: 10px;
  background-color: white;
  padding: 15px;
  .breadcrumb-item:not(:first-child) {
    &:before {
      content: ">\00a0";
      padding: 0 5px;
      color: #ccc;
    }
  }
}