.content {
  background: white;
  height: 80vh;
  padding: 20px;
  margin-right: 20px;
  .row {
    margin: 0;
  }
}
.page-header {
  margin-right: 20px;
}
.header-container {
  margin: 0 10px;
  .content-row {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0 -15px;
    .col {
      padding: 0 15px;
      float: none;
      display: table-cell;
      vertical-align: top;
      &.unpair {
        padding: 0 5px;
      }
      &.second-cluster {
        padding-left: 30px;
        padding-right: 0;
      }
    }
  }
}