<div class="row">
  <div class="col-md-8">
    <dlm-page-header
      [title]="'page.pairings.header'"
      description="page.pairings.header_note"
      contextMessage="Create Pairings">
    </dlm-page-header>
  </div>
  <div class="col-md-4">
    <div class="pull-right page-section">
      <button qe-attr="add-pairing" type="button" class="btn btn-primary" (click)="createPairingClickHandler()">{{"page.pairings.create_button_text" | translate }}
      </button>
    </div>
  </div>
</div>
<dlm-progress-container [progressState]="overallProgress$ | async">
  <div class="content page-section">
    <div *ngIf="(pairings$ | async)?.length > 0; else noPairs">
      <div class="row">
        <div class="col-md-8 col-sm-11 col-lg-6">
          <div class="row pairings-container">
            <dlm-pairing-card-list [pairings]="pairings$ | async" (onUnpair)="onUnpair($event)"></dlm-pairing-card-list>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noPairs>
      <div qe-attr="no-pairs-alert" class="alert alert-warning" role="alert">
        {{ "page.pairings.content.no_pairs" | translate}}
        <button type="button" class="btn btn-primary" (click)="createPairingClickHandler()">
          {{ "page.pairings.create_button_text" | translate }}
        </button>
      </div>
    </ng-template>
  </div>
  <dlm-modal-dialog #confirmationModal
                    qe-attr="confirmation-modal"
                    title="{{ 'page.pairings.unpair.confirmation.title' | translate }}"
                    body="{{ 'page.pairings.unpair.confirmation.body' | translate }}"
                    okText="{{ 'page.pairings.unpair.confirmation.primaryButton' | translate }}"
                    (onOk)="onConfirmation()">
  </dlm-modal-dialog>

  <dlm-modal-dialog
    qe-attr="pairing-action-result-modal"
    [title]="lastOperationResponse.status"
    [body]="lastOperationResponse.message"
    [showDialog]="showOperationResponseModal"
    [showCancel]="false"
    (onClose)="onCloseOperationResponseModal()">
  </dlm-modal-dialog>

</dlm-progress-container>