.ranger-security /deep/ svg .bar {
  fill: steelblue;
}

.ranger-security /deep/ svg .bar:hover {
  fill: brown;
}

.dp-data-table--no-hover.mdl-data-table tbody tr:hover {
  background-color: #fff;
}
