i.fa-2x + span {
    vertical-align: super;
}
.help-text {
    border-left: 1px solid #cccccc;
    padding: 2em;
}
.map {
    border: 1px solid #cccccc;
    position: absolute;
}
.mt-1{
    padding-top: 1rem;
}
button {
    border-radius: 4px;
}
.config-bgcolor {
    background: #F7F7F7;
}