<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--10-col">
        <h1 class="mdl-typography--headline mdl-typography--font-light">Add Cluster</h1>
        <div class="mdl-layout-spacer"></div><div class="mdl-layout-spacer"></div>
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

        <div class="mdl-color-text--green"> <i class="material-icons">storage</i> <span class="mdl-typography--title mdl-typography--font-light"> Cluster Information </span> </div>

        <div class="mdl-typography--body-2"> Data Center </div>
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. </p>

        <span class="select-wrap">
            <select>
                <option value="" disabled selected>New Data Center</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
        </span>

        <div class="mdl-grid config-bgcolor">
            <div class="mdl-cell mdl-cell--4-col">
                <div class="mdl-typography--body-2"> Data Center Location </div>
                <span class="select-wrap">
                    <select>
                        <option value="" disabled selected>Country</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                </span>
                <span class="select-wrap">
                    <select>
                        <option value="" disabled selected>City</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                </span>
                <input type="text" placeholder="Address">
                <div class="mdl-typography--body-2"> Data Center Name </div>
                <input type="text" placeholder="Address">
            </div>
            <div class="mdl-cell mdl-cell--4-col">
                <div id="map" class="map"> </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col help-text">

                <i class="material-icons">lightbulb_outline</i> <span class="mdl-typography--body-2 mdl-color-text--green"> Help </span>
                <div class="mdl-typography--body-2"> Why Data Center ? </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. </p>

            </div>
        </div>

        <div class="mdl-typography--body-2"> Cluster IP Address/URL </div>
        <input type="text" placeholder="http://" style="width: 500px">

        <hr />

        <div class="mdl-color-text--green"> <i class="material-icons">lock</i> <span class="mdl-typography--title mdl-typography--font-light"> Login Credentials </span> </div>
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. </p>
        <div class="mdl-typography--body-1"> Cluster Admin ID </div>
        <input type="text" >
        <div class="mdl-typography--body-1"> Password </div>
        <input type="password" >

        <hr />

        <div class="mdl-color-text--green"> <i class="material-icons">fingerprint</i> <span class="mdl-typography--title mdl-typography--font-light"> Kerberos Settings </span> </div>
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. </p>
        <div class="mdl-typography--body-1"> Principle </div>
        <input type="text" placeholder="http://" style="width: 500px">
        <div class="mdl-typography--body-1"> Key URL </div>
        <input type="password" placeholder="http://" style="width: 500px">


    </div>
    <div class="mdl-layout-spacer"></div>
</div>