<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <bread-crumb> </bread-crumb>
        <h1 class="mdl-typography--headline mdl-typography--font-light">Add Cluster/{{environment.DATA_CENTER_DATA_LAKE }} </h1>
        <div class="mdl-layout-spacer"></div><div class="mdl-layout-spacer"></div>
        <div [innerHTML]="welcomeText"> </div>


        <div class="mdl-color-text--green mt-1"> <i class="fa fa-server fa-2x" aria-hidden="true"></i> <span class="mdl-typography--title mdl-typography--font-light"> Cluster Information </span> </div>

        <div class="mdl-typography--body-2"> {{environment.DATA_CENTER_DATA_LAKE }} </div>
        <p> {{ dataCenterHelp1 }}</p>

        <drop-down>
            <select #dataCeneterName (change)="onDataCenterChange(dataCeneterName.value)" >
                <option value="" selected [value]="'new'">New {{environment.DATA_CENTER_DATA_LAKE }}</option>
                <option *ngFor="let dataCenter of dataCenters" [value]="dataCenter.name"> {{ dataCenter.name }} </option>
            </select>
        </drop-down>

        <div class="mdl-grid config-bgcolor" [hidden]="dataCeneterName.value !== 'new'">
            <div class="mdl-cell mdl-cell--4-col">
                <div class="mdl-typography--body-2"> {{environment.DATA_CENTER_DATA_LAKE }} Location </div>
                <span class="select-wrap">
                    <drop-down>
                        <select #select (change)="onCountryChange(select.value)" [(ngModel)]="dataCenter.location.country">
                            <option value="" disabled selected>Country</option>
                            <option *ngFor="let countries of countryNames"> {{ countries.properties.name }} </option>
                        </select>
                    </drop-down>
                </span>
                <span class="select-wrap">
                    <drop-down>
                        <select (change)="onCityChange()" [(ngModel)]="dataCenter.location.place">
                            <option value="" disabled selected>City</option>
                            <option *ngFor="let city of cityNames" [value]="city[0]">{{ city[0] }}</option>
                        </select>
                    </drop-down>
                </span>
                <div class="mdl-typography--body-2"> {{environment.DATA_CENTER_DATA_LAKE }} Name </div>
                <input type="text" placeholder="Name" [(ngModel)]="dataCenter.name" (blur)="onDataCenterNameChange()">
            </div>
            <div class="mdl-cell mdl-cell--4-col">
                <div id="map" class="map"> </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col help-text">

                <i class="fa fa-lightbulb-o" aria-hidden="true"></i><span class="mdl-typography--body-2 mdl-color-text--green"> Help </span>
                <p> {{ dataCenterHelp2 }}</p>

            </div>
        </div>

        <div class="mdl-typography--body-2"> Cluster IP Address/URL </div>
        <drop-down [hidden]="dataCeneterName.value === 'new'">
            <select #ambariSelected (change)="onAmbariSelect(ambariSelected.value)" [ngModel]="selectedAmbariHost">
                <option value="" [value]="'new'"><< Add New Cluster >></option>
                <option *ngFor="let ambari of ambarisInDatacenter" [value]="ambari.host">
                    {{ getAmbariHostName(ambari) }}
                </option>
            </select>
        </drop-down>
        <br>
        <input [hidden]="(dataCeneterName.value !== 'new' && ambariSelected.value !== 'new')" type="text" placeholder="http://" style="width: 500px" [(ngModel)]="clusterIPOrURL">

        <hr />

        <div class="mdl-color-text--green"> <i class="fa fa-lock fa-2x"></i> <span class="mdl-typography--title mdl-typography--font-light"> Login Credentials </span> </div>
        <p> {{ ambariHelp }} </p>
        <div class="mdl-typography--body-1"> Cluster Admin ID </div>
        <input type="text" [(ngModel)]="ambari.credentials.userName">
        <div class="mdl-typography--body-1"> Password </div>
        <input type="password" [(ngModel)]="ambari.credentials.password">

        <hr />

        <div class="mdl-color-text--green"> <i class="fa fa-key fa-2x"></i> <span class="mdl-typography--title mdl-typography--font-light"> Kerberos Settings </span> </div>
        <p> {{ kerbarosHelp }} </p>
        <div class="mdl-typography--body-1"> Principal </div>
        <input type="text" placeholder="ambari-server@hostname.com" style="width: 100px" [(ngModel)]="ambari.credentials.properties['kerberosPrincipal']">
        <div class="mdl-typography--body-1"> Keytab </div>
        <input placeholder="/etc/security/kerberos/ambari-server.keytab" style="width: 100px" [(ngModel)]="ambari.credentials.properties['kerberosKeytab']">

        <div class="mt-1">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-color--green" (click)="onSave()">
                Save
            </button>

            <button class="mdl-button mdl-js-button mdl-button--raised mdl-color--grey-300" (click)="back()">
                Cancel
            </button>
        </div>

    </div>
</div>
