<div class="mdl-grid" *ngIf="source.dataCenter">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--10-col">
        <h1 class="mdl-typography--headline mdl-typography--font-light" style="margin-bottom: 0">Backup Policy</h1>
        <div [innerHTML]="welcomeText"> </div>
        <div class="mdl-typography--font-light mt-1" style="display: flex">
            <div style="display:flex;flex-grow: 1;">
              <div class="mdl-typography--title mdl-typography--font-light">
                <span [innerHTML]="entity"></span>:
              </div>
              <div style="flex: 1; margin-left: 5px;">
                <span *ngIf="source.resourceId && source.resourceType" class="mdl-typography--title  mdl-color-text--green">{{source.resourceId}}</span>
                <!--TODO: link to Raghu's component-->
                <span *ngIf="!source.resourceId || !source.resourceType" class="mdl-typography--title  mdl-color-text--green">
                  Please select a resource to replicate
                </span>
                <br>
                <div class="mdl-typography--caption">
                  <span class="mdl-typography--text-uppercase">On-Prem: {{source.dataCenter.name}}</span>
                  <span class="mdl-typography--text-uppercase" *ngIf="source.cluster">({{source.cluster.host}})</span>
                  <!--TODO: populate list of clusters for source.dataCenter-->
                  <span *ngIf="!source.cluster" style="cursor: pointer">
                    Please select a cluster below
                  </span>
                  <div class="select-wrap" *ngIf="!source.cluster">
                    <drop-down>
                        <select [(ngModel)]="source.cluster">
                            <option disabled selected [ngValue]="">Cluster</option>
                            <option *ngFor="let cluster of sourceClusterOptions" [ngValue]="cluster">{{cluster.host}}</option>
                        </select>
                    </drop-down>
                  </div>
                </div>
              </div>
            </div>
            <div class="">
              <div style="display: table; text-align: right;">
                <div style="display: table-row">
                  <div class="mdl-typography--body-1" style="display: table-cell;vertical-align: middle;padding-right: 10px;">{{status.isEnabled ? 'Enabled' : 'Disabled'}}</div>
                  <label class="switch" style="display: table-cell;vertical-align: middle;">
                    <input type="checkbox" [(ngModel)]="status.isEnabled">
                    <div class="slider round"></div>
                  </label>
                </div>
                <div style="display: table-row" *ngIf="status.since">
                  <div class="mdl-typography--caption" style="display: table-cell;padding-right: 10px;">
                    {{status.tSince}}
                  </div>
                </div>
              </div>
            </div>
        </div>

        <br>

        <div>
            <div class="mdl-typography--body-2-color-contrast"> Name </div>
            <div class="mdl-typography--caption"> Give a descriptive name to your backup policy </div>
            <input type="text" [(ngModel)]="label">
        </div>

        <br>

        <div class="mdl-color-text--green mt-1">
          <i class="fa fa-server fa-2x" aria-hidden="true"></i>
          <span class="mdl-typography--title mdl-typography--font-light"> Select Cluster </span>
        </div>

        <div class="mdl-typography--caption">Specify the target location where backups needs to be written to.</div>

        <br>

        <div class="mdl-grid mdl-grid--no-spacing config-bgcolor">
            <div class="mdl-cell mdl-cell--6-col" style="padding:16px;">
                <div class="mdl-typography--body-2"> Data Lake </div>
                <div class="mdl-typography--caption">Select the data lake your target cluster is located in.</div>
                <div class="select-wrap">
                    <drop-down>
                        <select [(ngModel)]="target.dataCenter" (change)="doRefreshMap()">
                            <option disabled selected [ngValue]="">Data Lake</option>
                            <option *ngFor="let dc of dataCenterOptions" [ngValue]="dc">{{dc.name}}</option>

                        </select>
                    </drop-down>
                </div>
                <div class="mdl-typography--body-2"> Cluster </div>
                <div class="mdl-typography--caption">Select your target cluster.</div>
                <div class="select-wrap">
                    <drop-down>
                        <select [(ngModel)]="target.cluster">
                            <option disabled selected [ngValue]="">Cluster</option>
                            <option *ngFor="let cluster of clusterOptions" [ngValue]="cluster">{{cluster.host}}</option>
                        </select>
                    </drop-down>
                </div>
                <div (click)="doToggleAdvanced()" class="mdl-typography--body-2" style="cursor: pointer">
                  <i class="fa fa-chevron-right" aria-hidden="true" [class.fa-rotate-90]="isAdvancedEnabled === true" style="transition: transform 0.2s linear"></i>
                  Advanced Settings
                </div>
                <div [hidden]="isAdvancedEnabled === false">
                  Advanced
                </div>
            </div>
            <div class="mdl-cell mdl-cell--6-col" style="background-color: rgba(255,255,255,0.25)">
                <div id="mapBackupPolicy" class="map dotted" style="text-align: center;position:relative;"> </div>
            </div>
        </div>

        <div class="mdl-color-text--green mt-1">
          <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>
          <span class="mdl-typography--title mdl-typography--font-light"> Schedule </span>
        </div>

        <div class="mdl-typography--caption">Configure when you want the job run.</div>

        <br>

        <div>
            <div class="mdl-typography--body-2"> Type </div>
            <div class="mdl-typography--caption">When should the job be run?</div>
            <div class="select-wrap">
                <drop-down>
                    <select [(ngModel)]="schedule.scheduleType">
                        <option disabled selected></option>
                        <option value="MANUAL">Manual</option>
                        <option value="SCHEDULED">Scheduled</option>
                        <option value="ON_CHANGE">On Change</option>
                    </select>
                </drop-down>
            </div>
            <div class="mdl-typography--body-2"> Frequency </div>
            <div class="select-wrap">
                <drop-down>
                    <select [(ngModel)]="schedule.frequency" (change)="doRefreshMap()" style="min-width: 150px;">
                        <option disabled selected></option>
                        <option value="HOURLY">Hourly</option>
                        <option value="DAILY">Daily</option>
                        <option value="WEEKLY">Weekly</option>
                        <option value="MONTHLY">Monthly</option>
                    </select>
                </drop-down>
            </div>
            <div class="mdl-typography--body-2"> Duration </div>
            <div class="select-wrap mdl-grid mdl-grid--no-spacing" style="">
                <div class="mdl-cell mdl-cell--3-col">
                  <input style="" type="date" name="startDate" [attr.min]="nowDate" [value]="schedule.duration.start | date:'yyyy-MM-dd'" (input)="schedule.duration.start = doHandleInputDate($event.target.value)">
                </div>
                <div class="mdl-cell mdl-cell--3-col">
                  <input style="" type="date" name="endDate" [value]="schedule.duration.stop | date:'yyyy-MM-dd'" (input)="schedule.duration.stop = doHandleInputDate($event.target.value)">
                </div>
            </div>
        </div>

        <div class="mt-1">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-color--green" (click)="doSave()">
                Save
            </button>

            <button class="mdl-button mdl-js-button mdl-button--raised mdl-color--grey-300" (click)="doCancel()">
                Cancel
            </button>
        </div>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>
