input {
  margin-top: 8px;
}

.select-wrap {
  margin-top: 8px;
}

input[type=date] {
  position: relative;
}

input[type=date]::-webkit-inner-spin-button {
  visibility: hidden;
  -webkit-appearance: none;
}
input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
input[type=date]::after{
  content: "\f073";
  font-family: "FontAwesome";
  position: absolute;
  pointer-events: none;
  right: 0;
  transform: translateX(-50%);
}

[name=endDate] {
  margin-left: 30px;
}
