<div class="mdl-grid" *ngIf="source.dataCenter">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--10-col">
        <h1 class="mdl-typography--headline mdl-typography--font-light" style="margin-bottom: 0">Backup Policy</h1>
        <div [innerHTML]="welcomeText"> </div>
        <div class="mdl-typography--font-light mt-1" style="display: flex; z-index: 600; position: relative">
          <div style="display:flex;flex-grow: 1;" *ngIf="source.resourceId && source.resourceType && source.cluster">
            <div class="mdl-typography--title mdl-typography--font-light">
              <span style="text-transform: capitalize;">{{source.resourceType}}</span>:
            </div>
            <div style="flex: 1; margin-left: 5px;">
              <span class="mdl-typography--title  mdl-color-text--green">{{source.resourceId}}</span>
              <br>
              <div class="mdl-typography--caption">
                <span class="mdl-typography--text-uppercase">On-Prem: {{source.dataCenter.name}}</span>
                <span class="mdl-typography--text-uppercase">({{source.cluster.host}})</span>
              </div>
            </div>
          </div>

          <div class="" *ngIf="source.resourceId && source.resourceType && source.cluster">
            <div style="display: table; text-align: right;">
              <div style="display: table-row">
                <div class="mdl-typography--body-1" style="display: table-cell;vertical-align: middle;padding-right: 10px;">{{status.isEnabled ? 'Enabled' : 'Disabled'}}</div>
                <label class="switch" style="display: table-cell;vertical-align: middle;">
                  <input type="checkbox" [(ngModel)]="status.isEnabled">
                  <div class="slider round"></div>
                </label>
              </div>
              <div style="display: table-row" *ngIf="status.since">
                <div class="mdl-typography--caption" style="display: table-cell;padding-right: 10px;">
                  {{doGetMoment(status.since)}}
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="!source.resourceId || !source.resourceType || !source.cluster" style="position: fixed;left:0; top: 0; height: 100%; width: 100%;background: rgba(25,25,25,0.5);display: flex;align-items: center;justify-content: center">
            <div style="min-width: 960px;padding: 20px;border-radius: 5px; background: white">
              <h2 class="mdl-typography--headline mdl-typography--font-light">We need more details...</h2>
              <div *ngIf="!source.cluster">
                <div>
                  Select a cluster
                </div>
                <div class="select-wrap">
                  <drop-down>
                      <select [(ngModel)]="source.cluster">
                          <option disabled selected [ngValue]="">Cluster</option>
                          <option *ngFor="let cluster of sourceClusterOptions" [ngValue]="cluster">{{cluster.host}}</option>
                      </select>
                  </drop-down>
                </div>
              </div>
              <div *ngIf="source.cluster">
                Data Lake {{source.dataCenter.name}}
                <br/>
                Cluster {{source.cluster.host}}
                <br/>
              </div>
              <div *ngIf="source.cluster">
                <div>
                  Select a resource
                </div>
                <div>
                  <div class="mdl-grid mdl-grid--no-spacing vertical-tab-pane">
                    <div class="mdl-cell mdl-cell--2-col vertical-tab-navigation">
                        <div class="mdl-vertical-tabs__tab-bar">
                            <ul class="demo-list-item mdl-list">
                                <li class="mdl-list__item" [ngClass]="{'is-active': activeDataSourceType === DataSourceType.HIVE}" (click)="activeDataSourceType = DataSourceType.HIVE">
                                    <span class="mdl-list__item-primary-content">HIVE</span>
                                    <a class="btn-default" href="#" (click)="addFilter($event, 'hive')"><i class="fa fa-filter"></i> ADD </a>
                                </li>
                                <li class="mdl-list__item" [ngClass]="{'is-active': activeDataSourceType === DataSourceType.HBASE}" (click)="activeDataSourceType = DataSourceType.HBASE">
                                    <span class="mdl-list__item-primary-content">HBASE</span>
                                    <a class="btn-default" href="#" (click)="addFilter($event, 'hbase')"><i class="fa fa-filter"></i> ADD </a>
                                </li>
                                <li class="mdl-list__item" [ngClass]="{'is-active': activeDataSourceType === DataSourceType.HDFS}" (click)="activeDataSourceType = DataSourceType.HDFS">
                                    <span class="mdl-list__item-primary-content">HDFS</span>
                                    <a class="btn-default" href="#" (click)="addFilter($event, 'hdfs')"><i class="fa fa-filter"></i> ADD </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--10-col vertical-tab-content">
                        <div class="mdl-vertical-tabs__content-bar">
                            <div *ngIf="activeDataSourceType === DataSourceType.HIVE">
                                <div *ngFor="let hiveFilterWrapper of hiveFiltersWrapper" style="margin-bottom: 15px;">
                                    <data-plane-search [searchParamWrappers]="hiveSearchParamWrappers" (searchFilters)="doExecuteSearch($event, hiveFilterWrapper, 'hive')" [dataSource]="'hive'"> </data-plane-search>
                                    <table style="width: 100%" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" *ngIf="hiveFilterWrapper.data.length > 0">
                                        <thead>
                                        <tr>
                                            <th class="mdl-data-table__cell--non-numeric">NAME</th>
                                            <th class="mdl-data-table__cell--non-numeric">OWNER</th>
                                            <th class="mdl-data-table__cell--non-numeric">CREATE TIME</th>
                                            <th class="mdl-data-table__cell--non-numeric">NUM OF ROWS</th>
                                            <th class="mdl-data-table__cell--non-numeric">TABLE TYPE</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let hiveTable of hiveFilterWrapper.data" (click)="doSelectResourceAndContinue(hiveTable.name, 'hive')" style="cursor:pointer;">
                                            <td class="mdl-data-table__cell--non-numeric">{{ hiveTable.name }}</td>
                                            <td class="mdl-data-table__cell--non-numeric">{{ hiveTable.owner }}</td>
                                            <td class="mdl-data-table__cell--non-numeric">{{ hiveTable.createTime }}</td>
                                            <td class="mdl-data-table__cell--non-numeric">{{ hiveTable.parameters.numRows }}</td>
                                            <td class="mdl-data-table__cell--non-numeric">{{ hiveTable.tableType }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div *ngIf="activeDataSourceType === DataSourceType.HBASE">
                                <div *ngFor="let hbaseFilterWrapper of hbaseFiltersWrapper">
                                    <data-plane-search [searchParamWrappers]="hbaseSearchParamWrappers" (searchFilters)="doExecuteSearch($event, hbaseFilterWrapper, 'hbase')" [dataSource]="'hbase'"> </data-plane-search>
                                    <table style="width: 100%" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" *ngIf="hbaseFilterWrapper.data.length > 0">
                                        <thead>
                                        <tr>
                                            <th class="mdl-data-table__cell--non-numeric">NAME</th>
                                            <th class="mdl-data-table__cell--non-numeric">OWNER</th>
                                            <th class="mdl-data-table__cell--non-numeric">CREATE TIME</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let hbaseTable of hbaseFilterWrapper.data" (click)="doSelectResourceAndContinue(hbaseTable.name, 'hbase')" style="cursor:pointer;">
                                            <td class="mdl-data-table__cell--non-numeric">{{ hbaseTable.name }}</td>
                                            <td class="mdl-data-table__cell--non-numeric">{{ hbaseTable.owner }}</td>
                                            <td class="mdl-data-table__cell--non-numeric">{{ hbaseTable.$systemAttributes$.createdTime }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div *ngIf="activeDataSourceType === DataSourceType.HDFS">
                                <div *ngFor="let hdfsFilterWrapper of hdfsFiltersWrapper">
                                    <data-plane-search [searchParamWrappers]="hdfsSearchParamWrappers"  (searchFilters)="doSelectResourceAndContinue($event, hdfsFilterWrapper, 'hdfs')" [dataSource]="'hdfs'"> </data-plane-search>
                                    <table style="width: 100%" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" *ngIf="hdfsFilterWrapper.data.length > 0">
                                        <thead>
                                        <tr>
                                            <th class="mdl-data-table__cell--non-numeric">NAME</th>
                                            <th class="mdl-data-table__cell--non-numeric">OWNER</th>
                                            <th class="mdl-data-table__cell--non-numeric">SIZE</th>
                                            <th class="mdl-data-table__cell--non-numeric">URI</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let hdfsTable of hdfsFilterWrapper.data" (click)="doExecuteFetch(hdfsTable.name, 'hdfs')" style="cursor:pointer;">
                                            <td class="mdl-data-table__cell--non-numeric">{{ hdfsTable.name }}</td>
                                            <td class="mdl-data-table__cell--non-numeric">{{ hdfsTable.owner }}</td>
                                            <td class="mdl-data-table__cell--non-numeric">{{ hdfsTable.size }}</td>
                                            <td class="mdl-data-table__cell--non-numeric">{{ hdfsTable.uri }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <br>

        <div>
            <div class="mdl-typography--body-2-color-contrast"> Name </div>
            <div class="mdl-typography--caption"> Give a descriptive name to your backup policy </div>
            <input type="text" [(ngModel)]="label">
        </div>

        <br>

        <div class="mdl-color-text--green mt-1">
          <i class="fa fa-server fa-2x" aria-hidden="true"></i>
          <span class="mdl-typography--title mdl-typography--font-light"> Select Cluster </span>
        </div>

        <div class="mdl-typography--caption">Specify the target location where backups needs to be written to.</div>

        <br>

        <div class="mdl-grid mdl-grid--no-spacing config-bgcolor">
            <div class="mdl-cell mdl-cell--6-col" style="padding:16px;">
                <div class="mdl-typography--body-2"> Data Lake </div>
                <div class="mdl-typography--caption">Select the data lake your target cluster is located in.</div>
                <div class="select-wrap">
                    <drop-down>
                        <select [(ngModel)]="target.dataCenter" (change)="doRefreshMap()">
                            <option disabled selected [ngValue]="">Data Lake</option>
                            <option *ngFor="let dc of dataCenterOptions" [ngValue]="dc">{{dc.name}}</option>

                        </select>
                    </drop-down>
                </div>
                <div class="mdl-typography--body-2"> Cluster </div>
                <div class="mdl-typography--caption">Select your target cluster.</div>
                <div class="select-wrap">
                    <drop-down>
                        <select [(ngModel)]="target.cluster">
                            <option disabled selected [ngValue]="">Cluster</option>
                            <option *ngFor="let cluster of clusterOptions" [ngValue]="cluster">{{cluster.host}}</option>
                        </select>
                    </drop-down>
                </div>
                <div (click)="doToggleAdvanced()" class="mdl-typography--body-2" style="cursor: pointer">
                  <i class="fa fa-chevron-right" aria-hidden="true" [class.fa-rotate-90]="isAdvancedEnabled === true" style="transition: transform 0.2s linear"></i>
                  Advanced Settings
                </div>
                <div [hidden]="isAdvancedEnabled === false">
                  Advanced
                </div>
            </div>
            <div class="mdl-cell mdl-cell--6-col" style="background-color: rgba(255,255,255,0.25)">
                <div id="mapBackupPolicy" class="map dotted" style="text-align: center;position:relative;"> </div>
            </div>
        </div>

        <div class="mdl-color-text--green mt-1">
          <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>
          <span class="mdl-typography--title mdl-typography--font-light"> Schedule </span>
        </div>

        <div class="mdl-typography--caption">Configure when you want the job run.</div>

        <br>

        <div>
            <div class="mdl-typography--body-2"> Type </div>
            <div class="mdl-typography--caption">When should the job be run?</div>
            <div class="select-wrap">
                <drop-down>
                    <select [(ngModel)]="schedule.scheduleType">
                        <option disabled selected></option>
                        <option value="MANUAL">Manual</option>
                        <option value="SCHEDULED">Scheduled</option>
                        <option value="ON_CHANGE">On Change</option>
                    </select>
                </drop-down>
            </div>
            <div class="mdl-typography--body-2"> Frequency </div>
            <div class="select-wrap">
                <drop-down>
                    <select [(ngModel)]="schedule.frequency" (change)="doRefreshMap()" style="min-width: 150px;">
                        <option disabled selected></option>
                        <option value="HOURLY">Hourly</option>
                        <option value="DAILY">Daily</option>
                        <option value="WEEKLY">Weekly</option>
                        <option value="MONTHLY">Monthly</option>
                    </select>
                </drop-down>
            </div>
            <div class="mdl-typography--body-2"> Duration </div>
            <div class="select-wrap mdl-grid mdl-grid--no-spacing" style="">
                <div class="mdl-cell mdl-cell--3-col">
                  <input style="" type="date" name="startDate" [attr.min]="nowDate" [value]="schedule.duration.start | date:'yyyy-MM-dd'" (input)="schedule.duration.start = doHandleInputDate($event.target.value)">
                </div>
                <div class="mdl-cell mdl-cell--3-col">
                  <input style="" type="date" name="endDate" [value]="schedule.duration.stop | date:'yyyy-MM-dd'" (input)="schedule.duration.stop = doHandleInputDate($event.target.value)">
                </div>
            </div>
        </div>

        <div class="mt-1">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-color--green" (click)="doSave()">
                Save
            </button>

            <button class="mdl-button mdl-js-button mdl-button--raised mdl-color--grey-300" (click)="doCancel()">
                Cancel
            </button>
        </div>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>
