<div id="replication-policy" class="replication-policy-content">
  <div class="col-xs-12">
    Begin the replication process to initially copy the selected from the source cluster to the destination cluster
  </div>
  <ul id="create-policy" class="nav nav-tabs" style="">
    <li [class.active]="viewMode === 'create'"><a data-target="#createTab" data-toggle="tab" (click)="doSelectViewMode('create')">1. Create Replication Policy</a></li>
    <li [class.active]="viewMode === 'review'"><a data-target="#reviewTab" data-toggle="tab" (click)="doSelectViewMode('review')">2. Review</a></li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane create-replication-policy-tab" id="createTab" [class.active]="viewMode === 'create'">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-6">
              <label class="control-label smaller-font">POLICY NAME</label>
              <input type="text" class="form-control width-forty-percent" [(ngModel)]="label">
            </div>
            <div class="col-xs-6">
              <label class="control-label smaller-font">SERVICE</label>
              <div>
                <label class="radio-inline">
									<input type="radio" value="hive" name="replicationType" style="transform: translateY(-25%)" [(ngModel)]="source.resourceType">HIVE
								</label>
                <label class="radio-inline">
									<input type="radio" value="hdfs" name="replicationType" style="transform: translateY(-25%)" [(ngModel)]="source.resourceType">HDFS
								</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <label class="control-label smaller-font">SOURCE</label>
              <span class="form-control smaller-font">{{source.dataCenter && source.dataCenter.name}}</span>
            </div>
            <div class="col-xs-6">
              <label class="control-label smaller-font">DESTINATION</label>
              <select class="form-control width-forty-percent" [(ngModel)]="target.dataCenter" (change)="doUpdateTargetCluster()">
								<option disabled selected [ngValue]="">Select</option>
                <option *ngFor="let dc of dcSuperOptions" [ngValue]="dc.dataCenter">{{dc.key}}</option>
							</select>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6" [hidden]="source.resourceType !== 'hive'">
              <label class="control-label smaller-font">SELECT DATABASES</label>
              <div>
                <label class="radio-inline">
										<input type="radio" name="databaseSelectionType" value="all" style="transform: translateY(-25%)" [(ngModel)]="source.resourceId">All
                </label>
                <label class="radio-inline">
										<input type="radio" name="databaseSelectionType" value="selected" style="transform: translateY(-25%)" [(ngModel)]="selectResource">Selection
                </label>
              </div>
              <div class="panel panel-body" [hidden]="source.resourceId === 'all'">
                <div class="" style="display: flex; align-items: center;">
                  <input type="checkbox" name="db-name" value="default" [(ngModel)]="source.resourceId"> &nbsp; {{source.resourceId}}
                </div>
              </div>
            </div>
            <div class="col-xs-12" [hidden]="source.resourceType !== 'hdfs'">
								<label class="control-label smaller-font">ENTER PATH</label>
								<div class="input-group">
									<input class="form-control" [(ngModel)]="source.resourceId">
									<span class="input-group-btn">
										<button class="btn btn-primary" type="button" disabled>Browse</button>
									</span>
    						</div>
							</div>
          </div>
        </div>
      </div>
      RUN JOB
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row hidden">
            <div class="col-xs-12">
              <div>
                <label class="radio-inline">
									<input type="radio" name="jobRun">Manually
								</label>
                <label class="radio-inline">
									<input type="radio" name="jobRun">On Schedule
								</label>
                <label class="radio-inline">
									<input type="radio" name="jobRun">On Data Modification
								</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <ul class="nav nav-tabs">
                <li [class.active]="schedule.scheduleType === 'hourly'"><a data-target="#hourlyRun" data-toggle="tab" (click)="doSetScheduleMode('hourly')">Hourly</a></li>
                <li [class.active]="schedule.scheduleType === 'daily'"><a data-target="#dailyRun" data-toggle="tab" (click)="doSetScheduleMode('daily')">Daily</a></li>
                <li [class.active]="schedule.scheduleType === 'weekly'"><a data-target="#weeklyRun" data-toggle="tab" (click)="doSetScheduleMode('weekly')">Weekly</a></li>
                <li [class.active]="schedule.scheduleType === 'monthly'"><a data-target="#monthlyRun" data-toggle="tab" (click)="doSetScheduleMode('monthly')">Monthly</a></li>
                <li [class.active]="schedule.scheduleType === 'custom'"><a data-target="#minuteRun" data-toggle="tab" (click)="doSetScheduleMode('custom')">Custom</a></li>
              </ul>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane" id="hourlyRun" [class.active]="schedule.scheduleType === 'hourly'">
                  Run Every Hour
                </div>
                <div role="tabpanel" class="tab-pane" id="dailyRun" [class.active]="schedule.scheduleType === 'daily'">
                  Run Every Day
                </div>
                <div role="tabpanel" class="tab-pane" id="weeklyRun" [class.active]="schedule.scheduleType === 'weekly'">
                  Run Every Week
                </div>
                <div role="tabpanel" class="tab-pane" id="monthlyRun" [class.active]="schedule.scheduleType === 'monthly'">
                  Run Every Month
                </div>
                <div role="tabpanel" class="tab-pane" id="minuteRun" [class.active]="schedule.scheduleType === 'custom'">
                  Run Every <input [(ngModel)]="schedule.frequency"> Minute
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-toggle="collapse" data-target="#advanced-panel" (click)="doToggleAdvanced()">
        <i class="fa fa-chevron-right pull-left" aria-hidden="true"></i> ADVANCED PROPERTIES
      </div>
      <div class="panel panel-default">
        <div id="advanced-panel" class="panel-body" [class.collapse]="!isAdvanceEnabled">
          <div class="row">
            <div class="col-xs-4">
              <label class="control-label smaller-font">USER</label>
              <input type="text" class="form-control">
            </div>
            <div class="col-xs-4">
              <label class="control-label smaller-font">GROUP</label>
              <input type="text" class="form-control">
            </div>
            <div class="col-xs-4">
              <label class="control-label smaller-font">PERMISSION</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <label class="control-label smaller-font">TAGS</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix">
        <button class="btn btn-default pull-right ml5 btn-action" role="button" (click)="doSelectViewMode('review')" *ngIf="pageMode === 'CREATE'">GO TO REVIEW</button>
        <button class="btn btn-default pull-right" role="button" (click)="doCancel()">CANCEL</button>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane review-tab" id="reviewTab" [class.active]="viewMode === 'review'">
      <div class="panel panel-default">
        <div class="panel-body">
          Data replication process for data selected from <b>{{source.dataCenter && source.dataCenter.name}}</b> will be started.<br><br>

          <!-- Transfer Details:<br />
					Total Data Volume:<br />
					Transfer Time:<br /> -->
          Databases: {{source.resourceId}}
          <!----><br> Destination: {{target.dataCenter && target.dataCenter.name}}
          <!----><br>

          <i class="fa fa-exclamation-circle pr5"></i>The first run of the replication policy may take additional time.
        </div>
      </div>
      <div class="clearfix">
        <button class="btn btn-success pull-right ml5" role="button" (click)="doSave()">SUBMIT</button>
        <button class="btn btn-default pull-right" role="button" (click)="doCancel()">CANCEL</button>
      </div>
    </div>
  </div>
  <!---->
</div>
