//.mdl-data-table {
//    width: 97%;
//    margin-left : 1%;
//    border: none;
//    margin-top: 40px;
//    margin-right: 30px;
//}
//
//.mdl-data-table {
//    thead {
//        .actions {
//            width: 75px;
//        }
//
//        th {
//            height: 30px;
//            padding: 6px 18px 6px 6px;
//        }
//    }
//    tbody {
//        tr {
//            height: 30px;
//
//            &:hover {
//                background-color:#E7F4F9;
//            }
//        }
//        td {
//            height: 30px;
//            padding: 6px 18px 6px 6px;
//        }
//
//        .actions {
//            padding-top: 0px;
//            padding-bottom: 0px;
//        }
//    }
//}
//
//.mdl-data-table th {
//    color: #ABABAB;
//    font-weight: bold;
//    text-transform: uppercase;
//}
//
//.mdl-data-table__cell--clickable {
//    color: #2192bf;
//    cursor: pointer;
//}
//
//.mdl-data-table__cell--non-clickable{
//    color : #7e898d
//}
//
//.mdl-data-table__cell--placeholder{
//    width:1%
//}
//

.mdl-button--icon{
    font-size: 14px;
    height: 14px;
    width: 14px;
    min-width: 14px;
}
.fa__fa-ellipsis--h-icon {
    font-size: 14px;
}

.fa__fa-star--icon {
    padding: 0 8px;
}

.fa__fa-star--favourite-icon {
    padding: 0 8px;
    color:  #E98A40;
}

.fa__fa-edit--icon {
    padding: 0 8px;
}

.fa__fa-close--icon {
   padding: 0 8px;
}

.action-container {
    height: 14px;
    width: 14px;
}

