.mdl-data-table {
    width: 98%;
    margin-left : 1%;
}

.mdl-data-table tr {
    width: 98%;
}

.fa__fa-star--icon {
    padding: 0 8px;
}

.fa__fa-edit--icon {
    padding: 0 8px;
}

.fa__fa-close--icon {
   padding: 0 8px;
}