@import '../../../styles/variables';

dlm-table.cards-theme {
  .ngx-datatable {
    .datatable-scroll, .datatable-header-inner {
      padding: 0 2px;
    }
    datatable-scroller {
      width:100% !important;
    }

    .ngx-datatable {
      .datatable-scroll, .datatable-header-inner {
        padding: 0;
      }
    }
  }
}

.flow-status-cell {
  .flow-status {
    padding: 0 10px;
  }

  .datatable-body-cell-label {
    width: 100%;
  }
}

.datatable-row-detail {
  padding: 35px;
  background: $table-row-active;
  height: auto;
}


dlm-policy-table {
  .datatable-body-cell-label {
    .cluster-name {
      font-size: 17px;
    }
    .datacenter-name {
      font-size: 13px;
      color: #666;
    }
  }
}

