<div class="page-header clearfix">
  <div class="pull-left">
    <p>
      <i class="glyphicon glyphicon-hourglass"></i>
      <span class="h2">{{ "page.jobs.header" | translate }}</span>
    </p>
    <div>
      <span class="text-muted">{{ "page.jobs.header_note" | translate }}</span>
    </div>
  </div>
  <div class="pull-right">
    <jobs-status-filter
      [jobs]="jobs$ | async"
      (onFilter)="filterJobsByStatus($event)"></jobs-status-filter>
    <dlm-dropdown
      [text]="'Add'"
      [items]="addOptions"
      [alignRight]="true"
      [buttonClass]="'btn-secondary'"
      (onSelectItem)="handleAddSelected($event)">
    </dlm-dropdown>
  </div>
  <div class="pull-right filter-wrapper">
    <dlm-table-filter
      [filterBy]="filterBy"
      [data]="jobs$ | async"
      (onFilter)="onFilter($event)"></dlm-table-filter>
  </div>
</div>

<dp-jobs-table [jobs]="filteredJobs$ | async"></dp-jobs-table>