@import "../../../../../styles/variables";

.text-medium {
  font-size: 15px;
}

.text-large {
  font-size: 24px;
}

.text-xlarge {
  font-size: 30px;
}

.text-small {
  font-size: 13px;
  line-height: 1.5;
}

.text-light {
  color: $dusty-gray;
}

.text-xsmall{
  font-size: 12px;
}

.margin-top-bottom-20 {
  margin: 20px 0px;
}

.margin-top-bottom-3 {
  margin: 3px 0px;
}

.margin-top-30 {
  margin-top: 30px;
}

.white-bg {
  background-color: $white;
}

.green {
  color: $forest-green-1;
}

div i + div {
  margin-left: 30px;
}

.line-height-1 {
  line-height: 1;
}

.line-height-1-5 {
  line-height: 1.5;
}

.line-height-2 {
  line-height: 2;
}

.container {
  padding: 35px 25px;
}

.text-bold {
  font-weight: 600;
}
