.close {
  &:focus {
    outline: 0;
  }
}

.modal {
  // navbar has z-index 2079
  z-index: 2080;
}

.modal-dialog {
  &.small-modal {
    width: 40%;
  }
  &.medium-modal {
    width: 50%;
  }
  &.large-modal {
    width: 70%;
  }
}

.modal-body {
  min-height: 70px;
  font-size: 14px !important;
  max-height: calc(100vh - 225px);
  overflow-y: auto;
}

.modal-title {
  color: #333 !important;
}
