@import '../../styles/variables';

.alerts-label {
  cursor: pointer;
  .caret {
    margin-left: 0;
  }
}

.user-settings-dropdown {
  .popup-arrow-up {
    right: 20px !important;
  }
  &.dropdown-menu {
    top: 125% !important;
    right: -25px !important;
  }
  .notifications-body {
    overflow: inherit !important;
    margin-bottom: 15px;
  }
  .notifications-header {
    padding: 15px;
  }
  td {
    padding: 15px 0 !important;
    min-width: 450px;
    border: none !important;
  }
  .ui-select-container {
    width: 270px;
    .ui-select-match-text {
      width: 220px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}