<div class="mdl-grid mdl-grid--no-spacing hive-pane">
    <div class="mdl-cell mdl-cell--8-col">
        <div class="mdl-layout mdl-js-layout">
            <header class="mdl-layout__header mdl-layout__header--scroll">
                <div class="mdl-layout__header-row">
                    <nav class="mdl-navigation">
                        <a class="mdl-navigation__link" (click)="setActiveTab($event, tab.PROPERTIES)" [ngClass]="{'is-active': (activeTab===tab.PROPERTIES)}">PROPERTIES</a>
                        <a class="mdl-navigation__link" (click)="setActiveTab($event, tab.TAGS)" [ngClass]="{'is-active': (activeTab===tab.TAGS)}">TAGS</a>
                        <a class="mdl-navigation__link" (click)="setActiveTab($event, tab.AUDITS)" [ngClass]="{'is-active': (activeTab===tab.AUDITS)}">AUDITS</a>
                        <a class="mdl-navigation__link" (click)="setActiveTab($event, tab.SCHEMA)" [ngClass]="{'is-active': (activeTab===tab.SCHEMA)}">SCHEMA</a>
                    </nav>
                </div>
            </header>
            <main class="mdl-layout__content">
                <section *ngIf="(activeTab===tab.PROPERTIES)" class="mdl-layout__tab-panel is-active">
                    <div class="page-content">Properties</div>
                </section>
                <section *ngIf="(activeTab===tab.TAGS)" class="mdl-layout__tab-panel is-active">
                    <div class="page-content">tags</div>
                </section>
                <section *ngIf="(activeTab===tab.AUDITS)" class="mdl-layout__tab-panel is-active">
                    <div class="page-content">audits</div>
                </section>
                <section *ngIf="(activeTab===tab.SCHEMA)" class="mdl-layout__tab-panel is-active">
                    <div class="page-content">
                        <div class="dataplane-screen-section mdl-typography--text-center">
                            <table style="width: 100%" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                                <thead>
                                <tr>
                                    <th class="" style="width:5px" ></th>
                                    <th class="mdl-data-table__cell--non-numeric">NAME</th>
                                    <th class="mdl-data-table__cell--non-numeric">OWNER</th>
                                    <th class="mdl-data-table__cell--non-numeric">TYPE</th>
                                    <th class="mdl-data-table__cell--non-numeric">TAGS</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let schema of schemaData">
                                    <td class="">
                                        <input type="checkbox">
                                    </td>
                                    <td class="mdl-data-table__cell--non-numeric">{{ schema.name }}</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{ schema.owner }}</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{ schema.type }}</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{ schema.tags }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
        <div class="mdl-layout mdl-js-layout">
            <header class="mdl-layout__header mdl-layout__header--scroll">
                <div class="mdl-layout__header-row">
                    <nav class="mdl-navigation">
                    </nav>
                </div>
            </header>
            <main>
                <div id="mapcontainer" class="map"></div>
            </main>
         </div>

    </div>
</div>
