.mdl-layout__header-row {
    padding: 0px;
}

.mdl-layout__header {
    background-color: #FAFAFA;
    border-bottom: 1px solid #cccccc;
}

.mdl-layout__header-row .mdl-navigation__link {
    color: #858784;
    font-weight: bold;
    font-size: 0.9em;
    cursor: pointer;
}
.hive-pane {
    border: 1px solid #cccccc;
    border-radius: 2px;
}
.hive-pane main {
    height: 273px;
}
.hive-pane nav .is-active {
    background: #EFEFEF;
    margin-bottom: -1px;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}
.hive-pane th {
    background: #EFEFEF;
}
.map {
    min-height: 273px;
}

/deep/ .datamaps-bubble {
  fill: rgb(61, 189, 235) !important;
}
