@import '../../../components/card/card.component';

.cards-theme > .ngx-datatable-wrapper > .ngx-datatable {
  overflow: visible !important;

  & > div {
    .datatable-scroll {
      padding: 0 2px; // used to display borders of wrapped rows
    }

    & > datatable-header {
      margin-bottom: 10px;
      & > .datatable-header-inner {
        .datatable-header-cell {
          text-align: left !important;
          color: $table-header;
          font-size: 12px;
          font-weight: bold;
        }
      }
    }

    & > datatable-body > datatable-selection > datatable-scroller > datatable-row-wrapper {
      @extend .dlm-card;
      padding: 0;
      margin-bottom: 20px;
      & > datatable-body-row > .datatable-row-group > .datatable-body-cell {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
    }
  }
}
