@import '../../../styles/variables';
$cell-padding: 8px;
$table-border-color: #eee;

.plain-theme {
  .ngx-datatable-wrapper {
    background: $white-color;
    padding: 15px 8px;
  }

  .ngx-datatable {
    overflow: visible !important;
    color: $grey-color;
    font-size: 12px;

    .checkbox {
      margin-top: 5px;
      margin-bottom: 0;
    }

    .datatable-header {
      border-bottom-color: $table-row-active;
      color: $table-header;
      border-bottom: 2px solid $table-border-color;
      text-align: center;

      .datatable-header-cell {
        padding: $cell-padding;
        &.text-header {
          text-align: left;
        }
        &.date-header, &.bytes-header {
          text-align: right;
        }
      }
    }

    .datatable-body-row {
      border: 1px solid transparent;
      border-bottom-color: $table-border-color;
      a {
        font-size: 14px;
      }
      &:nth-last-child {
        border-bottom-color: transparent;
      }

      &:hover {
        border-color: $table-row-hover-border;
        background-color: $table-row-hover;
      }

      &.active {
        background-color: $table-row-active;
      }
    }

    .datatable-body-cell {
      padding: $cell-padding;
      text-align: center;

      &.text-cell {
        text-align: left;
      }
      &.date-cell, &.bytes-cell {
        text-align: right;
      }
    }

    .datatable-footer {
      .datatable-pager {
        a {
          padding: 0;
          border-color: transparent;
        }
      }
    }
  }
}
