{{"common.service" | translate}}
<div class="btn-group" role="group">
  <button type="button" qe-attr="hdfs-filter" class="btn btn-xs btn-default" [class.active]="activeService === POLICY_TYPES.HDFS"
          (click)="filterPoliciesByService(POLICY_TYPES.HDFS)">
    <span class="hexagon hexagon-warning">
      <i class="fa fa-file-o"></i>
    </span>
    <span class="service-name">{{POLICY_TYPES_LABELS[POLICY_TYPES.HDFS]}}</span>
  </button>
  <button type="button" qe-attr="hive-filter" class="btn btn-xs btn-default" [class.active]="activeService === POLICY_TYPES.HIVE"
          (click)="filterPoliciesByService(POLICY_TYPES.HIVE)">
    <span class="hexagon hexagon-success">
      <i class="fa fa-database"></i>
    </span>
    <span class="service-name">{{POLICY_TYPES_LABELS[POLICY_TYPES.HIVE]}}</span>
  </button>
</div>
