<!--
  ~ /*
  ~  * Copyright  (c) 2016-2017, Hortonworks Inc.  All rights reserved.
  ~  *
  ~  * Except as expressly permitted in a written agreement between you or your company
  ~  * and Hortonworks, Inc. or an authorized affiliate or partner thereof, any use,
  ~  * reproduction, modification, redistribution, sharing, lending or other exploitation
  ~  * of all or any part of the contents of this software is strictly prohibited.
  ~  */
  -->

<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{HH:mm:ss} %-5level %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>${log-file:-scala-logging.log}</file>
        <encoder>
            <pattern>%date{HH:mm:ss} %-5level %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="console"/>
    </root>

</configuration>