<dp-tabs [tabEnum]="detailsTabs" [tabType]="tabType.BUTTON" (selected)="selectedDetailsTabs=$event"> </dp-tabs>
<div class="details-wrapper">
  <section *ngIf="selectedDetailsTabs === detailsTabs.PROPERTIES">
    <table style="width: 100%" dp-config-table class="mdl-data-table mdl-js-data-table">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">KEY</th>
          <th class="mdl-data-table__cell--non-numeric">VALUE</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let property of assetProperties">
            <td class="mdl-data-table__cell--non-numeric">{{property.key}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{property.value}}</td>
          </tr>
      </tbody>
    </table>
  </section>
  <section *ngIf="selectedDetailsTabs === detailsTabs.TAGS">
    <table style="width: 100%" class="mdl-data-table mdl-js-data-table">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Name</th>
          <th class="mdl-data-table__cell--non-numeric">Attributes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tag of assetTags">
          <td class="mdl-data-table__cell--non-numeric">{{tag.name}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{tag.attributes}}</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section *ngIf="selectedDetailsTabs === detailsTabs.SCHEMA">
    <table style="width: 100%" class="mdl-data-table mdl-js-data-table" >
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Name</th>
          <th class="mdl-data-table__cell--non-numeric">Description</th>
          <th class="mdl-data-table__cell--non-numeric">Owner</th>
          <th class="mdl-data-table__cell--non-numeric">Type</th>
          <th class="mdl-data-table__cell--non-numeric">Comment</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let schema of assetSchemas">
          <td class="mdl-data-table__cell--non-numeric">{{schema.name}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{schema.description}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{schema.owner}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{schema.type}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{schema.comment}}</td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
