<dp-tabs [tabEnum]="detailsTabs" [tabType]="tabType.BUTTON" (selected)="selectedDetailsTabs=$event"> </dp-tabs>
<div class="details-wrapper">
  <section *ngIf="selectedDetailsTabs === detailsTabs.PROPERTIES">
    <table style="width: 100%" class="mdl-data-table mdl-js-data-table">
    <tbody>
    </tbody>
    </table>
  </section>
  <section *ngIf="selectedDetailsTabs === detailsTabs.TAGS">
    <table style="width: 100%" class="mdl-data-table mdl-js-data-table">
      <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Users</th>
        <th class="mdl-data-table__cell--non-numeric">Timestamp</th>
        <th class="mdl-data-table__cell--non-numeric">Actions</th>
        <th class="mdl-data-table__cell--non-numeric">Tools</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </section>
  <section *ngIf="selectedDetailsTabs === detailsTabs.AUDITS">
    <table style="width: 100%" class="mdl-data-table mdl-js-data-table">
      <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">NAME</th>
        <th class="mdl-data-table__cell--non-numeric">OWNER</th>
        <th class="mdl-data-table__cell--non-numeric">TYPE</th>
        <th class="mdl-data-table__cell--non-numeric">TAGS</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </section>
  <section *ngIf="selectedDetailsTabs === detailsTabs.SCHEMA">
    <table style="width: 100%" class="mdl-data-table mdl-js-data-table" >
      <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Policy Name</th>
        <th class="mdl-data-table__cell--non-numeric">User</th>
        <th class="mdl-data-table__cell--non-numeric">Group</th>
        <th class="mdl-data-table__cell--non-numeric">Permissions</th>
        <th class="mdl-data-table__cell--non-numeric">Access Type</th>
        <th class="mdl-data-table__cell--non-numeric">Delegate Admin</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </section>
</div>