<div class="load-right-to-left-slider dialog1x">
    <div class="page-container">
        <div class="mdl-grid mdl-grid--no-spacing">
            <div class="mdl-cell--8-col hwx-title"> {{ "pages.analytics.add-workspace.title" | translate }}  </div>
            <div class="mdl-layout-spacer"></div>
            <div class="close-button" (click)="cancel()"></div>
        </div>
        <div class="spacer-15"> </div>
        <form #workspaceForm="ngForm">
            <div class="form-group">
                <label class="required"> {{ "common.name" | translate }} </label>
                <input required name="name" [(ngModel)]="workspace.name">
            </div>
            <div class="form-group">
                <label class="required"> {{ "common.datalake" | translate }} </label>
                <dp-select>
                    <select required name="source" [(ngModel)]="workspace.source" (ngModelChange)="updateVal()">
                        <option selected="selected"> Select </option>
                        <option *ngFor="let cluster of clusterServiceObservable | async " [attr.value]="cluster.id"> {{ cluster.name }} </option>
                    </select>
                </dp-select>
            </div>
            <div class="form-group">
                <label class="required"> {{ "common.description" | translate }} </label>
                <textarea required name="description" [(ngModel)]="workspace.description"> </textarea>
            </div>

            <button class="mdl-button btn-hwx-primary" (click)="save()"> {{ "common.save" | translate }} </button>
            <button class="mdl-button btn-hwx-secondary" (click)="cancel()"> {{ "common.cancel" | translate }} </button>
        </form>
    </div>
</div>