@import "../../../../../styles/variables";

.form-group {
  label {
    display: block;
  }
  input, textarea, select {
    width: 275px;
    box-sizing: border-box;
  }
}

.load-right-to-left-slider {
  margin-top: $layout-header-desktop-row-height * -1;
  bottom: 0;
}
