<div class="page-wrapper">
    <div class="login-wrapper">
        <div class="login-pane-wrapper">
            <div class="dp-login-img">
                <div class="hwx-logo"></div>
                <div class="dp-logo">
                    <div class="text-large">Dataplane</div>
                    <div class="text-small">V 1.0</div>
                </div>
            </div>
            <div class="dp-login-controls">
                <form (submit)="onSubmit($event)" #loginForm="ngForm">
                    <div class="group-title">Sign In</div>
                    <div class="field-group">
                        <label aria-label="Username">Username</label>
                        <input type="text" name="username" [(ngModel)]="credential.username" required>
                    </div>
                    <div class="field-group">
                        <label aria-label="Password">Password</label>
                        <input type="password" name="password" [(ngModel)]="credential.password" required>
                    </div>
                    <div class="action-group">
                        <button class="mdl-button btn-hwx-primary" [disabled]="_isAuthInProgress">
                            <span *ngIf="!_isAuthInProgress"> Login </span>
                            <i *ngIf="_isAuthInProgress" class="fa fa-spinner fa-pulse fa-fw"></i>
                        </button>
                        | <a href="/auth/signInThrougKnox?landingUrl={{landingPage}}">Sign in with SSO</a>
                    </div>
                    <div class="error-message"
                         *ngIf="_isAuthInProgress === false && _isAuthSuccessful === false && message">{{message}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>