@import "../../../styles/variables";

.page-wrapper {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  position: absolute;
  background: $white;
}

.login-wrapper {
  margin: auto;
  width: 100%;

  .login-pane-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    min-width: 1260px;
    & > div {
      height: 334px;
      box-sizing: border-box;
    }
  }
}

.dp-login-img {
  text-align: right;
  position: relative;
  background: #3fae2a url(../../../assets/images/login-bg-pattern.png);
  padding-left: 100px;
  padding-right: 100px;

  .hwx-logo {
    width: 205px;
    height: 82px;
    display: inline-block;
    background: url(../../../assets/images/login-logo.png) no-repeat;
  }

  .dp-logo {
    color: $white;
    display: inline-block;
    border-left: 1px solid $white;
    margin: 82px 0px 0px 20px;
    padding: 54px 0px 54px 20px;

    .text-large {
      font-size: 42px;
      line-height: 1;
    }

    .text-small {
      font-size: 14px;
      line-height: 1;
    }
  }
}

.dp-login-controls {
  background: $dove-gray;
  color: $white;
  flex: 1;
  form {
    padding: 49px 90px 0px 100px;
  }

  .group-title {
    margin-bottom: 15px;
    & span {
      margin-right: 20px;
    }
    & span + a {
      margin-left: 20px;
    }
  }

  .field-group {
    width: 300px;
    margin: 15px 0;
  }

  .action-group {
    margin-top: 40px;
    margin-bottom: 7px;
  }

  a, a:focus, a:visited {
    color: $eastern-blue;
    text-decoration: none;
  }

  input {
    width: 100%;
    box-sizing: border-box;
  }

  label {
    max-width: 100%;
    margin-bottom: 5px;
    display: inline-block;
  }
}

.error-message {
  max-width: 540px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
