<section class="dp-container dp-route dp-route--sign-in" style="position: fixed;top:0;left:0;height: 100%; width: 100%;display: flex;align-items: center;justify-content: center; background-color: rgb(247, 247, 247);">
  <div style="display: flex;">
    <div class="" style="width: 50%;min-width: 500px; border-right: 1px solid rgb(214, 214, 214); padding: 40px;display: flex;align-items: center;justify-content: center;">
      <img class="dataplane-logo-image" src="../../assets/images/ui_logo.svg"/>
    </div>
    <div class="" style="width: 50%;min-width: 500px; padding: 40px;">

      <a href="/auth/signInThrougKnox">Signin through SSO</a>
      <div class="error-message" *ngIf="_isAuthInProgress === false && _isAuthSuccessful === false && message">{{message}}</div>
      <form (submit)="onSubmit($event)" #loginForm="ngForm">
        <div class="">
          <div class="dp-input">
            <label for="username" style="display: block;">Username</label>
            <input class="" type="text" placeholder="Username" name="username" id="username" [(ngModel)]="credential.username" required/>
          </div>
          <div class="dp-input">
            <label for="password" style="display: block;">Password</label>
            <input class="" type="password" placeholder="Password" name="password" id="password" [(ngModel)]="credential.password" required/>
          </div>
        </div>
        <footer class="" style="">
          <div *ngIf="_isAuthInProgress">Auth is in progresss...</div>
          <button type="submit" class="mdl-button mdl-button--colored mdl-color--green mdl-color-text--white mdl-js-button mdl-js-ripple-effect" [disabled]="_isAuthInProgress">
            Sign In
          </button>
        </footer>
      </form>
    </div>
  </div>
</section>
