@import "../../../../styles/variables";

.suit-navigation {
  position: absolute;
  top: 55px;
  left: 0;
  margin: 0;
  padding: 40px 40px 20px;
  background: $white;
  -webkit-box-shadow: 5px 5px 10px rgba(66, 66, 66, 0.3);
  -moz-box-shadow: 5px 5px 10px rgba(66, 66, 66, 0.3);
  box-shadow: 5px 5px 10px rgba(66, 66, 66, 0.3);
  z-index: 100;
  visibility: hidden;
  width: 400px;
  display: flex;
  justify-content: space-between;

  &.showPersona {
    visibility: visible;
  }

  & > li {
    display: inline-block;
    cursor: pointer;
    text-align: center;

    & .logo-wrapper {
      background-color: $eastern-blue;
      padding: 15px;
      border-radius: 4px;
      display: inline-block;
      height: 72px;
      & + div {
        text-align: center;
        font-size: 14px;
        padding-top: 5px;
        text-overflow: ellipsis;
        width: 80px;
        white-space: nowrap;
        overflow: hidden;
        margin-bottom: 20px;
      }
    }
  }
}
