@import "../../../../styles/variables";

.suit-navigation {
  position: fixed;
  top: $layout-header-desktop-row-height;
  left: 0;
  margin: 0;
  padding: 40px 20px 37px;
  background: $white;
  -webkit-box-shadow: 5px 5px 10px rgba(66, 66, 66, 0.3);
  -moz-box-shadow: 5px 5px 10px rgba(66, 66, 66, 0.3);
  box-shadow: 5px 5px 10px rgba(66, 66, 66, 0.3);
  z-index: 100;
  visibility: hidden;
  width: auto;
  display: flex;

  &.showPopup {
    visibility: visible;
  }

  & > li {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 0 20px;

    & .logo-wrapper {
      background-color: $eastern-blue;
      padding: 15px;
      border-radius: 2px;
      display: inline-block;
      height: 75px;
      width: 75px;
      & + div {
        text-align: center;
        font-size: 13px;
        padding-top: 10px;
        word-wrap: break-word;
        width: 70px;
        line-height: 1;
      }
    }
  }
}

.active {
  color: $eastern-blue !important;
}

.disabled {
  display: none !important;
}
