.search-input div {
    width: 100%;
}
.search-input input{
    height: 37px;
    line-height: 37px;
    border: none;
    width: 85%;
    border-right: 1px solid #cccccc;
    border-radius: 0px;
    font-size: 1em;
}
.search-input input:focus {
    outline: none;
}
.search-input .search-button {
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 4px;
    width: 100%;
}
.search-input .search-button:before {
    content: "\f002";
    font-family: FontAwesome;
    padding: 0px 15px;
}
.search-input .browse-button:before {
    content: "\f07b";
    font-family: FontAwesome;
    padding: 0px 15px;
}
.data-visualization {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #FAFAFA;
    background: #F2F2F2;
    min-height: 300px;
}

.mapcontainer-replication__wrapper {
  min-height: 140px;
  position: relative;
}
.mapcontainer-replication__wrapper--with-overlay {
  height: 140px;
  overflow: hidden;
}
.mapcontainer-replication__wrapper--with-overlay .mapcontainer-replication__overlay {
  display: flex;
}

.mapcontainer-replication__wrapper--with-overlay /deep/ .leaflet-map-pane {
  /* hack to fit background */
  transform: translate(-30%, -27%) !important;
  transform-origin: top left;
  filter: grayscale(85%) brightness(1.07);
}
.mapcontainer-replication__overlay {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 555;
}
.mapcontainer-replication__setup {
  display: flex;
  align-items: flex-start;
}
.mapcontainer-replication__icons {
  padding: 5px 10px;
  color: #54B0CF;
}
.mapcontainer-replication__caption {
  font-size: 10px;
}
.mapcontainer-replication__caption a {
  color: #54B0CF;
  text-decoration: none;
}
