<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <bread-crumb [crumbMap]="breadCrumbMap"> </bread-crumb>

        <div class="mdl-grid mdl-grid--no-spacing">
            <div class="mdl-cell mdl-cell--2-col"><h4 class="thin"> {{ clusterName }} </h4></div>

            <div class="mdl-layout-spacer"></div>

            <div class="mdl-cell mdl-cell--5-col mdl-typography--text-right">
                <button class="mdl-button mdl-js-button mdl-button--raised actions-button">Action</button>
                <button class="mdl-button mdl-js-button mdl-button--raised create-cluster">Log Download</button>
            </div>
        </div>

        <div class="mdl-grid mdl-grid--no-spacing info-panel" [hidden]="true">
            <div class="mdl-cell mdl-cell--2-col m-0 ">
                <label class="mdl-typography--caption"> UP TIME </label>
                <p class="mdl-typography--body-2 "> 10 Days </p>
            </div>
            <div class="mdl-cell mdl-cell--2-col m-0">
                <label class="mdl-typography--caption"> Cluster Type </label>
                <p class="mdl-typography--body-2 "> ON_PREM </p>
            </div>
            <div class="mdl-cell mdl-cell--2-col m-0">
                <label class="mdl-typography--caption"> DATA </label>
                <p class="mdl-typography--body-2 "> 178 GB </p>
            </div>
            <div class="mdl-cell mdl-cell--2-col m-0">
                <label class="mdl-typography--caption"> NO OF TABLES </label>
                <p class="mdl-typography--body-2 "> 221 </p>
            </div>
            <div class="mdl-cell mdl-cell--2-col m-0">
                <label class="mdl-typography--caption"> NO OF FILES </label>
                <p class="mdl-typography--body-2 "> 1986 </p>
            </div>
            <div class="mdl-cell mdl-cell--2-col m-0">
                <label class="mdl-typography--caption"> AVERAGE # USERS </label>
                <p class="mdl-typography--body-2 ">  31 </p>
            </div>
        </div>

        <h5 class="thin"> Data Assets </h5>

        <div>
            <form (ngSubmit)="doExecuteSearch()" style="display: flex;width: 100%;align-items: center;justify-content: center;">
              <div style="flex:1;margin-right: 15px;">
                <input type="text" name="searchKey" placeholder="Search" style="width:100%;padding: 5px;" [(ngModel)]="searchKey"/>
              </div>
              <div>
                <button type="submit" class="mdl-button mdl-button--colored mdl-color--green mdl-color-text--white mdl-js-button mdl-js-ripple-effect">
                  Search
                </button>
              </div>
            </form>
            <div *ngIf="isSearchInProgress">
                <loader-spin></loader-spin>
            </div>
            <table style="width: 100%" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" *ngIf="searchResults.length > 0">
              <thead>
                <tr>
                  <th class="mdl-data-table__cell--non-numeric">NAME</th>
                  <th class="mdl-data-table__cell--non-numeric">OWNER</th>
                  <th class="mdl-data-table__cell--non-numeric">CREATE TIME</th>
                  <th class="mdl-data-table__cell--non-numeric">NUM OF ROWS</th>
                  <th class="mdl-data-table__cell--non-numeric">TABLE TYPE</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let hiveTable of searchResults" (click)="doSelectResourceAndContinue(hiveTable.name, 'hive')" style="cursor:pointer;">
                  <td class="mdl-data-table__cell--non-numeric">{{ hiveTable.name }}</td>
                  <td class="mdl-data-table__cell--non-numeric">{{ hiveTable.owner }}</td>
                  <td class="mdl-data-table__cell--non-numeric">{{ hiveTable.createTime }}</td>
                  <td class="mdl-data-table__cell--non-numeric">{{ hiveTable.parameters.numRows }}</td>
                  <td class="mdl-data-table__cell--non-numeric">{{ hiveTable.tableType }}</td>
                </tr>
              </tbody>
            </table>
            <div style="padding: 15px;" *ngIf="isSearchComplete && searchResults.length === 0">
              No results found
            </div>
        </div>

        <br/>

        <div class="mdl-typography--font-light mt-1" style="display: flex" [hidden]="!search.resourceId">
            <div style="display:flex;flex-grow: 1;">
              <div class="mdl-typography--title mdl-typography--font-light" style="text-transform: capitalize;">
                <span>{{search.resourceType}}</span>:
              </div>
              <div style="flex: 1; margin-left: 5px;">
                <span class="mdl-typography--title  mdl-color-text--green">{{search.resourceId}}</span>
                <br>
                <div class="mdl-typography--caption">
                  <span class="mdl-typography--text-uppercase">On-Prem: {{dataLakeName}}</span>
                  <span class="mdl-typography--text-uppercase">({{clusterHost}})</span>
                </div>
              </div>
            </div>
        </div>

        <br/>

        <hive-data [resourceId]="search.resourceId" [resourceType]="search.resourceType" [dataLakeId]="dataLakeName" [clusterId]="clusterHost" [hidden]="search.resourceType !== 'hive' || !search.resourceId" > </hive-data>

        <div class="data-visualization" [hidden]="!search.resourceId">
            <h6> Lineage </h6>
            <atlas-lineage [search]="search.resourceId" [dataSourceName]="dataLakeName" [hostName]="clusterHost"> </atlas-lineage>

            <h6> Replication</h6>
            <div class="mapcontainer-replication__wrapper" [class.mapcontainer-replication__wrapper--with-overlay]="backupPolicies.length === 0">
              <div class="mapcontainer-replication__overlay">
                <div class="mapcontainer-replication__setup">
                  <div class="mapcontainer-replication__icons">
                    <i class="fa fa-database" aria-hidden="true"></i>
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    <i class="fa fa-database" aria-hidden="true"></i>
                  </div>
                  <div class="mdl-typography--font-light">
                    <div class="mapcontainer-replication__label">
                      Replication not setup for this table.
                    </div>
                    <div class="mapcontainer-replication__caption mdl-typography--caption" style="font-size: 10px;">
                      To setup replication please <a href="#" (click)="doCreateBackupPolicy()">click here</a>.
                    </div>
                  </div>
                </div>
              </div>
              <div id="mapcontainer-replication__map" class="dataplane-be-together-section mdl-typography--text-center dotted" style="overflow:hidden"> </div>
            </div>

            <h6> Audit </h6>
            <ranger-policies [resourceId]="search.resourceId" [resourceType]="search.resourceType" [dataLakeId]="dataLakeName" [clusterId]="clusterHost"  [hidden]="!search.resourceType || !search.resourceId"> </ranger-policies>

        </div>


    </div>
</div>
