@import "../../../../../styles/variables";

.dashboard-title{
    height:45px;
    margin: 20px 30px 18px 30px;
    span {
        color : $shuttle-gray;
        padding: 10px 0px;
        font-size: 16px;
        font-weight: bold;
        display: inline-block;
    }
}
.dp-input {
    position: relative;
    float: right;
    padding: 0px;
    min-height: 30px;
    margin-right : 5px;
    min-width: 412px;
    border: 1px solid rgb(221, 221, 221);
}

input {
  font-size: 1em;
  height: 32px;
  width: 412px;
  min-width: 250px;
  margin-left : 30px;
  border : none;
  padding: 0px;
}

input:focus{
    outline: none;
}

.dp-input__icon {
  position: absolute;
  left: 5px;
  bottom: 10px;
  color: $shuttle-gray;
}

.mdl-data-table {
    width: 95%;
    border: none;
    margin: 0px 30px 0px 30px;
}

.mdl-data-table {
    thead {
        .actions {
            width: 75px;
        }

        th {
            height: 30px;
            padding: 6px 18px 6px 6px;
        }
    }
    tbody {
        tr {
            height: 30px;

            &:hover {
                background-color:$polar-blue-1;
            }
        }
        td {
            height: 30px;
            padding: 6px 18px 6px 6px;
        }

        .actions {
            padding-top: 0px;
            padding-bottom: 0px;
        }
    }
}

.mdl-data-table th {
    color: $silver-chalice-gray;
    font-weight: bold;
    text-transform: uppercase;
}

.mdl-data-table__cell--clickable {
    color: $eastern-blue;
    cursor: pointer;
}

.mdl-data-table__cell--width15 {
    width:15%
}

.mdl-data-table__cell--non-clickable{
    color : $oslo-gray
}

.mdl-data-table__cell--placeholder{
    width:7%;
    text-align: center;
}

.mdl-data-table__cell--no-reults {
    text-align: center;
    color : $oslo-gray;
}

.fa__fa-ellipsis-v--icon {
    font-size: 14px;
}

.fa__fa-edit--icon {
    padding: 0 8px;
}

.fa__fa-close--icon {
   padding: 0 8px;
}

.fa-circle--color-up {
    color: $forest-green-1;
}

.fa-circle--color-down {
    color : $burnt-cienna-red;
}

.fa-circle--color-na {
    color : $shuttle-gray;
}
.action-container {
    height: 14px;
    width: 14px;
}

