@import "../../../../../styles/variables";

.dashboard-title{
    padding: 30px;
}

.content-pane{
  padding-top: 0;
}

.search-input {
  position: relative;
  display: inline-block;
  margin-right: 6px;
  width: 250px;
  box-sizing: border-box;
  input {
    width: 100%;
    box-sizing: border-box;
  }
  .dp-input__icon {
    position: absolute;
    margin-top: -10%;
    margin-left: 90%;
    color: $dove-gray;
    font-size: 14px;
  }
}

input {
    width: 100%;
    box-sizing: border-box;
}

.btn-hwx-primary {
    float: right;
}

.mdl-data-table {
    margin-top: 17px;
}

.mdl-typography--text-center {
  text-align: center;
}

.status-up {
  color: $forest-green-1;
}

.status-down {
  color: $roman-red;
}

.status-na {
  color: $shuttle-gray;
}

.mdl-menu__item {
  a{
    color: $dove-gray;
    text-decoration: none;
    font-weight: normal;
  }
  .fa {
    padding: 0 8px;
  }
}

.hwx-title {
  display: inline-block;
  padding-top: 10px;
}
