<div class="content-pane">
    <span class="hwx-title">{{"common.clusters" | translate}}</span>
    <div class="pull-right">
        <div class="dp-input">
            <input type="text" placeholder="{{'common.search' | translate}}" name="name" id="search" (keyup)="filter($event)" />
            <i class="fa fa-search dp-input__icon" aria-hidden="true"></i>
        </div>
        <button class="mdl-button btn-hwx-primary" [routerLink]="['/infra/add']"> {{"pages.infra.labels.addButton" | translate}} </button>
    </div>

    <div style="clear:both;"></div>

    <table class="mdl-data-table mdl-js-data-table" dp-config-table  on-mouseleave="hoveredIndex=null" (onSort)="onSort($event)">
        <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric mdl-data-table__cell--placeholder"> {{"common.status" | translate}}</th>
            <th class="mdl-data-table__cell--non-numeric">
              <dp-config-sorter [sortBy]="'name'">  {{"common.name" | translate}} </dp-config-sorter>
          </th>
          <th class="mdl-data-table__cell--non-numeric">
              <dp-config-sorter [sortBy]="'nodes'"> {{"pages.infra.labels.nodes" | translate}} </dp-config-sorter>
          </th>
          <th class="mdl-data-table__cell--non-numeric">
              <dp-config-sorter [sortBy]="'uptime'"> {{"pages.infra.labels.uptime" | translate}} </dp-config-sorter>
          </th>
          <th class="mdl-data-table__cell--non-numeric">
              <dp-config-sorter [sortBy]="'services'"> {{"common.services" | translate}} </dp-config-sorter>
          </th>
          <th class="mdl-data-table__cell--non-numeric">
              <dp-config-sorter [sortBy]="'hdfsUsed'"> {{"pages.infra.labels.hdfsUsed" | translate}} </dp-config-sorter>
          </th>
          <th class="mdl-data-table__cell--non-numeric">
              <dp-config-sorter [sortBy]="'hdfsTotal'"> {{"pages.infra.labels.hdfsTotal" | translate}} </dp-config-sorter>
          </th>
          <th class="mdl-data-table__cell--non-numeric actions"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let lakeHealth of lakesHealth; let index=index" on-mouseover="hoveredIndex=index">
            <td class="mdl-data-table__cell--non-numeric mdl-data-table__cell--placeholder">
                <i class="fa fa-circle" aria-hidden="true" [ngClass]="{'fa-circle--color-up':isUp(lakeHealth.status), 'fa-circle--color-down':isDown(lakeHealth.status), 'fa-circle--color-na':isNotAvailable(lakeHealth.status)}"></i>
            </td>
            <td class="mdl-data-table__cell--non-numeric mdl-data-table__cell--clickable mdl-data-table__cell--width15">{{lakeHealth.lake.data.name}}</td>
            <td class="mdl-data-table__cell--non-numeric mdl-data-table__cell--non-clickable "><span *ngIf="lakeHealth.health">{{lakeHealth.health.nodes? lakeHealth.health.nodes : 'NA'}}</span></td>
            <td class="mdl-data-table__cell--non-numeric mdl-data-table__cell--non-clickable"><span *ngIf="lakeHealth.health && lakeHealth.health.status">{{lakeHealth.health.status.since ? doGetUptime(lakeHealth.health.status.since): 'NA'}}</span></td>
            <td class="mdl-data-table__cell--non-numeric mdl-data-table__cell--non-clickable"><span *ngIf="lakeHealth.health">{{lakeHealth.lake.data.services ? lakeHealth.lake.data.services : 'NA'}}</span></td>
            <td class="mdl-data-table__cell--non-numeric mdl-data-table__cell--non-clickable"><span *ngIf="lakeHealth.health">{{lakeHealth.health.usedSize ? lakeHealth.health.usedSize : 'NA'}}</span></td>
            <td class="mdl-data-table__cell--non-numeric mdl-data-table__cell--non-clickable"><span *ngIf="lakeHealth.health">{{lakeHealth.health.totalSize ? lakeHealth.health.totalSize : 'NA'}}</span></td>
            <td class="mdl-data-table__cell--non-numeric actions">
                <div [ngClass]="{'visibility-visible': index === hoveredIndex, 'visibility-hidden': index !== hoveredIndex}">
                    <button [attr.id]="'dropDown_'+lakeHealth.lake.data.id" class="mdl-button mdl-js-button mdl-button--icon"><i class="fa fa-ellipsis-h fa__fa-ellipsis-h--icon"></i></button>
                    <ul mdl class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" [attr.for]="'dropDown_'+lakeHealth.lake.data.id">
                        <li class="mdl-menu__item"><i class="fa__fa-edit--icon fa fa-edit"></i>Edit</li>
                        <li class="mdl-menu__item"><i class="fa__fa-close--icon fa fa-close"></i>Delete</li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr *ngIf="lakesHealth.length === 0">
            <td class="mdl-typography--text-center" colspan="8" >{{"pages.infra.labels.emptySearchResult" | translate}}</td>
        </tr>
        </tbody>
    </table>
</div>
