@import "../../../../../styles/variables";

.content-pane {
  padding: 0 25px;
}

.title-pane {
  padding: 18px 0px;
  span {
    line-height: 34px;
  }
}

.search-input {
  position: relative;
  display: inline-block;
  margin-right: 6px;
  width: 250px;
  box-sizing: border-box;
  input {
    width: 100%;
    box-sizing: border-box;
  }
  .dp-input__icon {
    position: absolute;
    right: 10px;
    top: 10px;
    color: $dove-gray;
    font-size: 14px;
  }
}

input {
  width: 100%;
  box-sizing: border-box;
}

.btn-hwx-primary {
  float: right;
}

.mdl-typography--text-center {
  text-align: center;
}

.status-up {
  color: $forest-green-1;
}

.status-down {
  color: $roman-red;
}
.status-waiting {
  color: $forest-green-1;
}
.status-na {
  color: $shuttle-gray;
}

.mdl-menu__item {
  padding: 3px 0;

  a, span {
    padding: 0 20px;
    color: $dove-gray;
    text-decoration: none;
    font-weight: normal;
    display: block;
  }
  .fa {
    padding: 0 8px;
  }
}
