<div *ngIf="state==PWS.NOINFO" class="infoNotAvailable">Policy information is not available</div>
<div *ngIf="state==PWS.LOADING" class="loading">Loading ...</div>
<div *ngIf="state==PWS.LOADED" class="infoTable borderBox">
	
	<div class="tableRow tableHeader">
		<div class="tableCell pId">Policy ID</div>
		<div class="tableCell name">Policy Name</div>
		<div class="tableCell status">Status</div> 
		<div class="tableCell auditEnable">Audit Logging</div>
		<div class="tableCell group">Group</div>
		<div class="tableCell user">Users</div>
	</div>
	<div class="tableRow normalRow" *ngFor="let policy of policies">
		<div class="tableCell pId">{{policy.id}}</div>
		<div class="tableCell name">{{policy.name}}</div>
		<div class="tableCell status">{{policy.isEnabled?"ENABLED":"DISABLED"}}</div> 
		<div class="tableCell auditEnable">{{policy.isAuditEnabled?"ENABLED":"DISABLED"}}</div>
		<div class="tableCell group">{{(policy.groups.length?policy.groups.join(", "):"--")}}</div>
		<div class="tableCell user">{{policy.users.length?policy.users.join(", "):"--"}}</div>
	</div>
	<simple-pagination
      [pageSize]="pageSize"
      [pageStartIndex]="pageStartsFrom"
      [count]="count"
      (onPageSizeChange)="onPageSizeChange($event)"
      (onPageChange)="onPageChange($event)"
    ></simple-pagination>

</div>