<section style="padding: 40px;">
  <header style="display: flex;align-items: center">
    <h1 style="flex-grow: 1">Data Lakes</h1>
    <a [routerLink]="['/lake-add']" class="mdl-button mdl-button--colored mdl-color--green mdl-color-text--white mdl-js-button mdl-js-ripple-effect">
      Add
    </a>
  </header>
  <div>
    <p>
      Lorem ipsum dolor amet.
    </p>
    <div>
      <div *ngFor="let cLake of lakes" style="margin-top: 20px;">
        <div style="display:flex; border: 1px solid rgb(204, 204, 204); padding: 15px; background-color: rgb(255, 255, 255);">
          <div style="flex-grow: 1;">
            <div>
              <i class="fa fa-circle" aria-hidden="true" [style.color]="cLake.clustersWithHealth[0].health.status === 'UP' ? 'green' : 'red' "></i>
              {{cLake.lake.name}}
            </div>
            <div>
              <span style="font-weight: lighter; text-transform: uppercase;">Description:</span>
              <span style="font-weight: bold;">
                {{cLake.lake.description}}
              </span>
              </div>
            <div>
              <span style="font-weight: lighter; text-transform: uppercase;">Ambari:</span>
              <span style="font-weight: bold;">
                {{cLake.clustersWithHealth[0].cluster.ambariUrl ? cLake.clustersWithHealth[0].cluster.ambariUrl : '-'}}
              </span>
              </div>
          </div>
          <div style="text-align: right;">
            <div>ONPREM</div>
            <div>{{cLake.location.city}}</div>
          </div>
        </div>
        <div style="display: flex; border: 1px solid rgb(204, 204, 204); background-color: rgb(250, 250, 250);">
          <div style="padding: 5px 15px;text-align: center;border-right: 1px solid rgb(204, 204, 204);">
            <div>NODE</div>
            <div style="font-weight: bold;">12</div>
          </div>
          <div style="padding: 5px 15px;text-align: center;border-right: 1px solid rgb(204, 204, 204);">
            <div>UP TIME</div>
            <div style="font-weight: bold;">{{doGetUptime(cLake.clustersWithHealth[0].health.uptime)}}</div>
          </div>
          <div style="padding: 5px 15px;text-align: center;border-right: 1px solid rgb(204, 204, 204);">
            <div>HDFS</div>
            <div style="font-weight: bold;">400GB</div>
          </div>
          <div style="flex-grow: 1; padding: 5px;text-align: center;border-right: 1px solid rgb(204, 204, 204);"></div>
          <div style="padding: 15px;">
            ACTION
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
