<div class="page-container">
    <div class="mdl-grid mdl-grid--no-spacing ">
        <div class="mdl-cell--2-col hwx-title"> Workspace | {{ workspacesDTOS.length }} </div>
        <div class="mdl-layout-spacer"> </div>
        <div class="actions">
            <div class="dp-input">
                <input type="text" placeholder="Search" name="name" id="search">
                <i class="fa fa-search dp-input__icon" aria-hidden="true"></i>
            </div>

            <dp-tabs [tabEnum]="toggleView" [tabType]="tabType.LAYOUT" [images]="tabImages"> </dp-tabs>

            <button class="mdl-button btn-hwx-primary" (click)="addWorkspace()"> CREATE WORKSPACE</button>
        </div>
    </div>

    <div class="spacer-15"> </div>
    <div class="card-container">
        <div class=" mdl-card" *ngFor="let workspacesDTO of workspacesDTOS">
            <div class="mdl-card__title">
                <div class="card-title"> {{ workspacesDTO.workspace.name }}</div>
                <div class="card-title-sub"><span>Source: </span> <b> {{ workspacesDTO.clustername }} </b></div>
            </div>
            <div class="mdl-card__supporting-text">
                <div class="card-owner"> Owner: {{ workspacesDTO.username }}
                </div>
                <div *ngIf="workspacesDTO.users > 0" class="card-icons pull-right"> {{ workspacesDTO.users }} <i class="fa fa-users" aria-hidden="true"></i></div>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <div class="mdl-grid mdl-grid--no-spacing">
                    <div class="mdl-cell--4-col card-count border borderBox"> TABLES <br> {{ workspacesDTO.counts.asset ? workspacesDTO.counts.asset : '-'  }}</div>
                    <div class="mdl-cell--4-col card-count border borderBox"> NOTEBOOKS <br> {{ workspacesDTO.counts.notebook ? workspacesDTO.counts.notebook : '-' }}</div>
                    <div class="mdl-cell--4-col card-count borderBox"> JOBS <br> - </div>
                </div>
            </div>
            <div class="mdl-card__menu">
                <button [attr.id]="workspacesDTO.workspace.name" class="mdl-button mdl-button--icon"> <i class="fa fa-ellipsis-v" aria-hidden="true"></i> </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" [attr.for]="workspacesDTO.workspace.name">
                    <li class="mdl-menu__item" (click)="delete(workspacesDTO.workspace.name)"> Delete </li>
                </ul>
            </div>
        </div>
    </div>
</div>