@import '../../../styles/variables';
@import '../../../styles/charts';

.data-lake-container {
  padding: 15px 30px;
}

.total-assets {
  font-size: 2.4em;
  font-weight: 500;
}

.charts-cards-container {
  .charts-card {
    min-height: 350px;
  }
}

:host ::ng-deep .nv-multiBarWithLegend .tick line {
  stroke: transparent;
}