@import "../../../../../styles/variables";

.result-viewer {
  margin-left: $side-nav-width;
}

.search-input {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  width: 250px;
  box-sizing: border-box;
  input {
    width: 100%;
    box-sizing: border-box;
  }
  .dp-input__icon {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #666666;
    font-size: 14px;
  }
}

.result-header {
  .mdl-button-group {
    .mdl-button {
      float: left;
      background-color: $white;
      color: $dove-gray;
      padding: 0 15px;
      box-shadow: none;
      border-radius: 0;
      height: 34px;
      min-width: 42px;
      border: 1px solid $iron;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;

      & + .mdl-button {
        border-left: 0;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }
    }

    .button-color--dark-grey {
      background-color: $dove-gray;
      color: white;
    }
    & > *:first-child {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
    & + * {
      margin-left: 10px;
    }
  }
}

.result-header  .result-header-buttonCont {
  float: right;
}
