@import "../../../../../styles/variables";

.dataset-search {
  width:100%;
  padding-right: 15px;
  border-top: 1px solid $mercury;
  border-bottom: 1px solid $mercury;
  background: $wild-sand;

  input {
    width: 100%;
    background: transparent;
    padding-left: 40px;
    border:none;
    font-size: 14px;
  }

  .mdl-button {
    padding-right: 15px;
  }

  .dp-input {
    &:before {
      font-family: FontAwesome;
      content: '\f002';
      position: absolute;
      top: 12px;
      padding-left: 20px;
    }
  }
}

.result-viewer {
  margin-left: $side-nav-width;
}

.result-header {
  .mdl-button-group {
    .mdl-button {
      float: left;
      background-color: $white;
      color: $dove-gray;
      padding: 0 15px;
      box-shadow: none;
      border-radius: 0;
      height: 34px;
      min-width: 42px;
      border: 1px solid $iron;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;

      & + .mdl-button {
        border-left: 0;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }
    }

    .button-color--dark-grey {
      background-color: $dove-gray;
      color: white;
    }
    & > *:first-child {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
    & + * {
      margin-left: 10px;
    }
  }
}

.result-header  .result-header-buttonCont {
  float: right;
}
