<dlm-cluster-card [isSelected]="isSelected" [isDisabled]="cluster.disabled">
  <div [ngClass]="{'pointer': !cluster.disabled, 'disabled': cluster.disabled, 'frozen': isFrozen}" [tooltip]="tooltip">
    <div class="row">
      <div class="col-md-8">
        <div [ngClass]="{'text-muted': !isSelected, 'cluster-name': true}">{{cluster.name}}</div>
        <div [ngClass]="{'text-muted': !isSelected}">{{ cluster.location.city }}, {{ cluster.location.country }}</div>
      </div>
      <div class="col-md-4 cluster-volume-col">
        <div [ngClass]="{'text-muted': !isSelected, 'cluster-volume': true, 'selected': isSelected}"><span [innerHTML]="cluster.stats.CapacityRemaining | bytesSize"></span></div>
      </div>
    </div>
  </div>
</dlm-cluster-card>
