.taggingWidget {
  border-width: 0px;
}

.taggingWidget > .tagSticker.focus,
.taggingWidget > .tagSticker {
  background-color: rgb(65,144,188);
  color:white;
  border-color: transparent;
  border-radius: 8px;
  height:24px;
  margin:4px;
  font-size: 12px;
  padding-top: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.taggingWidget input{
  height:36px;
}
