text {
    font: 12px sans-serif;
}
svg {
    display: block;
}
html, body, svg {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}
.histoPiCont{
    margin-top:50px;
    height:200px;
    width:75%;
    float:left;
}
.boxPlotCont{
    height:300px;
    width:22%;
    float:right;
}

.onlyHisto .histoPiCont{
    width:100%;
}

.onlyHisto .boxPlotCont{
    width:0%;
}
.showPi .histoPiCont{
    margin-top:0px;
    height:300px;
}

.showPi .boxPlotCont{
    display:none;
}
.noDataAvailable {
  text-align: center;
}
