<div class="pull-left applied-filters-wrapper" qe-attr="applied-filters">
  <span class="label label-default filter-item" qe-attr="applied-filter"
        *ngFor="let filter of appliedFiltersMapped">
    <strong>{{getFilterTitle(filter.key)}}</strong>: {{filter.value | truncate:25}}
    <a href="javascript:void(0);" (click)="removeFilter(filter)">&times;</a>
  </span>
</div>
<div class="pull-right">
  <div class="form-group has-feedback">
    <span class="glyphicon glyphicon-filter form-control-feedback"></span>
    <input
      qe-attr="table-filter-input"
      [(ngModel)]="filter"
      [typeahead]="typeaheadOptions"
      typeaheadOptionField="value"
      typeaheadGroupField="filter.filterTitle"
      (typeaheadOnSelect)="addFilter($event)"
      class="form-control">
  </div>
</div>