@import "../styles/variables";

.dp-layout__drawer {
  background-color: rgb(213, 213, 213);
}

.maximised {
  margin-left: $side-nav-width;
  transition: 0.5s;
}

.minimized {
  margin-left: 50px;
  transition: 0.5s;
}

.default {
  margin-left: 0px;
}

.main {
  transition: 0.5s;
}
.page-content {
  min-height: calc(100vh - 55px);
  position: relative;
}

