<dp-header mdl [headerData]="headerData" [user]="getUser()" *ngIf="isUserSignedIn()" [(persona)]="persona" [(viewPaneState)]="viewPaneState"> </dp-header>
<dp-collapsible-nav mdl [headerData]="headerData" *ngIf="isUserSignedIn()" [(persona)]="persona" [(viewPaneState)]="viewPaneState"> </dp-collapsible-nav>
<main [ngClass]="{'maximised': isUserSignedIn() && viewPaneStates.MAXIMISE  === viewPaneState,
                    'minimized': isUserSignedIn() && viewPaneStates.MINIMISE === viewPaneState,
                    'default' : isUserSignedIn() && viewPaneStates.DEFAULT === viewPaneState}">

  <div mdl class="page-content"> <router-outlet></router-outlet></div>

</main>
