<dp-header [headerData]="headerData" [user]="getUser()" *ngIf="isUserSignedIn()" [(persona)]="persona" [(viewPaneState)]="viewPaneState"> </dp-header>
<dp-collapsible-nav [headerData]="headerData" *ngIf="isUserSignedIn()" [(persona)]="persona" [(viewPaneState)]="viewPaneState"> </dp-collapsible-nav>
<main [ngClass]="{'maximised': viewPaneStates.MAXIMISE  === viewPaneState,
                    'minimized': viewPaneStates.MINIMISE === viewPaneState,
                    'default' : viewPaneStates.DEFAULT === viewPaneState}">

  <div class="page-content"> <router-outlet></router-outlet></div>

</main>
