<div class="load-right-to-left-slider dialog1x">
  <div class="title-container">
    <div class="text-medium">
      <span *ngIf="mode === modes.ADD">{{"pages.infra.labels.addUser" | translate}}</span>
      <span *ngIf="mode === modes.EDIT">{{user? user.userName: ''}}</span>
      <i class="fa fa-remove close-icon" (click)="back()"></i>
    </div>
  </div>
  <div class="slider-container">
    <div *ngIf="mode === modes.ADD">
      <div class="dp-input">
        <label>{{"pages.infra.labels.usernameorgroup" | translate}}</label>
        <tagging-widget id="tags" class="user-tags"
          [tags]="users"
          [availableTags]="availableUsers"
          [clearOnSearch]="true"
          [theme]="tagTheme.DARK"
          [restrictFreeText]="true"
          (textChange)="onUserSearchChange($event)"
          (onNewSearch)="onNewUserAddition($event)"></tagging-widget>
      </div>
      <div class="dp-input">
        <label>{{"pages.infra.labels.roles" | translate}}</label>
        <tagging-widget class="role-tags" id="role-tags"
          [tags]="roles"
          [availableTags]="availableRoles"
          [clearOnSearch]="true"
          [theme]="tagTheme.DARK"
          [restrictFreeText]="true"
          (textChange)="onRoleSearchChange($event)"
          (onNewSearch)="onNewRoleAddition($event)"></tagging-widget>
      </div>
    </div>
    <div *ngIf="mode === modes.EDIT">
      <div class="mdl-grid mdl-grid--no-spacing" style="padding-top: 15px">
        <div class="mdl-cell mdl-cell--2-col">{{"pages.infra.labels.username" | translate}}</div>
        <div class="mdl-cell mdl-cell--1-col">  &nbsp;: </div>
        <div class="mdl-cell mdl-cell--9-col">{{user? user.userName: ''}} </div>
      </div>
      <div class="mdl-grid mdl-grid--no-spacing" style="padding-top: 15px">
        <div class="mdl-cell mdl-cell--2-col">{{"common.status" | translate}}</div>
        <div class="mdl-cell mdl-cell--1-col"> &nbsp;: </div>
        <div class="mdl-cell mdl-cell--9-col">
          <label class="mdl-switch mdl-js-switch" [ngClass]="{'is-checked': user.active}" for="status-switch">
          <input type="checkbox" id="status-switch" class="mdl-switch__input" [(ngModel)] = "user.active"/>
          <span class="mdl-switch__label">{{user && user.active? ("pages.infra.labels.active" | translate) : ("pages.infra.labels.inactive" | translate)}}</span>
          </label>
        </div>
      </div>
      <div class="mdl-grid mdl-grid--no-spacing" style="padding-top: 15px">
        <div class="mdl-cell mdl-cell--2-col">Roles</div>
        <div class="mdl-cell mdl-cell--1-col">  : </div>
        <div class="mdl-cell mdl-cell--9-col">
          <tagging-widget class="role-edit-tags" id="role-tags" [tags]="userRoles"
          [availableTags]="availableRoles"
          [clearOnSearch]="true"
          (textChange)="onRoleSearchChange($event)"
          (onNewSearch)="onRolesEdit($event)"
          [theme]="tagTheme.DARK"
          [restrictFreeText]="true"></tagging-widget>
        </div>
      </div>
    </div>
    <div class="margin-top-20">
      <button class="mdl-button btn-hwx-primary margin-right-10" (click)="save()">SAVE</button>
      <button class="mdl-button btn-hwx-default" (click)="back()">CANCEL</button>
    </div>
  </div>
</div>
